<!-- Start Hero -->
<section class="relative table w-full md:py-44 py-36 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="md:col-span-7">
        <div class="md:me-6">
          <div
               class="bg-white dark:bg-slate-900 text-slate-400 py-2 px-4 inline-flex items-center font-medium rounded-full shadow dark:shadow-gray-800">
            <span class="bg-secondary text-white text-[12px] font-bold px-2.5 py-0 rounded-full me-2">Mundaly</span> Act
          </div>
          <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 mt-4">See social issues, Set
            targets & Plan
          </h4>
          <p class="text-slate-400 text-lg max-w-xl">Set sustainability targets to reduce community relations risks</p>

          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business/book-demo']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
              a demo</a>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="md:col-span-5">
        <div class="relative">
          <img src="assets/images/for-business/act/act.jpg"
               class="rounded-lg shadow-md dark:shadow-gray-800" alt="">
          <!-- <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
            <a href="#!" data-type="youtube" data-id="S_CGed6E610"
               class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-headline-risk dark:text-white">
              <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
            </a>
          </div> -->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end grid-->
  </div>
  <!--end container -->
</section>
<!--end section-->
<!-- End Hero -->


<!-- Understand your impact obligations -->
<section class="relative overflow-hidden md:pt-24 pt-16">
  <div class="grid grid-cols-1 pb-8 text-center">
    <!-- <h6 class="text-secondary text-sm font-bold uppercase mb-2">Impact Obligation</h6> -->
    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">See the BIGGER picture</h3>
    <p class="text-slate-400 max-w-xl mx-auto">Know where your impact initiatives reside</p>
  </div>
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="lg:col-span-5 md:col-span-6">
        <div class="grid grid-cols-12 gap-6 items-center relative">
          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6"><img src="assets/images/for-business/act/act1.svg" alt=""
                   class="shadow rounded-md" style="width: 210px; height: 272px;"><img
                   src="assets/images/for-business/act/act2.svg" alt="" class="shadow rounded-md"
                   style=" width: 210px; height: 272px;"></div>
          </div>
          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6"><img src="assets/images/for-business/act/act3.svg" alt=""
                   class="shadow rounded-md" style=" width: 210px; height: 272px;"></div>
          </div>
          <!-- <div
               class="overflow-hidden after:content-[''] after:absolute after:h-[512px] after:w-[512px] after:bg-impact-fidelity/20 after:top-0 after:-end-5 after:-z-1 after:rounded-full">
          </div> -->
        </div>
      </div>
      <div class="lg:col-span-7 md:col-span-6">
        <div class="lg:ms-5">
          <h3 class="mb-6 md:text-4xl md:leading-normal text-3xl leading-normal font-semibold">Visualize your
            initiatives
          </h3>
          <p class="text-slate-400 max-w-xl">Clear Insight for Clear Action</p>
          <ul class="list-none text-slate-400 mt-4">
            <li class="mb-1 flex"><i class="uil uil-check-circle text-secondary text-xl me-2"></i> Easily assign impact
              partners to specific
              initiatives based on their expertise and availability.
            </li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-secondary text-xl me-2"></i> Social Issue Mapping:
              Identify location-specific
              social issues
              that align with your initiatives.
            </li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-secondary text-xl me-2"></i> Engage your impact
              partners on projects and
              initiatives </li>
          </ul>
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business/book-demo']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
              a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- Engage partners -->
<section class="relative overflow-hidden py-16 bg-slate-50">
  <div class="grid grid-cols-1 pb-8 text-center">
    <!-- <h6 class="text-secondary text-sm font-bold uppercase mb-2">Engage Partners</h6> -->
    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Social impact initiatives with
      proven impact. </h3>
  </div>
  <!-- Funders and implementers -->
  <div class="grid md:grid-cols-2 grid-cols-1  px-48 gap-10 md:gap-24">

    <!-- Researchers -->
    <div class=" flex flex-col  pb-5">
      <div class="flex justify-center">
        <div class="bg-[#b0dbde] object-contain w-fit  rounded-3xl">
          <img class="w-[220px] h-[144px] object-cover object-top"
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/a6nzmslsukkk0h522jln" />
        </div>

      </div>


      <h3 class="text-2xl text-center text-black font-bold py-5">
        Researchers
      </h3>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon2.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Access Available Research Participants Anywhere
          in the world.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon5.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Save Time and Money related to Travel Expenses
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon6.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Select Participants from Specific Communities, not just Countries.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon8.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Get Representative, Equitable Data
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon10.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Minimize Participant Loss-To Follow-up.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon8.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Get Complete Datasets in 4 hours or Less.
        </h3>
      </div>
    </div>

    <!-- Implementers -->
    <div class=" flex flex-col  pb-5">
      <div class="flex justify-center"><img class="md:max-w-[231px]" src="assets/images/business/Screenshot 2024-02-08 at 4.43 1.png" /></div>

      <h3 class="text-2xl text-center text-black font-bold py-5">
        Implementer
      </h3>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon6.png" />
        <h3 class="text-lg text-left text-black font-bold">
          See, in real-time, the most effective actions to have impact.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon7.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Proactively track your community engagement risks.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon8.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Monitor and evaluate your community impact over time.
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon9.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Export peer-reviewed impact reports for funders
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon10.png" />
        <h3 class="text-lg text-left text-black font-bold">
          Download photos and videos to communicate your impact
        </h3>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-2 pb-4">
        <img class="md:max-w-[219px]" src="assets/images/business/icons/Featured icon11.png" />
        <h3 class="text-lg text-left text-black font-bold">
          See opportunities for improvement and create plans to achieve them.
        </h3>
      </div>
    </div>
  </div>

</section>


<!-- JOin Zhim -->
<section class="relative  py-16 ">
  <div class="grid grid-cols-1 pb-8 text-center">
    <h6 class="text-secondary text-sm font-bold uppercase mb-2">Join ZHIP</h6>

  </div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center items-end">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold"><span
              class="text-secondary">Collaboration
        </span> & Connection</h3>
      <p class="text-slate-400 w-full">Be Part of the Impact Revolution. Exchange insights, strategies,<br> and best
        practices with like-minded impact
        leaders.</p>
      <div class="mt-6 mb-3 hidden md:block">
        <a [routerLink]="['/business/book-demo']"
           class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
          a demo</a>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->


</section>





<!-- <section class="section">
  <div class="container relative md:py-24 py-16 bg-slate-100">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Experience Mundaly for Yourself
      </h3>
      <p class="text-slate-400 max-w-xl mx-auto">Ready to experience the benefits of Mundaly? Request a demo now, and our
        team will guide you through the tool's capabilities. </p>
      <div class="mt-6"><a href="contact-one.html"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-secondary hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-md"><i
             class="uil uil-phone align-middle me-2"></i> Request a demo</a></div>
    </div>
  </div>
</section> -->