<div class="text-sm font-medium text-center mt-10 text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">

        <ng-container
                      *ngIf="currentLoggedInOrganization?.type_organization_id === TypeOrganizationEnum.IMPACT_FUNDER || currentLoggedInOrganization?.type_organization_id === TypeOrganizationEnum.CORPORATION">
            <li class="me-2">
                <a [routerLink]="['requested']"
                   routerLinkActive="text-primary border-primary font-semibold"
                   class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 text-lg">
                    Requested
                </a>
            </li>

            <li class="me-2">
                <a [routerLink]="['received']"
                   routerLinkActive="text-primary border-primary font-semibold"
                   class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 text-lg">
                    Received
                </a>
            </li>
        </ng-container>



        <!-- Reverse it for Implementers -->
        <ng-container
                      *ngIf="currentLoggedInOrganization?.type_organization_id === TypeOrganizationEnum.IMPACT_IMPLEMENTER || currentLoggedInOrganization?.type_organization_id === TypeOrganizationEnum.SUPPLIER">
            <li class="me-2">
                <a [routerLink]="['received']"
                   routerLinkActive="text-primary border-primary font-semibold"
                   class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 text-lg">
                    Received
                </a>
            </li>
            <li class="me-2">
                <a [routerLink]="['requested']"
                   routerLinkActive="text-primary border-primary font-semibold"
                   class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 text-lg">
                    Requested
                </a>
            </li>


        </ng-container>



    </ul>
</div>

<div class="bg-slate-100">
    <router-outlet></router-outlet>
</div>