<section
         class="relative table w-full  pt-36  overflow-hidden  dark:from-indigo-600/20  dark:to-yellow-500/20">
  <div class="container relative mb-15">
    <div class="grid grid-cols-1 mt-8">

      <h4 class="lg:leading-normal text-primary  leading-normal text-5xl  mb-4 font-medium"> Find <span class="font-extrabold">Impactful</span>
        <br>
        <span
              class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-[#A6EBE3] relative inline-block">
          <span class="typewrite text-white relative">
            <app-typewriter [textList]="['Organizations', 'NGOs', 'Hospitals', 'Startups', 'Businesses']"></app-typewriter></span>
        </span>
        <br>

      </h4>

      <p class="text-primary text-xl max-w-2xl mb-24">Rated by communities, not third party evaluators.<br>
        Read reviews, write reviews and earn rewards.</p>

      <app-home-search-bar></app-home-search-bar>

    </div>

    <div class="flex justify-between items-center mt-5 pt-14 pb-[26px] ">
      <img class="h-9  " src="assets/images/partners/aterian.png" />
      <img class="h-17 " src="assets/images/partners/clinton.png" />
      <img class="h-17" src="assets/images/partners/victoria.png" />
      <img class="h-11" src="assets/images/partners/yale.png" />
      <img class="h-11" src="assets/images/partners/penn.png" />
      <img class="h-11" src="assets/images/partners/cocoa.png" />
      <!-- <img class="h-full" src="assets/images/partners/hero.png" /> -->

    </div>

  </div><!--end container-->

  <app-home-category-list></app-home-category-list>


  <div
       class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
  </div>
  <div class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
  </div>

  <div style="width: 28rem; height: 19rem; border-radius: 12px; overflow: hidden " class="absolute top-[165px] right-[250px]  ">
    <img src="assets/images/hero1.png" alt="" class="h-full w-full">
  </div>


  <!-- <div style="width: 25rem; height: 50rem; "
       class="absolute  rounded-full overflow-auto top-[150px] right-[100px]">
    <img src="assets/images/hero2.jpeg" alt="">
  </div> -->
</section>