<section class="relative max-w-[100vw]  pt-36 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20">
  <div class="container relative ">
    <div class="grid grid-cols-1 md:grid-cols-2 ">

      <div class="mb-12 max-w-2xl text-center md:text-start items-center">
        <h4
          class= " font-semibold lg:leading-normal md:leading-normal md:text-2xl leading-normal md:text-start text-center text-4xl mb-4 text-primary">
          Know with confidence the most</h4>
        <h4 class=" text-primary text-5xl  leading-normal mb-4 font-medium break-words">
          <span class="font-extrabold">Impactful </span>
          <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary relative inline-block">
            <span class="typewrite text-white relative">
                <app-typewriter [textList]="['Organizations', 'NGOs', 'Hospitals', 'Startups', 'Businesses']"></app-typewriter>
            </span>
          </span>
          <br/>
        </h4>
        <br>
        <p class="md:text-xl mt-1 lg:leading-normal md:leading-normal leading-normal md:text-start mb-4 text-primary ">
          Rated by communities, not just 3rd party evaluators.<br>
          Read reviews, write reviews and earn rewards.
        </p>
      </div>

      <div class=" md:h-[19rem] md:w-[24rem] w-full rounded-[12px] overflow-hidden justify-self-center md:mr-7">
        <img src="assets/images/hero1.png" alt="" class="h-full w-full">
      </div>

    </div>

    <div class=" mt-16 mb-4">
      <app-home-search-bar></app-home-search-bar>
    </div>


    <!-- Companies list -->
    <div class="flex justify-evenly md:justify-center items-center pt-10 gap-0 gap-y-4 md:gap-24 flex-wrap">
      <img class="h-5 md:h-7  " src="assets/images/partners/aterian.png" />
      <img class="h-7 md:h-9 " src="assets/images/partners/cocoa.png" />
      <img class="h-9 md:h-11" src="assets/images/partners/victoria.png" />
      <img class="h-7 md:h-9" src="assets/images/partners/yale.png" />
      <img class="h-10 md:h-12" src="assets/images/partners/penn.png" />
      <img class="h-14 md:h-16" src="assets/images/partners/clinton.png" />
      <!-- <img class="h-full" src="assets/images/partners/hero.png" /> -->

    </div>

  </div><!--end container-->

  <app-home-category-list></app-home-category-list>


  <div
       class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] fixed top-[-333px] left-[-58px]">
  </div>
  <div class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 md:bg-violet-950 rounded-full blur-[400px] fixed right-[-10.5rem] top-[10rem]">
  </div>




  <!-- <div style="width: 25rem; height: 50rem; "
       class="absolute  rounded-full overflow-auto top-[150px] right-[100px]">
    <img src="assets/images/hero2.jpeg" alt="">
  </div> -->
</section>
