<section
         class="relative table w-full py-36 lg:py-44 bg-gradient-to-br from-slate-200 via-secondary/30 to-primary/40 dark:from-indigo-600/20  dark:to-yellow-500/20">
  <div class="container relative">
    <div class="grid grid-cols-1 mt-10">
      <!-- <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold"> The Community Intelligence<br> Platform For
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
          <span class="typewrite text-white relative" data-period="2000"
                data-type="[ &quot;Organisation&quot;, &quot;NGOs&quot;, &quot;Governments&quot;, &quot;Startups&quot;, &quot;Businesses&quot;]"><span
                  class="wrap">Classic Saa</span></span></span>
      </h4> -->
      <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold"> Find
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
          <span class="typewrite text-white relative">
            <app-typewriter [textList]="['Organisation', 'NGOs', 'Governments', 'Startups', 'Businesses']"></app-typewriter></span>
        </span>
        <br>
        <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold wrap"> Communities Trust! </h4>
        <!-- <span class="wrap"> Classic Saa</span> -->
      </h4>

      <p class="text-slate-400 text-lg max-w-xl">Is that company in your community really doing what they claim? <br> How about their products and
        services? <br> See what others
        think & add your voice.</p>

      <app-home-search-bar></app-home-search-bar>

      <div class="mt-6">
        <span class="text-slate-400"><span class="text-dark">Popular:</span> Health Facilities in
          Ghana</span>
      </div>
    </div>
  </div><!--end container-->
</section>