<ng-container *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">
  <div class="md:p-5 p-3"
       *ngIf="!loading && communityPerceptionService.score">
    <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-3 md:p-3 md:p-6">
      <div class="md:text-lg text-sm font-bold">Verify Metrics</div>

    </div>

    <div class="relative overflow-x-auto shadow-md ">
      <table class="w-full text-xs md:text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              #
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3 ">
              Category
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              Key
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              Score
            </th>

          </tr>
        </thead>
        <tbody>
          <!-- Communication -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              1
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Communication
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(communityPerceptionService.score.communication!) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ communityPerceptionService.score.communication}}
              </div>
            </td>





            <!-- Contribution and Impact -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              2
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Contribution and Impact
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(communityPerceptionService.score.contribution_and_impact!) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ communityPerceptionService.score.contribution_and_impact}}
              </div>
            </td>






            <!-- Consideration of context -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              3
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Consideration of Context
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(communityPerceptionService.score.consideration_of_context!) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ communityPerceptionService.score.consideration_of_context}}
              </div>
            </td>





            <!-- Vision alignment -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              4
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Vision Alignment
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(communityPerceptionService.score.vision_alignment!) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ communityPerceptionService.score.vision_alignment}}
              </div>
            </td>









        </tbody>
      </table>

    </div>
  </div>

</ng-container>


<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>
