<div class="container-fluid" *ngIf="single">
  <!-- Gradient cover background -->
  <div
       class="relative table w-full py-32 lg:py-36 bg-gradient-to-br from-slate-200 via-secondary/30 to-primary/40 dark:from-primary/20  dark:to-yellow-500/20">
  </div>

  <!-- Shape of the gradient cover -->
  <div class="relative">
    <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden text-white dark:text-slate-900">
      <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>

  <!-- Company informations -->
  <div class="md:flex justify-center">
    <div class="md:w-full">
      <div class="relative -mt-[100px] text-center">
        <!-- Company profile logo -->
        <div class="group profile-pic  mx-auto">
          <div
               class="relative h-200 w-200 mx-auto rounded-full shadow dark:shadow-gray-800 ring-4 ring-slate-50 dark:ring-slate-800 overflow-hidden">

            <!-- Image element -->
            <img [src]="single.logo"
                 class="rounded-full" id="profile-image" [alt]="single.name">

            <div class="absolute inset-0 group-hover:bg-slate-900/10 duration-500"></div>
            <label class="absolute inset-0 cursor-pointer" for="pro-img"></label>
          </div>
        </div>

        <!-- Company basic information -->
        <div class="mt-4">
          <!-- Name -->
          <h5 class="text-3xl font-semibold">
            {{single.name}}
            <i class="mdi mdi-check-decagram text-secondary align-middle text-lg" *ngIf="single.profile_status?.id == 2"></i>
          </h5>

          <!-- Additional information -->
          <div class="flex justify-center">
            <div class="flex items-center justify-around">
              <!-- Location -->
              <span class="text-slate-600 font-medium mr-12"><i class="uil uil-map-marker text-secondary me-1"></i>{{ single.location }}</span>

              <!-- Country -->
              <span class="text-slate-600 font-medium mr-12"><i class="uil uil-globe text-secondary me-1"></i>{{ single.country?.name }}</span>

              <!-- Website -->
              <span class="text-slate-600 font-medium "><i class="uil uil-desktop-alt text-secondary me-1"></i><a
                   [href]="single.website" target="_blank" class="text-primary underline">visit website</a></span>
            </div>

          </div>


        </div>

        <!-- Provide Feedback button -->
        <div class="mt-4">
          <a href="javascript:void(0)"
             class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center rounded-full bg-transparent hover:bg-primary hover:text-white border-primary hover:border-indigo-700 text-primary">
            <i class="uil uil-comment-alt"></i> Take survey
          </a>

        </div>
      </div>
    </div>
  </div>
</div>