<section class="relative md:py-24 py-16 overflow-hidden">
  <div class="container relative">

    <div class=" flex-col justify-start items-center gap-[100px] inline-flex">
      <div class="grid grid-cols-2 items-center">
        <!-- Text -->
        <div class=" flex-col justify-start items-start  gap-6 inline-flex">
          <div class="py-2.5 flex-col justify-center  items-start gap-2.5 flex">
            <!-- About mundaly button-->
            <!-- <div class="px-4 py-3 mb-3 bg-slate-50 rounded-full shadow-lg">
              <div class="text-primary text-lg font-medium ">About Mundaly</div>
            </div> -->

            <!-- Title -->
            <div class=" text-primary text-4xl font-bold ">Finding great business for your communities</div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>

          <p class=" text-primary text-[20px] font-normal ">Mundaly blends 8+ years of rigorous scientific
            research from Yale and Cambridge Universities.<br><br>Our real-time, research-backed community surveys enable you to validate the
            impact of your initiatives, gauge your reputation, and proactively mitigate headline
            risks.<br /><br />Community is the driving force behind the verification of
            social impact, distinguishing us from traditional third-party registries.</p>

          <!-- Button -->
          <div class="px-7 py-3  bg-[#A6EBE3] rounded-full border border-violet-950 justify-center items-center gap-2.5 inline-flex">
            <div class="text-violet-950 text-xl font-normal font-['Roboto']">Learn More</div>
          </div>
        </div>


        <div class="justify-start items-start flex relative">
          <!-- <div class="w-[578px] h-[578px] left-[35px] top-[28px] absolute opacity-20 rounded-[105px] border-4 border-red-500"></div>
          <div class="w-[578px] h-[578px] left-[18px] top-[17px] absolute opacity-40 rounded-[105px] border-4 border-red-500"></div>
          <div class="w-[578px] h-[578px] left-0 top-0 absolute opacity-60 rounded-[105px] z-0  border-4 border-red-500"></div> -->
          <img class="w-[578px] h-[578px] z-10 rounded-[105px] border-4 border-while" src="assets/images/about-us.svg" />
        </div>
      </div>
    </div>
  </div>

  <div
       class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute bottom-[-333px] left-[-58px]">
  </div>
  <div class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
  </div>

</section>
