<!--         receiving impact section           -->
<section class="relative overflow-hidden">
  <div class="p-5">
    <h3 class="text-center  my-5 text-2xl font-bold text-primary">Add your voice</h3>
    <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/lix2zxyrmziysur7mvus" alt="" class="h-full w-full">
  </div>

  <div
       class="w-[316px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute bottom-[-333px] left-[-58px]">
  </div>
  <div
       class="w-[337px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 md:bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
  </div>
</section>

<!--         Delivering impact section           -->
<section
         class="relative  bg-no-repeat overflow-visible z-10 ">

  <div class="p-20 relative">
    <div class="md:text-3xl text-2xl text-center text-primary font-bold">
      Confirm Impact and Earn Rewards with the Mundaly App
    </div>

    <div class="text-center md:text-xl text-lg text-primary md:mt-5 px-2 mt-3 font-medium">
      Keep Mundaly in your pocket. Read reviews or write them—all while on the go.
    </div>

    <div class="flex  mt-10 justify-center">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/gxz4zkbsam4096g6r18a" alt="" class="w-[900px] ">
    </div>
  </div>

  <div class="bg-slate-50  absolute   w-full bottom-0">
    <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/div.styles_download__Ea3ue_p1topl" alt="" class="w-full ">
  </div>
</section>

<!--         what people say about us section          -->
<section class="relative  max-w-[100vw] box-border">
  <div class="container relative  flex flex-col  items-center">
    <!--<div class="grid grid-cols-1 text-center">
      <h3
        class="text-primary md:text-3xl text-2xl font-bold md:leading-normal leading-normal mb-12"
      >
        What people say about us
      </h3>
    </div>-->


    <!-- Container for demo purpose -->
    <div class="container my-16 mx-auto md:px-6">
      <!-- Section: Design Block -->
      <section class="mb-32 text-center md:text-left">
        <div
             class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
          <div class="flex flex-wrap items-center">
            <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
              <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/q2sywlw3ds1hpwzsvmfz" alt="Trendy Pants and Shoes"
                   class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
            </div>
            <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
              <div class="px-6 py-12 md:px-12">
                <h2 class="mb-2 text-3xl font-bold text-primary dark:text-primary-400">
                  Mrs Gianna B
                </h2>
                <p class="mb-4 font-semibold">Nurse and Community Member,</p>

                <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                  Mundaly has been a great place for my neighbors and I to verify impact whenever we (not organizations) want! And they value my voice
                  with rewards
                  too!"
                </p>
                <ul class="flex justify-center md:justify-start">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                         class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                            d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                         class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                            d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                         class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                            d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                         class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                            d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                         class="w-5 text-primary dark:text-primary-400">
                      <path fill="currentColor"
                            d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z" />
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->

    <!--end grid-->
  </div>
  <!--end container-->
</section>

<!--         Demo experience section          -->
<section class="section bg-white">
  <div class="container relative md:py-24 py-16">
    <div class="grid grid-cols-1 text-center">
      <h3 class="text-center text-violet-950 text-3xl font-bold ">
        Experience Mundaly for yourself.
      </h3>

      <div class="mt-6">
        <a [routerLink]="['/for-business/book-demo']"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-full"><i
             class="uil uil-phone align-middle me-2"></i> Request a demo</a>
      </div>
    </div>
  </div>
</section>