<section class="relative py-14 overflow-hidden">
  <div class="container relative">
    <div class="flex-col justify-start items-center inline-flex">
      <div class="grid grid-col-1 md:grid-cols-2 items-center gap-12">
        <!-- Text -->
        <div class="flex-col justify-start items-start gap-6 inline-flex">
          <div class="py-2.5 flex-col justify-center items-start gap-2.5 flex">
            <!-- Title -->
            <div
              class="text-primary md:text-start text-center text-3xl md:text-4xl font-bold"
            >
              Finding great business for your communities
            </div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>

          <p class="text-primary text-lg font-normal">
            Mundaly blends 8+ years of rigorous scientific research from Yale
            and Cambridge Universities.<br /><br />Our real-time,
            research-backed community surveys enable you to validate the impact
            of your initiatives, gauge your reputation, and proactively mitigate
            headline risks.<br /><br />Community is the driving force behind the
            verification of social impact, distinguishing us from traditional
            third-party registries.
          </p>

          <!-- Book a demo button -->
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/for-business/book-demo']"
              class="lightbox w-full cursor-pointer hover:bg-secondary-dark py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Learn
              more</a>
          </div>
        </div>

        <div
          class="justify-start items-start flex relative order-first md:order-last"
        >
          <img
            class="w-[530px] h-[530px] z-10 rounded-[105px] border-4 border-while"
            src="assets/images/about-us.svg"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute bottom-[-333px] left-[-58px]"
  ></div>
  <div
    class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-400 md:bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]"
  ></div>
</section>

<section class="section">
  <div class="container relative md:py-12 py-16">
    <div class="w-full h-auto px-5 py-8 rounded-lg flex-col justify-start items-center gap-4 inline-flex">
      <img src="assets/images/for-business/mdi_lightbulb-on.svg" />
      <div class="w-full text-center text-violet-950 text-2xl font-semibold ">Report first-hand
        on social impact initiatives that corporations do in the society.<br />  Get to earn rewards and incentives as you share feedback and reviews. </div>
    </div>

    <div class="container relative md:py-12 py-16">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">
        Ready, Set, Go!
      </h3>
      <p class="text-slate-400 max-w-xl mx-auto">
        Ready to experience the benefits of Mundaly? Request a demo now, and our
        team will guide you through the tool's capabilities.
      </p>
    <!-- Book a demo button -->
    <div class="mt-6">
      <a [routerLink]="['for-business/book-demo']"
        class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-full"><i
          class="uil uil-phone align-middle me-2"></i> Request a demo</a>
    </div>
    </div>
    </div>
  </div>
</section>
