<ul class="flex flex-wrap -mb-px " *ngIf="!impactInitiativeService.singleData">
    <li class="me-2">
        <a [routerLink]="['']"
           routerLinkActive="text-primary border-primary font-semibold"
           class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 font-normal text-base">
            Impact Initatives
        </a>
    </li>


    <!-- <li class="me-2">
        <a [routerLink]="['community-needs']"
           routerLinkActive="text-primary border-primary font-semibold"
           class="inline-block  p-4 border-b-2  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 font-normal text-base">
            Community Needs
        </a>
    </li> -->



</ul>

<div class="bg-slate-100">
    <router-outlet></router-outlet>
</div>