<div class="h-full flex">
  <div class="w-[300px]">
    <div class="p-3.5 font-bold text-gray-400 border-b">
      Questions
    </div>
    <div class="font-bold border-b text-sm flex gap-2 cursor-pointer" *ngFor="let question of questions; index as i"
      [ngStyle]="{'background-color': activeQuestionIndex === i ? 'white': ''}" (click)="selectQuestion(i)" pDraggable
      (onDragStart)="dragStart(i)" (onDragEnd)="dragEnd()" pDroppable (onDrop)="drop(i)" dragEffect="move">
      <div class="w-[5px]" [ngStyle]="{'background-color': activeQuestionIndex === i ? '#006bdb': ''}">
      </div>
      <div class="grow py-2">
        <div class="flex justify-between">
          <div>
            <span><i class="mdi mdi-drag-vertical"></i></span>
            <span class="text-[#006bdb]">Q{{i + 1}} </span>> {{ questionEnd(i) }}
          </div>
          <div>
            <span *ngIf="activeQuestionIndex === i" class="text-[#006bdb]"><i class="mdi mdi-chevron-right"></i></span>
          </div>
        </div>
        <div class="ps-5 min-h-[10px]">
          {{question.title}}
        </div>
      </div>
    </div>
  </div>
  <div class="grow bg-white py-3 overflow-y-auto">
    <div class="py-3" *ngFor="let question of questions; index as i"  id="{{'question_box_' + i}}">
      <div class="px-10">
        <div class="text-[#006bdb] font-bold">
          <i class="mdi mdi-chevron-right"></i>
          <span>Q{{i+1}}</span>
        </div>
        <div class="flex py-3 justify-between">
          <div>
            <select class="">
              <option>
                <div>
                  Single / Multiple Choice
                </div>

              </option>
              <option>

              </option>

            </select>
          </div>
          <div class="flex gap-2">
            <button class="text-lg cursor-pointer" [disabled]="i === 0" [ngStyle]="{'color': i === 0 ? 'lightgray' : ''}" (click)="moveUpward(i)"  pTooltip="Move This Question Upward" 
            tooltipPosition="top" >
              <i class="mdi mdi-arrow-up"></i>
            </button>
            <button class="text-lg cursor-pointer" [disabled]="questions.length === i + 1" [ngStyle]="{'color': questions.length ===  i + 1 ? 'lightgray' : ''}" (click)="moveDownward(i)" pTooltip="Move This Question Downward" 
            tooltipPosition="top">
              <i class="mdi mdi-arrow-down"></i>
            </button>
            <button class="cursor-pointer" (click)="duplicateQuestion(i)" pTooltip="Duplicate This Question" 
            tooltipPosition="top">
              <i class="mdi mdi mdi-content-copy"></i>
            </button>
            <button class="cursor-pointer" [disabled]="questions.length <= 1" [ngStyle]="{'color': questions.length <= 1 ? 'lightgray' : ''}"
              (click)="removeQuestion(i)" pTooltip="Delete This Question" 
              tooltipPosition="top">
              <i class="mdi mdi-delete-outline"></i>
            </button>
            <button class="text-[#006bdb] cursor-pointer">
              <span><i class="mdi mdi mdi-file-tree"></i></span>
              Q1
            </button>
          </div>
        </div>

        <ng-template #multiChoice>
          <div>
            <div>
              <p class="py-4 text-gray-400">
                Answer Limit
              </p>
              <div class="flex gap-3 items-center">
                <div class="border border-gray-500  px-4 font-semibold flex gap-2 items-center h-[42px]">
                  <input type="radio" name="optionChoice" class="ring-0 cursor-pointer" [checked]="!question.chooseMany" (change)="selectOptionSelection(i, false)" />
                  <span>
                    Choose One
                  </span>

                </div>

                <div class="border border-gray-500 px-4 font-semibold flex gap-2 items-center h-[42px]">
                  <input type="radio" name="optionChoice" class="ring-0 cursor-pointer" [checked]="question.chooseMany" (change)="selectOptionSelection(i, true)" />
                  <span>
                    Choose Many
                  </span>
                </div>

                <div class="px-4 font-semibold flex gap-2 items-center" *ngIf="question.chooseMany">
                  <select class="" (change)="selectOptionManyLimit($event, i)">
                    <option value="false" [selected]="!question.manyOptionLimited">
                      Unlimited
                    </option>
                    <option value="true" [selected]="question.manyOptionLimited">
                      Limited
                    </option>
                  </select>
                </div>
                <div class="border border-gray-500 p-2 font-semibold flex gap-5 items-center h-[42px]" *ngIf="question.chooseMany && question.manyOptionLimited">
                  <button (click)="updateOptionCount(i, 1)"><i class="mdi mdi-plus"></i></button>
                  <span>{{question.optionLimitCount}}</span>
                  <button (click)="updateOptionCount(i, -1)"><i class="mdi mdi-minus"></i></button>
                </div>
              </div>
            </div>

            <div class="py-3">
              <div class="flex justify-between">
                <p>Question</p>
                <div>
                  <button><i class="mdi mdi-plus"></i>Add Image</button>
                </div>
              </div>
              <div class="py-2">
                <input class="w-full rounded-sm ring-0 border border-gray-300 p-1.5"
                  (input)="changeQuestion($event, i)" />
              </div>
            </div>


            <div class="py-3">
              <div class="flex justify-between">
                <p>Answer Option</p>
                <div class="flex items-center gap-2 cursor-pointer">
                  <div class="p-0.5 w-[30px] h-[16px] border border-gray-200 rounded-xl flex" [ngStyle]="{ 'justify-content': question.randomizeOptions ? 'flex-end': 'flex-start' }" (click)="switchRandomizeOption(i)">
                    <div class="w-[10px] h-[10px] rounded-full" [ngStyle]="{ 'background-color': question.randomizeOptions ? 'black': 'gray' }"></div>
                  </div>
                  Randomize Order
                </div>
              </div>
              <div class="py-2" *ngFor="let opt of question.options; index as optionIndex; trackBy: trackByFn">
                <input class="w-full rounded-sm ring-0 border border-gray-300 p-1.5" placeholder="Enter Option" (input)="changeOptionText($event, i, optionIndex)" value="{{opt}}" />
              </div>
            </div>

            <div class="py-3">
              <div class="flex gap-6 items-center text-gray-400">
                <p>Add:</p>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" class="ring-0 cursor-pointer" name="others" value="{{question.other}}" (change)="selectNormalOptions('other', i)" [checked]="question.other" /> Others
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" class="ring-0 cursor-pointer" name="nonOfAbove" value="{{question.nonOfAbove}}" (change)="selectNormalOptions('nonOfAbove', i)" [checked]="question.nonOfAbove" /> None Of the Above
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" class="ring-0 cursor-pointer" name="notSure" value="{{question.notSure}}" (change)="selectNormalOptions('notSure', i)" [checked]="question.notSure" /> Not Sure
                </div>
                <div class="flex gap-2 items-center">
                  <input type="checkbox" class="ring-0 cursor-pointer" name="preferNotSay" value="{{question.preferNotSay}}" (change)="selectNormalOptions('preferNotSay', i)" [checked]="question.preferNotSay" /> Prefer Not To Say
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div *ngTemplateOutlet="multiChoice"></div>
      </div>


      <div class="py-7" *ngIf="i + 1 < questions.length">
        <div class="h-0.5 bg-slate-100 mt-8"></div>
      </div>
      
    </div>



    <div class="flex justify-center items-center p-10">
      <button class="p-2 px-4 border border-[#006bdb] text-[#006bdb] rounded-full" (click)="newQuestion()">
        Add Question
      </button>
    </div>
  </div>

  <div class="w-[350px]">
    <div class="p-4">
      <div class="border border-gray-200 rounded-3xl min-h-[700px]">
        <h1 class="bg-white flex justify-center items-center p-5 rounded-t-3xl  text-[#b3bbc9]">
          Preview of your Survey
        </h1>
        <div class="p-6">
          <p class="bg-[#e6e8ed]  font-bold px-6 py-4 leading-[1.36] min-h-[60px] break-all">
            {{questions[activeQuestionIndex].title}}
          </p>
          <div class="bg-white">
            <div>
              <ng-template #p_multiChoice>
                <div class="flex flex-col gap-4 px-8 py-4">
                  <ng-container *ngFor="let opt of questions[activeQuestionIndex].options; index as i">
                    <div class="flex gap-2.5 items-center" *ngIf="i < questions[activeQuestionIndex].options.length - 1">
                      <input type="{{questions[activeQuestionIndex].chooseMany ? 'checkbox' : 'radio'}}" class="p-3 border border-gray-200 ring-0 cursor-pointer" /> {{opt}}
                    </div>
                  </ng-container>
                  
                  <div *ngIf="questions[activeQuestionIndex].other">
                    <div class="flex gap-2.5 items-center">
                      <input type="{{questions[activeQuestionIndex].chooseMany ? 'checkbox' : 'radio'}}" class="p-3 border border-gray-200 ring-0 cursor-pointer" (change)="selectPreviewOther(activeQuestionIndex)" /> Others
                    </div>
                    <div *ngIf="questions[activeQuestionIndex].preview.otherSelected">
                      <div class="py-3">
                        <textarea class="rounded-lg border border-gray-300">
  
                        </textarea>
                      </div>
                      <div class="text-gray-400">
                        <span>0</span>/500
                      </div>
                    </div>
                    
                  </div>

                  <div class="flex gap-2.5 items-center" *ngIf="questions[activeQuestionIndex].notSure" >
                    <input type="{{questions[activeQuestionIndex].chooseMany ? 'checkbox' : 'radio'}}" class="p-3 border border-gray-200 ring-0 cursor-pointer" /> Not Sure
                  </div>

                  <div class="flex gap-2.5 items-center" *ngIf="questions[activeQuestionIndex].nonOfAbove" >
                    <input type="{{questions[activeQuestionIndex].chooseMany ? 'checkbox' : 'radio'}}" class="p-3 border border-gray-200 ring-0 cursor-pointer" /> None Of the Above
                  </div>
                  <div class="flex gap-2.5 items-center" *ngIf="questions[activeQuestionIndex].preferNotSay" >
                    <input type="{{questions[activeQuestionIndex].chooseMany ? 'checkbox' : 'radio'}}" class="p-3 border border-gray-200 ring-0 cursor-pointer" /> Prefer Not To Say
                  </div>
                </div>
              </ng-template>

              <div *ngTemplateOutlet="p_multiChoice"></div>
            </div>
            <div class="flex justify-center items-center p-5">
              <button class="p-2 px-12 border font-semibold text-white rounded-full" [ngClass]="activeQuestionIndex >= questions.length - 1 ? 'bg-[#ffdcd9]' : 'bg-[#f34a3e]'" (click)="nextPreviewQuestion()" [disabled]="activeQuestionIndex >= questions.length - 1">
                Next
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>