<!-- Hero section -->
<app-public-business-hero></app-public-business-hero>

<!-- <section class="relative md:py-24 py-16 bg-slate-100 "> -->
<!-- Solutions -->
<!-- <div class="container relative"> -->
<!-- <div class="grid grid-cols-1 md:mb-8 mb-3 text-center">
      <h3 class="mb-4 md:text-3xl text-2xl text-primary md:leading-normal leading-normal font-bold">With Mundaly’s science-backed
        platform,<br>
        You can now
      </h3>

     <p class="text-slate-400 max-w-xl mx-auto">You can now:</p>
    </div> -->

<!-- <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 mt-8 mx-4  gap-[30px]"> -->
<!-- <a [routerLink]="['product', 'measure']"
         class="bg-slate-50 rounded-xl shadow border p-5 hover:scale-105 hover:border-primary hover:transition-all delay-150 ">
        <div
             class="w-52 h-52 flex align-middle justify-center items-center  mx-auto">
          <img src="assets/images/illustrator/illustration-measure.svg" alt="">
        </div>

        <div class="content ">
          <h5 href="" class="title h5 text-xl text-primary text-center font-bold ">Measure</h5>
          <p class="text-slate-400 text-center mt-2">Generate disclosures, compliance, & benchmarking.</p>
        </div>
      </a>

      <a [routerLink]="['product', 'track']"
         class="bg-slate-50 rounded-xl shadow border p-5 hover:scale-105 hover:border-primary hover:transition-all delay-150 ">
        <div
             class="w-52 h-52 flex align-middle justify-center items-center  mx-auto">
          <img src="assets/images/illustrator/illustration-track.svg" alt="">
        </div>

        <div class="content ">
          <h5 href="" class="title h5 text-xl text-primary text-center font-bold ">Track</h5>
          <p class="text-slate-400 text-center mt-2">See progress & metrics from your projects and initiatives.</p>
        </div>
      </a>


      <a [routerLink]="['product', 'report']"
         class="bg-slate-50 rounded-xl shadow border p-5 hover:scale-105 hover:border-primary hover:transition-all delay-150 ">
        <div
             class="w-52 h-52 flex align-middle justify-center items-center  mx-auto">
          <img src="assets/images/illustrator/illustration-report.svg" alt="">
        </div>

        <div class="content ">
          <h5 href="" class="title h5 text-xl text-primary text-center font-bold ">Report</h5>
          <p class="text-slate-400 text-center mt-2">Generate disclosures, compliance, & benchmarking reports.</p>
        </div>
      </a>

      <a [routerLink]="['product', 'act']"
         class="bg-slate-50 rounded-xl shadow border p-5 hover:scale-105 hover:border-primary hover:transition-all delay-150 ">
        <div
             class="w-52 h-52 flex align-middle justify-center items-center  mx-auto">
          <img src="assets/images/illustrator/illustration-act.svg" alt="">
        </div>

        <div class="content ">
          <h5 href="" class="title h5 text-xl text-primary text-center font-bold ">Act</h5>
          <p class="text-slate-400 text-center mt-2">View location-specific issues and engage accordingly.</p>
        </div>
      </a> -->

<!-- <div class="text-center md:px-6">
        <div
             class="w-28 h-28 bg-red-600/5 text-red-600 rounded-3xl text-4xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <i class="mdi mdi-chart-bar-stacked"></i>
        </div>

        <div class="content mt-7">
          <a href="" class="title h5 text-lg font-medium hover:text-red-600">Track</a>
          <p class="text-slate-400 mt-3">See Progress & Metrics From Your Portfolio.</p>
        </div>
      </div>

      <div class="text-center md:px-6">
        <div
             class="w-28 h-28 bg-emerald- rounded-3xl text-4xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <span class="mdi mdi-chart-box-outline"></span>
        </div>

        <div class="content mt-7">
          <a href="" class="title h5 text-lg font-medium ">Report</a>
          <p class="text-slate-400 mt-3">Generate Disclosures, Compliance, & Benchmarking.</p>
        </div>
      </div>

      <div class="text-center md:px-6">
        <div
             class="w-28 h-28 bg-amber-600/5 text-amber-600 rounded-3xl text-4xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <i class="mdi mdi-gesture-tap-button"></i>
        </div>

        <div class="content mt-7">
          <a href="" class="title h5 text-lg font-medium hover:text-amber-600">Act</a>
          <p class="text-slate-400 mt-3">View Location-Specific Social Issues & Plan Accordingly.</p>
        </div>
      </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </section> -->


  <!-- Welcome Mundaly -->
  <section class="relative py-0 overflow-hidden">
    <div class="relative z-1">
      <div style="padding: 56.25% 0 0 0; position: relative">
        <iframe
          src="https://player.vimeo.com/video/879432569?badge=0&amp;autopause=0&amp;quality_selector=1&amp;player_id=0&amp;app_id=58479"
          frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          " title="About Mundaly"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>

  </section>

      <!-- Companies list -->
      <div class="flex justify-center items-center pt-10 gap-24">
        <img class="h-7  " src="assets/images/partners/aterian.png" />
        <img class="h-9 " src="assets/images/partners/cocoa.png" />
        <img class="h-11" src="assets/images/partners/victoria.png" />
        <img class="h-9" src="assets/images/partners/yale.png" />
        <img class="h-12" src="assets/images/partners/penn.png" />
        <img class="h-16" src="assets/images/partners/clinton.png" />
        <!-- <img class="h-full" src="assets/images/partners/hero.png" /> -->

      </div>

<section class="relative md:py-16 bg-slate-50 py-12">
  <div class="container relative">
    <div class="grid grid-cols-1 text-center">
      <h3
        class="text-primary md:text-3xl text-2xl font-bold md:leading-normal leading-normal"
      >
        What people say about us
      </h3>
    </div>
    <!--end grid-->

    <div class="grid grid-cols-1 mt-10">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-[30px]">
        <div class="cursor-default">
          <div
            class="content relative rounded shadow dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left"
          >
            <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
            <p class="text-primary">
              " I love having the “verify” section focused on community
              stakeholders validating the real world impact. As a funder, seeing
              that sort of first-hand feedback provided by community members is
              a great addition to our vetting process. "
            </p>
            <ul class="list-none mb-0 text-yellow-300 mt-3">
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
            </ul>
          </div>

          <div class="text-center mt-5">
            <img
              src="assets/images/client/02.jpg"
              class="h-14 w-14 rounded-full shadow-md mx-auto"
              alt=""
            />
            <h6 class="mt-2 font-semibold">A.Je</h6>
            <span class="text-slate-400 text-sm">CSR at Adobe</span>
          </div>
        </div>

        <div class="cursor-cursor-default">
          <div
            class="content relative rounded shadow dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left"
          >
            <i class="mdi mdi-format-quote-open mdi-48px text-primary"></i>
            <p class="text-primary">
              " Mundaly addresses a clear need. Gleaning the sentiment of key
              community members is totally valuable "<br /><br /><br />
            </p>
            <ul class="list-none mb-0 text-yellow-300 mt-3">
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
              <li class="inline"><i class="mdi mdi-star"></i></li>
            </ul>
          </div>

          <div class="text-center mt-5">
            <img
              src="assets/images/client/03.jpg"
              class="h-14 w-14 rounded-full shadow-md mx-auto"
              alt=""
            />
            <h6 class="mt-2 font-semibold">O.A</h6>
            <span class="text-slate-400 text-sm">ESG at CocaCola</span>
          </div>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>

<section class="section">
  <div class="container relative md:py-24 py-16">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">
        Ready, Set, Go!
      </h3>
      <p class="text-slate-400 max-w-xl mx-auto">
        Ready to experience the benefits of Mundaly? Request a demo now, and our
        team will guide you through the tool's capabilities.
      </p>
      <div class="mt-6">
        <a [routerLink]="['/book-demo']"
          class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-full"><i
            class="uil uil-phone align-middle me-2"></i> Request a demo</a>
      </div>
    </div>
  </div>
</section>
