<!-- Hero section -->
<app-public-business-hero></app-public-business-hero>



<div class="container relative bg-gray-50 py-16 ">
  <div class="grid grid-cols-1 text-center">

    <h3 class="mb-4  text-xl  font-bold">See what communites<br> think about your business:</h3>
    <div class="subcribe-form flex justify-center mt-6 mb-3">
      <form class="relative w-1/2">
        <input type="email" id="subcribe" name="text"
               formControlName="email"
               class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-black dark:text-white rounded-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-800"
               placeholder="Website URL ">
        <button type="submit"
                class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-primary hover:bg-indigo-700 border border-primary hover:border-indigo-700 text-white rounded-full">Check
          <i class="uil uil-arrow-right"></i></button>
      </form><!--end form-->
    </div>

    <p><span class="text-slate-400 font-medium">Ex: https://www.mundaly.com</span></p>
  </div><!--end grid-->
</div>



<app-public-business-achievements></app-public-business-achievements>

<div class="container relative p-8 border-y">

  <div class="grid md:grid-cols-6 grid-cols-2 justify-center gap-[30px]">
    <div class="mx-auto mt-2">
      <img src="assets/images/client/aterian.png" class="h-6" alt="">
    </div>

    <div class="mx-auto mt-2">
      <img src="assets/images/client/queen.png" class="h-6" alt="">
    </div>

    <div class="mx-auto mt-2">
      <img src="assets/images/client/penn.png" class="h-6" alt="">
    </div>

    <div class="mx-auto mt-2">
      <img src="assets/images/client/cocoa360.png" class="h-6" alt="">
    </div>

    <div class="mx-auto mt-2">
      <img src="assets/images/client/clinton.png" class="h-6" alt="">
    </div>

    <div class="mx-auto mt-2">
      <img src="assets/images/client/yale.png" class="h-6" alt="">
    </div>
  </div><!--end grid-->
</div>


<section class="relative md:py-24  bg-slate-50 py-16 overflow-hidden">

  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Explore our products</h3>

      <p class="text-slate-400 max-w-xl mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero distinctio totam, voluptate animi ad
        accusantium deser.
      </p>
    </div><!--end grid-->

  </div>

  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
      <div class="relative order-1 md:order-2">
        <img src="assets/images/business/about02.jpg" style="width: 530px; height: 395px; object-fit: cover" width="530px" height="395px"
             class="rounded-lg shadow-md bg-cover dark:shadow-gray-800" alt="">
        <div class="overflow-hidden absolute lg:h-[400px] h-[320px] lg:w-[400px] w-[320px] bg-indigo-600/5 bottom-0 end-0 rotate-45 -z-1 rounded-3xl">
        </div>
      </div>

      <div class="lg:me-8 order-2 md:order-1">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Headline risk</h4>
        <p class="text-slate-400">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is
          tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Digital Marketing Solutions for Tomorrow</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Our Talented &amp; Experienced Marketing Agency</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Create your own skin to match your brand</li>
        </ul>

        <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div>
      </div>
    </div>
  </div><!--end container-->

  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="relative">
        <img src="assets/images/business/about03.jpg" style="width: 530px; height: 395px; object-fit: cover" width="530px" height="395px"
             class="rounded-lg  bg-cover shadow-md dark:shadow-gray-800" alt="">
        <div
             class="overflow-hidden absolute lg:h-[400px] h-[320px] lg:w-[400px] w-[320px] bg-indigo-600/5 bottom-0 start-0 rotate-45 -z-1 rounded-3xl">
        </div>
      </div>

      <div class="lg:ms-8">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Product or Service Fidelity</h4>
        <p class="text-slate-400">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is
          tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Digital Marketing Solutions for Tomorrow</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Our Talented &amp; Experienced Marketing Agency</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Create your own skin to match your brand</li>
        </ul>

        <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div>
      </div>
    </div><!--end grid-->
  </div><!--end container-->

  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
      <div class="relative order-1 md:order-2">
        <img src="assets/images/business/about02.jpg" style="width: 530px; height: 395px; object-fit: cover" width="530px" height="395px"
             class="rounded-lg shadow-md bg-cover dark:shadow-gray-800" alt="">
        <div class="overflow-hidden absolute lg:h-[400px] h-[320px] lg:w-[400px] w-[320px] bg-indigo-600/5 bottom-0 end-0 rotate-45 -z-1 rounded-3xl">
        </div>
      </div>

      <div class="lg:me-8 order-2 md:order-1">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Community Perception</h4>
        <p class="text-slate-400">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is
          tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Digital Marketing Solutions for Tomorrow</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Our Talented &amp; Experienced Marketing Agency</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Create your own skin to match your brand</li>
        </ul>

        <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div>
      </div>
    </div>
  </div><!--end container-->

  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="relative">
        <img src="assets/images/business/about03.jpg" style="width: 530px; height: 395px; object-fit: cover" width="530px" height="395px"
             class="rounded-lg  bg-cover shadow-md dark:shadow-gray-800" alt="">
        <div
             class="overflow-hidden absolute lg:h-[400px] h-[320px] lg:w-[400px] w-[320px] bg-indigo-600/5 bottom-0 start-0 rotate-45 -z-1 rounded-3xl">
        </div>
      </div>

      <div class="lg:ms-8">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Impact fidelity</h4>
        <p class="text-slate-400">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is
          tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Digital Marketing Solutions for Tomorrow</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Our Talented &amp; Experienced Marketing Agency</li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Create your own skin to match your brand</li>
        </ul>

        <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-indigo-600 hover:text-indigo-600 after:bg-indigo-600 duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div>
      </div>
    </div><!--end grid-->
  </div><!--end container-->

</section>


<app-public-business-value-props></app-public-business-value-props>




<!-- AChievement (social proof) -->



<!-- Contact us -->
<app-public-business-contact-us></app-public-business-contact-us>