<h3 class="text-3xl text-primary font-bold mb-3">Impact Stories</h3>
<div class="grid grid-cols-2 gap-24 mb-10">
  <img src="assets/images/new-style/stories-video-1.png" class="w-full" alt="">
  <img src="assets/images/new-style/stories-video-2.png" class="w-full" alt="">
  <img src="assets/images/new-style/stories-video-3.png" class="w-full" alt="">
  <img src="assets/images/new-style/stories-video-4.png" class="w-full" alt="">
</div>
<app-organization-new-style-stories-list></app-organization-new-style-stories-list>