<div class="p-5">
  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">Safety and Ethics</div>

  </div>

  <div class="relative overflow-x-auto shadow-md " *ngIf="!loading && facilitationStrategyService.score">
    <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-6">
            #
          </th>
          <th scope="col" class="px-6 py-6 ">
            Category
          </th>
          <th scope="col" class="px-6 py-6">
            Key
          </th>
          <th scope="col" class="px-6 py-6">
            Score
          </th>
          <th scope="col" class="px-6 py-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Leaves and Benefits -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            1
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Leaves and Benefits
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.leaves_and_benefits!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.leaves_and_benefits}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Diversity, Equity and Inclusion -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            2
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Diversity, Equity and Inclusion
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.diversity_equity_and_inclusion!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.diversity_equity_and_inclusion}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>



        <!-- Safety and Wellbeing -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Safety and Wellbeing
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.safety_and_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.safety_and_wellbeing | number: '1.0-0'}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Work-Life Balance -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            4
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Work-Life Balance
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.work_life_balance!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.work_life_balance}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Support and Control -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            5
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Support and Control
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.support_and_control!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.support_and_control}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Growth and Recongnition -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            6
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Growth and Recongnition
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.growth_and_recognition!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.growth_and_recognition}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>




      </tbody>
    </table>

    <div class="text-primary md:text-lg text-sm  bg-primary/5 p-5">
      <span class="me-2">
        <i class="mdi mdi-lightbulb-on"></i>
        Insight:
      </span>

      <!-- If the community has more than 10 respondents -->
      <span class="font-bold">
        Employees of New Haven Promise rated the company’s culture as conducive for implementing community impact.
      </span>



    </div>
  </div>

  <app-page-loading *ngIf="loading"></app-page-loading>
  <app-missing-data *ngIf="!loading && !facilitationStrategyService.score"></app-missing-data>
</div>