<div class="p-2 md:p-5"
     *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">
  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-3 md:md:p-6 p-3">
    <div class="text-sm md:text-lg font-bold">Safety and Ethics</div>

  </div>

  <div class="relative overflow-x-auto shadow-md "
       *ngIf="!loading && facilitationStrategyService.score">
    <table class="w-full  text-xs md:text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col"
              class="md:px-6 md:py-6 p-3">
            #
          </th>
          <th scope="col"
              class="md:px-6 md:py-6 p-3 ">
            Category
          </th>
          <th scope="col"
              class="md:px-6 md:py-6 p-3">
            Key
          </th>
          <th scope="col"
              class="md:px-6 md:py-6 p-3">
            Score
          </th>
          <th scope="col"
              class="md:px-6 md:py-6 p-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Leaves and Benefits -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            1
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            Leaves and Benefits
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.leaves_and_benefits!) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.leaves_and_benefits}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Diversity, Equity and Inclusion -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            2
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            Diversity, Equity and Inclusion
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.diversity_equity_and_inclusion!) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.diversity_equity_and_inclusion}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i class="mdi mdi-information"></i></a>

          </td>
        </tr>



        <!-- Safety and Wellbeing -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            Health and Wellbeing
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.health_and_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.health_and_wellbeing | number: '1.0-0'}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- No Bribery and Financial Embezzlement -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            4
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            No Bribery and Financial Embezzlement
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.no_bribery_and_financial_embezzlement) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.no_bribery_and_financial_embezzlement}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- No criminal and assault concerns -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            5
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            No criminal and assault concerns
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.no_criminal_and_assault_concerns!) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.no_criminal_and_assault_concerns}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Environmental Issues -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="md:p-6 p-3">
            6
          </td>

          <!-- Name and Photo -->
          <th scope="row md:p-6 p-3">
            Environmental Issues
          </th>

          <!-- Key -->
          <td class="md:p-6 p-3">
            {{ scaleService.getScoreKey(facilitationStrategyService.score.environmental_issues!) }}
          </td>

          <!-- Score -->
          <td class="md:p-6 p-3">
            <div class="flex items-center font-semibold">
              {{ facilitationStrategyService.score.environmental_issues}}
            </div>
          </td>



          <td class="md:p-6 p-3">
            <a href="#"
               class="font-medium text-slate-400 text-sm md:text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>




      </tbody>
    </table>


  </div>

  <app-page-loading *ngIf="loading"></app-page-loading>
  <app-missing-data *ngIf="!loading && !facilitationStrategyService.score"></app-missing-data>
</div>



<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>