<app-page-loading *ngIf="loading"></app-page-loading>

<app-missing-data *ngIf="!loading && !single"></app-missing-data>


<ng-container *ngIf="!loading && single">
  <div class="grid grid-col-1 bg-white border  rounded-xl overflow-hidden ">
    <!-- Video background -->
    <div class="md:h-[220px] h-[160px] w-full relative">
      <img [src]="single.cover" *ngIf="single.cover" class="w-full h-full object-cover object-center" alt="Video background">
      <img src="https://res.cloudinary.com/mundaly/image/upload/v1701871815/organization/bg-placeholder.jpg" *ngIf="!single.cover"
           class="w-full h-full object-cover object-center" alt="Video background">

      <!-- <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
              <span><i class="mdi mdi-play-circle text-4xl"></i></span>
            </div> -->
    </div>

    <!-- Organization information -->
    <div class="flex flex-col md:flex-row md:gap-10 gap-2 px-8 pt-4 pb-8 relative">
      <div class="relative flex justify-center md:flex-none">
        <div *ngIf="single.logo"
             class=" w-36 h-36 md:w-56 shrink-0 md:h-56 md:mt-[-100px] mt-[-75px] z-99 bg-white rounded-full overflow-hidden border-2 border-black border-opacity-10 ">
          <img [src]="single.logo" class="w-full h-full object-cover"
               alt="">

        </div>

        <div class="w-36 h-36 md:w-56 shrink-0 md:h-56 md:mt-[-100px] mt-[-75px] z-99 bg-slate-200  overflow-hidden border-2 border-black border-opacity-10 flex items-center justify-center rounded-full"
             *ngIf="!single.logo">
          <div>
            <i class="mdi text-[75px] text-slate-800  font-semibold mdi-domain"></i>
          </div>
        </div>
        <!-- Seal -->
        <img src="assets/images/new-style/certification.png"
             class="md:w-[100px] md:h-[100px]  h-[70px] w-[70px] right-[-20px] top-[-100px] absolute object-cover"
             alt="">
      </div>


      <!--  -->
      <div class="flex-col gap-2 w-full inline-flex ">
        <!-- Basic information -->
        <div class="justify-between items-center  w-full  flex flex-col md:flex-row  md:inline-flex">
          <div class=" items-center md:gap-5 gap-2 flex">
            <!-- Title -->
            <div class="text-violet-950 md:text-4xl text-2xl font-bold ">{{ single.name }}</div>

            <!-- Claiming badge -->
            <div class="text-violet-950 text-lg " *ngIf="single.profile_status_organization_id == 2">Claimed <span><i
                   class="mdi mdi-check-decagram"></i></span></div>
            <div class="text-violet-950 text-lg " *ngIf="single.profile_status_organization_id == 1">Unclaimed <span><i
                   class="mdi mdi-close-box"></i></span></div>

          </div>


          <div class="flex gap-2">
            <button type="button"
                    *ngIf="!single?.verification_status_from_current_organization"
                    (click)="showDueDiligenceModal = true"
                    class="px-7 py-3 font-semibold border border-primary  rounded-full text-center text-white bg-primary  hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-dark">
              Request Insights
            </button>

            <button type="button"
                    *ngIf="single?.verification_status_from_current_organization && (single?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.ABORTED || single?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.SUSPENDED)"
                    [disabled]="true"
                    class="px-7 py-3 font-semibold   rounded-full text-center text-gray-900  bg-slate-400   focus:ring-4 focus:outline-none focus:ring-primary-dark">
              Insights Requested
            </button>

            <a [href]="single.website" target="_blank" type="button"
               class="px-7 py-3 font-semibold border border-primary  rounded-full text-center text-primary bg-secondary  hover:bg-secondary-dark focus:ring-4 focus:outline-none focus:ring-primary-dark">Visit
              website</a>
          </div>

        </div>

        <!-- Location and badges -->
        <div class="justify-start items-center md:gap-6 gap-2 flex flex-col md:flex-row  md:inline-flex">
          <!-- Location -->
          <div class="  text-slate-500 text-base font-normal">
            <span class=""><i class="mdi mdi-map-marker"></i></span> {{ single.country }}
          </div>

          <div class="flex gap-5 md">
            <ng-container *ngIf="single.type_organization_id === 2">
              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-green-400">Facilitator <span
                      class="ms-2"><i
                     class="mdi mdi-check"></i></span></div>

              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-red-400"> Funder <span class="ms-2"><i
                     class="mdi mdi-close"></i></span></div>
            </ng-container>


            <ng-container *ngIf="single.type_organization_id === 1">
              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-green-400">Funder <span class="ms-2"><i
                     class="mdi mdi-check"></i></span></div>

              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-red-400"> Facilitator <span class="ms-2"><i
                     class="mdi mdi-close"></i></span></div>




            </ng-container>
          </div>

        </div>

        <div class=" text-slate-600 text-base md:w-3/4 font-normal  " [innerHTML]="single.about"></div>
      </div>
    </div>
  </div>


  <div class="text-sm font-medium text-center mt-5 text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <router-outlet></router-outlet>

  </div>
</ng-container>


<p-dialog header="Insights Request" [(visible)]="showDueDiligenceModal" [modal]="true" [style]="{ width: '50vw', height: 'fit' }"
          [draggable]="false"
          [resizable]="false">

  <ng-template pTemplate="header">
    <div class=" text-primary  w-full text-2xl font-semibold">
      <span class="mdi mdi-file-chart-check"></span>Insights Request
    </div>
  </ng-template>

  <app-dashboard-organization-due-diligence-request (requested$)="reportRequested = true"
                                                    (close$)="showDueDiligenceModal = false"></app-dashboard-organization-due-diligence-request>




</p-dialog>