<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
        <div class="text-lg font-bold">Ethnicity Breakdown</div>
    </div>


    <ng-container *ngIf="!loading">




        <!-- Line Chart -->
        <p-chart type="polarArea" [data]="data" [options]="options" *ngIf="showChart" [height]="'400'" [plugins]="plugins"></p-chart>
    </ng-container>


    <app-page-loading *ngIf="loading"></app-page-loading>
    <!--  -->
</div>