<div class="relative px-4 md:px-[120px] py-32 md:py-44 overflow-hidden">
  <app-page-loading *ngIf="loading"></app-page-loading>

  <ng-container *ngIf="single && !loading">
    <!-- Header -->
    <div class="grid grid-col-1 bg-white border  rounded-xl overflow-hidden ">
      <!-- Video background -->
      <div class="md:h-[220px] h-[160px] w-full relative">
        <img [src]="single.cover" *ngIf="single.cover" class="w-full h-full object-cover object-center" alt="Video background">
        <img src="https://res.cloudinary.com/mundaly/image/upload/v1701871815/organization/bg-placeholder.jpg" *ngIf="!single.cover"
             class="w-full h-full object-cover object-center" alt="Video background">

        <!-- <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
          <span><i class="mdi mdi-play-circle text-4xl"></i></span>
        </div> -->
      </div>

      <!-- Organization information -->
      <div class="flex flex-col md:flex-row md:gap-10 gap-2 px-8 pt-4 pb-8 relative">
        <div class="relative flex justify-center md:flex-none">
          <div
               class=" w-36 h-36 md:w-56 shrink-0 md:h-56 md:mt-[-100px] mt-[-75px] z-99 bg-white rounded-full overflow-hidden border-2 border-black border-opacity-10 ">
            <img [src]="single.logo" class="w-full h-full object-cover"
                 alt="">

          </div>
          <!-- Seal -->
          <img src="assets/images/new-style/certification.png"
               class="md:w-[100px] md:h-[100px]  h-[70px] w-[70px] right-[-20px] top-[-100px] absolute object-cover"
               alt="">
        </div>


        <!--  -->
        <div class="flex-col gap-2  inline-flex ">
          <!-- Basic information -->
          <div class="justify-between items-center    flex flex-col md:flex-row  md:inline-flex">
            <div class=" items-center md:gap-5 gap-2 flex">
              <!-- Title -->
              <div class="text-violet-950 md:text-4xl text-2xl font-bold ">{{ single.name }}</div>

              <!-- Claiming badge -->
              <div class="text-violet-950 text-lg " *ngIf="single.profile_status_organization_id == 2">Claimed <span><i
                     class="mdi mdi-check-decagram"></i></span></div>
              <div class="text-violet-950 text-lg " *ngIf="single.profile_status_organization_id == 1">Unclaimed <span><i
                     class="mdi mdi-close-box"></i></span></div>

            </div>

            <a [href]="single.website" target="_blank" type="button"
               class="px-7 py-3 font-semibold border border-primary  rounded-full text-center text-primary bg-secondary  hover:bg-secondary-dark focus:ring-4 focus:outline-none focus:ring-primary-dark">Visit
              website</a>
          </div>

          <!-- Location and badges -->
          <div class="justify-start items-center md:gap-6 gap-2 flex flex-col md:flex-row  md:inline-flex">
            <!-- Location -->
            <div class="  text-slate-500 text-base font-normal">
              <span class="me-2"><i class="mdi mdi-map-marker"></i></span> {{ single.location }}, {{ single.country?.name }}
            </div>

            <div class="flex gap-5 md">
              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-green-400">Facilitator <span class="ms-2"><i
                     class="mdi mdi-check"></i></span></div>

              <div
                   class="bg-white text-slate-700 border text-base font-medium me-2 px-1 rounded  border-red-400"> Funder <span class="ms-2"><i
                     class="mdi mdi-close"></i></span></div>
            </div>

          </div>

          <div class=" text-slate-600 text-base md:w-3/4 font-normal  " [innerHTML]="single.about"></div>
        </div>
      </div>
    </div>


    <div class="grid   grid-cols-1 gap-0 md:gap-[30px]  md:mt-24 mx-0  mt-12 overflow-hidden">
      <!-- Rating information (appears only on mobile) -->
      <div class="md:hidden mb-5">
        <app-rating-information></app-rating-information>
      </div>

      <!-- Main content -->
      <div
           class="group  relative    duration-500 ease-in-out">

        <!-- Tab list -->
        <ul
            class="md:text-xl text-lg font-semibold text-start text-slate-500 md:px-8 px-2 flex">
          <!-- Overview -->
          <li class=" md:pr-8 pr-6">
            <a [routerLink]="['rating-overview']"
               [routerLinkActive]="['text-primary', 'border-b-[3px]', 'border-primary' ]"
               class="inline-block w-full py-4     hover:text-primary-light focus:outline-none dark:bg-gray-700 dark:text-white"
               aria-current="page">
              <div class="hidden md:inline">Rating</div> Overview
            </a>
          </li>

          <!-- Stories -->
          <li class=" md:pr-8 pr-6">
            <a [routerLink]="['stories']"
               [routerLinkActive]="['text-primary', 'border-b-[3px]', 'border-primary' ]"
               class="inline-block w-full py-4   hover:text-primary-light focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
              Stories</a>
          </li>

          <!-- Rating report -->
          <li class=" md:pr-8 pr-6">
            <a [routerLink]="['rating-report']"
               [routerLinkActive]="['text-primary', 'border-b-[3px]', 'border-primary' ]"
               class="inline-block w-full py-4   hover:text-primary-light focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">
              <div class="hidden md:inline">Rating</div> Report
            </a>
          </li>

        </ul>


        <!-- Tab content -->
        <div id="StarterContent" class="md:p-8 py-4 p-1">
          <!-- Overview -->
          <div class="" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>


    </div>






    <div
         class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-100 -z-10 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
    </div>
    <div
         class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn bg-violet-950 -z-10 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
    </div>
  </ng-container>


</div>