<ul class="space-y-2 relative font-medium min-h-[200px]">
    <!-- Home -->
    <li>
        <a [routerLink]="['home']"
           (click)="hideSidebar()"
           class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
           routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-home" routerLinkActive="text-white"></i></span>
            <span class="ms-2">Home</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['verification-requests']"
           (click)="hideSidebar()"
           class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
           routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-email-seal-outline" routerLinkActive="text-white"></i></span>
            <span class="ms-2">Verification Requests</span>
        </a>
    </li>



    <hr class="my-5  text-slate-50 opacity-20" *ngIf="selectedImpactPartner || selectedImpactInitiative">
    <li *ngIf="selectedImpactPartner || selectedImpactInitiative">
        <!-- Sidebar Selected Impact Partner -->
        <ul class="space-y-2 relative font-medium min-h-[250px] border border-primary rounded-xl bg-organization-dashboard-dark p-3 ml-[-10px] mr-[-7px]"
            *ngIf="selectedImpactPartner || selectedImpactInitiative ">
            <li class=" text-sm font-bold ms-2 text-slate-100">
                <span *ngIf="selectedImpactPartner"> {{ selectedImpactPartner.name }} </span>
                <span *ngIf="selectedImpactInitiative"> {{ selectedImpactInitiative.name }} </span>
            </li>
            <!-- Home -->
            <li>
                <a [routerLink]="[menuUrlPrefix,  'overview']"
                   class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
                   routerLinkActive="bg-secondary-dark">
                    <span class=""><i class=" text-secondary-dark  mdi mdi-chart-arc" routerLinkActive="text-white"></i></span>
                    <span class="ms-2">Overview</span>
                </a>
            </li>

            <li>
                <a [routerLink]="[menuUrlPrefix,  'breakdown']"
                   class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
                   routerLinkActive="bg-secondary-dark">
                    <span class=""><i class=" text-secondary-dark  mdi mdi-bullseye" routerLinkActive="text-white"></i></span>
                    <span class="flex-1 ms-2 whitespace-nowrap">Breakdown</span>
                </a>
            </li>

            <li>
                <a [routerLink]="[menuUrlPrefix,  'insights']"
                   class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
                   routerLinkActive="bg-secondary-dark">
                    <span class=""><i class=" text-secondary-dark  mdi mdi-file-chart-outline" routerLinkActive="text-white"></i></span>
                    <span class="flex-1 ms-2 whitespace-nowrap">Insights</span>
                </a>
            </li>


            <li>
                <a [routerLink]="[menuUrlPrefix,  'reports']"
                   class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
                   routerLinkActive="bg-secondary-dark">
                    <span class=""><i class=" text-secondary-dark  mdi mdi-file-multiple-outline" routerLinkActive="text-white"></i></span>
                    <span class="flex-1 ms-2 whitespace-nowrap">Reports</span>
                </a>
            </li>

        </ul>
    </li>







</ul>