<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <!-- Header & subheader -->
    <div class="grid grid-cols-1 pb-8 text-center">
      <!-- <h6 class="text-primary text-base mb-2">Communities' Most Trusted</h6> -->
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Community Verified</h3>

      <p class="text-slate-400 max-w-xl mx-auto">Top rated companies communities trust.</p>
    </div>

    <!-- List of companies -->
    <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-[30px]">

      <!-- Start Candidate Content -->
      <app-company-solo *ngFor="let company of companyService.data.slice(0, 3)" [company]="company"></app-company-solo>
      <!-- End Candidate Content -->



    </div><!--end grid-->
  </div><!--end container-->

</section>
