<div class="bg-gray-100 px-5">


  <div class="container mx-auto p-0 flex justify-start gap-6 ">

    <div class="min-h-screen " [ngClass]="{'w-[70%]': isDrawerOpen, 'w-full': !isDrawerOpen}">
      <div class="flex justify-between items-center py-4">
        <p class="text-2xl text-gray-400 font-semibold">Initiatives</p>
        <div class="flex gap-5 items-center">
          <p>Request Report</p>
          <button (click)="showModal()" data-model-toggle="create-initiative-modal"
                  data-model-target="create-initiative-modal" data-modal-toggle="create-initiative-modal"
                  class="flex items-center gap-5 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 1v16M1 9h16" />
            </svg>
            Add Initiative
          </button>
        </div>
      </div>


      <div class="flex flex-col gap-8" *ngIf="data.length && !loading">
        <div *ngFor="let initiative of data; index as i;" class="bg-white p-4 rounded-md pb-6">
          <div class="flex justify-between items-center">
            <p class="text-xl text-black font-bold">{{initiative.name}}</p>
            <div class="flex gap-1 items-center">
              <button (click)="createGoal(initiative)"
                      class="flex items-center gap-2 py-2.5 px-3.5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 1v16M1 9h16" />
                </svg>
                Create New Goal
              </button>
              <button data-dropdown-toggle="goal-dropdown"
                      class="gap-5 py-2.5 px-3.5 text-lg font-medium leading-3 text-gray-900  focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                     height="10px" width="10px" version="1.1" id="Capa_1" viewBox="0 0 32.055 32.055" xml:space="preserve">
                  <g>
                    <path
                          d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967   C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967   s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967   c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z" />
                  </g>
                </svg>
              </button>

              <div id="goal-dropdown"
                   class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                  <li>
                    <a href="#"
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit
                      Goal</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">


          <p class="text-base font-bold text-gray-400">Goals</p>



          <app-impact-initiative-goal-list [impactInitiative]="initiative"></app-impact-initiative-goal-list>










        </div>
        <div>

        </div>

      </div>

      <app-loading *ngIf="loading"></app-loading>

      <app-missing-data *ngIf="!data.length && !loading"></app-missing-data>

    </div>


    <app-right-drawer class="w-[30%]" *ngIf="isDrawerOpen"></app-right-drawer>


  </div>




  <!-- Create Initiative modal -->
  <p-dialog header="Create New Initiative" [(visible)]="showCreateInitiativeModal" [modal]="true" [style]="{ width: '38vw' }" [draggable]="false"
            [resizable]="false">
    <app-impact-initiative-create (created)="showCreateInitiativeModal = false"></app-impact-initiative-create>
  </p-dialog>
</div>