<div class="bg-gray-100">


  <div class="container mx-auto p-0 flex justify-start gap-6 ">
    <div class="h-screen w-[20%] bg-blue-600 flex-none sticky inset-y-0">
      <div class="pl-4 pt-4 flex flex-col gap-5">
        <h1 class="text-lg text-white font-bold text-[32px]">
          Mundaly
        </h1>
        <p class="text-lg text-white font-bold ">
          Community Impact
        </p>
      </div>
      <div class="px-4">
        <div id="sidebar-multi-level-sidebar"
          class=" z-40 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
          <div class="h-full py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
              <li class="">
                <button type="button"
                  class="flex items-center p-2 w-full text-base text-white transition duration-75 rounded-lg group"
                  aria-controls="impact-dropdown" data-collapse-toggle="impact-dropdown">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                    <path
                      d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">IMPACT</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg>
                </button>
                <ul id="impact-dropdown" class="hidden py-2 space-y-2">
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
                  </li>
                </ul>
              </li>


              <li class="">
                <button type="button"
                  class="flex items-center p-2 w-full text-base text-white transition duration-75 rounded-lg group"
                  aria-controls="raising-dropdown" data-collapse-toggle="raising-dropdown">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                    <path
                      d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">FUNDRAISING</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg>
                </button>
                <ul id="raising-dropdown" class="hidden py-2 space-y-2">
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
                  </li>
                </ul>
              </li>

              <li class="">
                <button type="button"
                  class="flex items-center p-2 w-full text-base text-white transition duration-75 rounded-lg group"
                  aria-controls="academy-dropdown" data-collapse-toggle="academy-dropdown">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                    <path
                      d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">ACADEMY</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg>
                </button>
                <ul id="academy-dropdown" class="hidden py-2 space-y-2">
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
                  </li>
                </ul>
              </li>

              <li class="">
                <button type="button"
                  class="flex items-center p-2 w-full text-base text-white transition duration-75 rounded-lg group"
                  aria-controls="organization-dropdown" data-collapse-toggle="organization-dropdown">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                    <path
                      d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
                  </svg>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">ORGANIZATION</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg>
                </button>
                <ul id="organization-dropdown" class="hidden py-2 space-y-2">
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
                  </li>
                </ul>
              </li>



            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="min-h-screen  grow ">
      <div class="flex justify-between items-center py-4">
        <p class="text-2xl text-gray-400 font-semibold">Initiatives</p>
        <div class="flex gap-5 items-center">
          <p>Request Report</p>
          <button (click)="showModal()" data-model-toggle="create-initiative-modal"
            data-model-target="create-initiative-modal" data-modal-toggle="create-initiative-modal"
            class="flex items-center gap-5 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 18 18">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 1v16M1 9h16" />
            </svg>
            Add Initiative
          </button>
        </div>
      </div>


      <div class="flex flex-col gap-8">
        <div *ngFor="let initiative of initiatives; index as i;" class="bg-white p-4 rounded-md pb-6">
          <div class="flex justify-between items-center">
            <p class="text-xl text-black font-bold">{{initiative.name}}</p>
            <div class="flex gap-1 items-center">
              <button (click)="openRightDrawer('create-goal', i)"
                class="flex items-center gap-2 py-2.5 px-3.5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 18 18">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 1v16M1 9h16" />
                </svg>
                Create New Goal
              </button>
              <button data-dropdown-toggle="goal-dropdown"
                class="gap-5 py-2.5 px-3.5 text-lg font-medium leading-3 text-gray-900  focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                  height="10px" width="10px" version="1.1" id="Capa_1" viewBox="0 0 32.055 32.055" xml:space="preserve">
                  <g>
                    <path
                      d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967   C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967   s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967   c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z" />
                  </g>
                </svg>
              </button>

              <div id="goal-dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit
                      Goal</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">


          <p class="text-base font-bold text-gray-400">Goals</p>



          <div *ngIf="initiative.goals.length; else zeroState">
            <div *ngFor="let goal of initiative.goals; index as j;" class="pt-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black font-semibold">{{goal.name}}</p>
                <div class="flex gap-1 items-center">
                  <button (click)="openRightDrawer('add-data', i, j)" id="data-dropdown-button"
                    class="flex items-center gap-2 py-2.5 px-3.5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Add Data
                  </button>
                  <button [attr.data-dropdown-toggle]="'data-dropdown-'+i+j" aria-expanded="true" aria-haspopup="true"
                    class="gap-5 py-2.5 px-3.5 text-lg font-medium text-gray-900  focus:outline-none bg-white rounded-lg border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"
                      height="10px" width="10px" version="1.1" id="Capa_1" viewBox="0 0 32.055 32.055"
                      xml:space="preserve">
                      <g>
                        <path
                          d="M3.968,12.061C1.775,12.061,0,13.835,0,16.027c0,2.192,1.773,3.967,3.968,3.967c2.189,0,3.966-1.772,3.966-3.967   C7.934,13.835,6.157,12.061,3.968,12.061z M16.233,12.061c-2.188,0-3.968,1.773-3.968,3.965c0,2.192,1.778,3.967,3.968,3.967   s3.97-1.772,3.97-3.967C20.201,13.835,18.423,12.061,16.233,12.061z M28.09,12.061c-2.192,0-3.969,1.774-3.969,3.967   c0,2.19,1.774,3.965,3.969,3.965c2.188,0,3.965-1.772,3.965-3.965S30.278,12.061,28.09,12.061z" />
                      </g>
                    </svg>
                  </button>
                  <div id="data-dropdown-{{i}}{{j}}" aria-hidden="true"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="data-dropdown-button">
                      <li>
                        <a href="#" 
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Share
                          Progress</a>
                      </li>
                      <li>
                        <a (click)="openRightDrawer('update-goal', i, j)"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Edit
                          Goal</a>
                      </li>
                      <li>
                        <a href="#"
                          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Archived
                          Goal</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>


              <div>
                <div class="w-full bg-white dark:bg-gray-800 p-4 md:p-6">
                  <div class="flex justify-between mb-5">
                    <div class="grid gap-7 grid-cols-2">
                      <div class="flex items-end gap-2">

                        <p class="text-gray-900 dark:text-white text-2xl leading-none font-bold">{{latest(goal)}}</p>
                        <h5 class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal">
                          Latest
                        </h5>
                      </div>
                      <div class="flex items-end gap-2">

                        <p class="text-gray-900 dark:text-white text-2xl leading-none font-bold">{{goal.target}}</p>
                        <h5 class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal">
                          Target
                        </h5>
                      </div>
                    </div>

                  </div>
                  <div attr.id="initiative-chart-{{i}}{{j}}" class="max-w-full border-none"></div>

                </div>
              </div>

            </div>
          </div>

          <ng-template #zeroState>
            <div>
              Set your first goal to begin measuring impact.
              <div class="p-2 flex justify-center">
                <button (click)="openRightDrawer('create-goal', i)"
                  class="flex items-center gap-2 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 f dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                  <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 1v16M1 9h16" />
                  </svg>
                  Create New Goal
                </button>
              </div>
            </div>

          </ng-template>










        </div>



        <div>

        </div>

      </div>

    </div>

    <div *ngIf="showRightDrawer" class="h-screen bg-white w-[30%] flex-none p-4 sticky inset-y-0">
      <div class="flex justify-between">
        <p *ngIf="rightDrawerCompoent === 'create-goal'" class="text-xl text-black font-bold">Create Goal</p>
        <p *ngIf="rightDrawerCompoent === 'add-data'" class="text-xl text-black font-bold">Add Data</p>
        <p *ngIf="rightDrawerCompoent === 'update-goal'" class="text-xl text-black font-bold">Update Goal</p>
        <button type="button" class="text-gray-400 text-xl font-bold focus:ring-4 rounded-lg py-2.5 mb-2 "
          (click)="closeRightDrawer()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
      <div *ngIf="rightDrawerCompoent === 'create-goal'">
        <app-create-goal
          [intiativeName]="initiatives[selectedInitiativeIndex].name"
          [cancelCreateGoal]="closeRightDrawer"
          [addInitiativeGoal]="addInitiativeGoal"></app-create-goal>
      </div>

      <div *ngIf="rightDrawerCompoent === 'update-goal'">
        <app-create-goal
          [intiativeName]="initiatives[selectedInitiativeIndex].name"
          [cancelCreateGoal]="closeRightDrawer"
          [goal]="initiatives[selectedInitiativeIndex].goals[selectedInitiativeGoalIndex]"
          [updateInitiativeGoal]="updateInitiativeGoal"></app-create-goal>
      </div>

      <div *ngIf="rightDrawerCompoent === 'add-data'">
        <app-add-data [intiativeName]="initiatives[selectedInitiativeIndex].name"
          [intiativeGoalName]="initiatives[selectedInitiativeIndex].goals[selectedInitiativeGoalIndex].name!"
          [addInitiativeGoalData]="addInitiativeGoalData"
          [cancelAddData]="closeRightDrawer"
          [intiativeGoalMetric]="initiatives[selectedInitiativeIndex].goals[selectedInitiativeGoalIndex].metric!"></app-add-data>
      </div>

    </div>




  </div>

  <div id="create-initiative-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-fit" id="create-initiative-element">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <!-- Modal body -->
        <div class="p-4 md:p-5">
          <form class="space-y-4" action="#" [formGroup]="createInitiativeForm" (ngSubmit)="createInitiative()">
            <div>
              <h1 class="text-xl font-bold">
                Create New Initiative
              </h1>
            </div>
            <div>
              <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What is an outcome
                you are looking to achieve. This is your initiative.</label>
              <input type="text" name="initiative-name" id="initiative-name" formControlName="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="" required>
            </div>
            <div class="mb-5 flex justify-between gap-3 items-center">
              <div class="w-[50%]">
                <input type="date" id="initiative-start-date" formControlName="startDate"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              <p>to</p>
              <div class="w-[50%]">
                <input type="date" id="initiative-end-date" formControlName="endDate"
                  class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>

            <div class="my-4">
              <p class="text-sm font-bold mt-10">Location</p>
            </div>

            <div>
              <label for="initiativeCountry"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
              <input type="text" name="initiativeCountry" id="initiativeCountry" formControlName="initiativeCountry"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="" required>
            </div>

            <div>
              <label for="initiativeCity"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
              <input type="text" name="initiativeCity" id="initiativeCity" formControlName="initiativeCity"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="" required>
            </div>

            <div>
              <div class="flex items-center mb-5">
                <input id="demographyCheckbox" type="checkbox" formControlName="demographyCheckbox"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="demographyCheckbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Target Demographics (Optional)</label>
              </div>
            </div>
            <div *ngIf="createInitiativeForm.value.demographyCheckbox">
              
              <div class="mb-5 flex justify-start gap-3 items-center">
                <div class="w-[30%]">
                  <label for="initiativeStartAge" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Start Age</label>
                  <input type="number" id="initiativeStartAge" formControlName="initiativeStartAge"
                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <p>to</p>
                <div class="w-[30%]">
                  <label for="c" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">End Age</label>
                  <input type="number" id="initiativeEndAge" formControlName="initiativeEndAge"
                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
              </div>

              <div class="mb-3">
                <label for="initiativeEthnicity"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ethnicity</label>
                <input type="text" name="initiativeEthnicity" id="initiativeEthnicity" formControlName="initiativeEthnicity"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  placeholder="" required>
              </div>

              <div class="mb-3">
                <label for="initiativeSex" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sex</label>
                <select id="initiativeSex" formControlName="initiativeSex" name="initiativeSex"
                    class="bg-gray-50 border p-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="Male">All</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            </div>

            <div class="mb-5 mt-10 flex justify-end">
              <button type="button" (click)="closeModal()"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg  hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
              <button type="button" type="submit"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Save
                Initiative
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>