<!-- Start Hero -->
<section
         class="relative table w-full py-32 lg:py-36 bg-gradient-to-br from-slate-200 via-secondary/30 to-primary/40 dark:from-primary/20  dark:to-yellow-500/20">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3 class="mb-4 md:text-5xl text-3xl md:leading-normal leading-normal font-bold ">Search <span
              class="after:absolute after:end-0 after:start-0 after:bottom-3 after:lg:h-3 after:h-2 after:w-auto after:rounded-md after:bg-secondary/30 relative text-secondary">Results</span>
      </h3>


    </div><!--end grid-->
  </div><!--end container-->
</section><!--end section-->
<div class="relative">
  <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden text-white dark:text-slate-900">
    <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- End Hero -->

<!-- Start Section-->
<section class="relative md:py-24 py-16">
  <app-companies-search-bar></app-companies-search-bar>

  <div class="container relative">
    <!-- Elements -->
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]" *ngIf="!loading && companyService.data.length">
      <!-- Company 1 -->
      <app-company-solo *ngFor="let company of companyService.data" [company]="company"></app-company-solo>
    </div>


    <app-page-loading *ngIf="loading"></app-page-loading>

    <app-missing-data *ngIf="!loading && !companyService.data.length">
      <p class="text-center"><a routerLink="/company-suggestion" class="text-slate-500 font-medium">Didn't find the company you want? <span
                class="text-primary font-bold">Click Here</span></a></p>
    </app-missing-data>

  </div><!--end container-->


</section><!--end section-->
<!-- End Section-->

<!-- <app-loading *ngIf="loading"></app-loading> -->
