<!--Hero section-->
<section class="relative max-w-[100vw]  py-36 md:py-44 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20">

  <div class="container relative flex flex-row flex-wrap md:flex-nowrap gap-4 md:gap-0">
    <div class="flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-primary text-4xl  leading-normal font-semibold break-words">
      Impact <span class=" text-blue-500">Facilitators</span>
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        If you don’t prioritize community insights in your social impact initiatives,
        you can cause unintended harm in communities, and bring reputational damage to you and your funder. 
        Mundaly has combined decades of award-winning research at Cambridge and Yale Universities with technology
        to develop the world’s leading end-to-end community impact solution. From design to evaluation;
        see urgent community needs, engage communities to design the right intervention, track and verify
        your impact and generate unbiased reports for your stakeholders and future funders. See areas you can improve.
      </div>

      <div class="mt-6 mb-3 block">
        <a
           [routerLink]="['book-demo']"
           class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">
           Request a demo</a>
      </div>
    </div>

    <div class="md:flex md:justify-end md:-mt-4">
      <div class="md:w-[30rem]">
        <img
             src="assets/images/business/dashboard.png"
             class="w-full h-full"
             alt="" />
      </div>
    </div>

  </div>

</section>

<!--Measure section-->
<section class="relative max-w-[100vw]  box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 bg-blue-400 z-10">
    <div class="container relative flex sm:max-h-[300px] flex-col sm:overflow-visible sm:flex-row-reverse flex-wrap md:flex-nowrap  gap-10 items-center">
      <div class=" w-full ">
        <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
          MEASURE
        </h3>
  
        <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
          See urgent community needs<br>
          Baseline your community engagement risks
        </div>
  
      </div>
  
      <div class="md:flex md:justify-end md:-mt-4 flex flex-col ">
        <div class="w-full py-7 pl-7 bg-blue-800 text-white inline-block font-semibold tracking-wide align-middle  text-left">
          Claim your Free Profile today:
        </div>
        <div class="md:w-[30rem]">
          <img
               src="assets/images/for-business/community-perception/community-perception-desc-3.jpg"
               class="w-full h-full sm:h-[350px]"
               alt="" />
        </div>
      </div>
  
    </div>
</section>

<!--Act section-->
<section class="relative max-w-[100vw] mt-[57px] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 bg-blue-300 z-3">
  <div class="container relative flex sm:max-h-[300px] flex-col  sm:overflow-visible sm:flex-row flex-wrap md:flex-nowrap  gap-10 items-center">
    <div class=" w-full">
      <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        ACT
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Engage communities to design the right intervention.<br>
        Set Targets to achieving a stronger community trust score
      </div>

    </div>

    <div class="md:flex md:justify-end md:-mt-4 flex flex-col">
      <div class="md:w-[30rem]">
        <img
             src="assets/images/for-business/community-perception/community-perception-desc-3.jpg"
             class="w-full h-full sm:h-[400px]"
             alt="" />
      </div>
    </div>

  </div>
</section>

<!-- TRACK & BENCHMARK section-->
<section class="relative max-w-[100vw] mt-[42px] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 bg-blue-400 z-2">
  <div class="container relative flex sm:max-h-[300px] flex-col  sm:overflow-visible sm:flex-row-reverse flex-wrap md:flex-nowrap  gap-10 items-center">
    <div class=" w-full">
      <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        TRACK & BENCHMARK
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Report directly to your funders and investors<br>
        Verify your impact using community-driven surveys<br>
        Benchmark your impact against sector peers
      </div>

    </div>

    <div class="md:flex md:justify-end md:-mt-4 flex flex-col">
      <div class="md:w-[30rem]">
        <img
             src="assets/images/for-business/community-perception/community-perception-desc-3.jpg"
             class="w-full h-full sm:h-[400px]"
             alt="" />
      </div>
    </div>

  </div>
</section>

<!--REPORT & MAINTAIN section-->
<section class="relative max-w-[100vw] mt-[42px] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 bg-blue-300 z-0">
  <div class="container relative flex sm:max-h-[300px] flex-col  sm:overflow-visible sm:flex-row flex-wrap md:flex-nowrap  gap-10 items-center">
    <div class=" w-full">
      <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        REPORT & MAINTAIN
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Generate audit-ready reports for your donors and investors<br>
        Maintain your community trust
      </div>

    </div>

    <div class="md:flex md:justify-end md:-mt-4 flex flex-col">
      <div class="md:w-[30rem]">
        <img
             src="assets/images/for-business/community-perception/community-perception-desc-3.jpg"
             class="w-full h-full sm:h-[400px]"
             alt="" />
      </div>
    </div>

  </div>
</section>

<!-- impact for section-->
<section class="relative max-w-[100vw] mt-40 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 ">
  <div class="container relative flex  flex-col flex-wrap md:flex-nowrap  gap-10 items-center">
    <div class="w-full flex justify-center flex-col items-center gap-6">

      <p class="text-primary text-3xl  leading-normal font-bold break-words">Mundaly Impacts</p>
      <div class="w-[3px] h-[60px] bg-blue-400"></div>
      <h3 class="text-primary text-5xl  leading-normal font-normal break-words text-center ">
        We maximize impact for :
      </h3>

    </div>

    <div class="w-full flex justify-center flex-row flex-wrap md:flex-nowrap items-center gap-6">

      <div class="flex flex-col items-start gap-5">
        <p class="text-primary text-xl  leading-normal font-bold break-words">
          Non-Profits & Social Enterprises
        </p>
        <p class="text-primary text-lg font-normal ">
          Show your donors and investors that you’re community-focused, 
          and that they can fund you without concerns of damage to their reputations.
           Verify and report your outcomes.
        </p>
      </div>

      <div class="flex flex-col items-start gap-5">
        <p class="text-primary text-xl  leading-normal font-bold break-words">
          Overseas Programs
        </p>
        <p class="text-primary text-lg font-normal ">
          Minimize unintended harms and deaths in your operational communities, 
          and reputational damages to your brand.
           Show your clients and stakeholders that you value community relationships.
        </p>
      </div>

      <div class="flex flex-col items-start gap-5">
        <p class="text-primary text-xl  leading-normal font-bold break-words">
          Governments
        </p>
        <p class="text-primary text-lg font-normal ">
          Gain actionable community insights for your local initiatives,
           secure the trust of your stakeholders, and report your impact.
        </p>
      </div>


    </div>


  </div>
</section>

<!--         Demo experience section          -->
<section class="section bg-white">
  <div class="container relative md:py-32 py-20">
    <div class="grid grid-cols-1 text-center">
      <h3 class="text-center text-violet-950 text-3xl font-bold ">
        Maximize your Impact. Claim your Free Profile today
      </h3>

      <div class="mt-11">
        <a [routerLink]="['/for-business/book-demo']"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-full"><i
             class="uil uil-phone align-middle me-2"></i> Request a demo</a>
      </div>
    </div>
  </div>
</section>

  <!-- Linear gradient -->
  <div
       class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
  </div>
  <div
       class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
  </div>