<div class="impact-stories" *ngIf="impactStoryOrganizationService.data.length && !loading">
  <!-- Title -->
  <h2 class="text-primary text-2xl font-semibold mt-10 ">Impact to the communities</h2>

  <!-- Number of communites impacted -->
  <!-- <p class="text-slate-400">2 social initiatives highlighted</p> -->


  <!-- stories -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-3">
    <!-- Story -->
    <div class="max-w-sm bg-transparent border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
         *ngFor="let story of impactStoryOrganizationService.data">
      <!-- Image header -->
      <div class="h-[278px] rounded-t-lg bg-cover flex items-end">
        <img [src]="story.image" class="h-full w-full object-cover" alt="">
        <!-- <h2 class="text-white text-2xl font-bold">Tarkwa Breman Center of Excellence</h2> -->
      </div>

      <!-- Impact information  -->
      <div class="px-5 py-3">
        <!-- Link and number of impacted -->
        <div class="flex flex-col gap-1 py-2 border-b">
          <!-- Impact Link -->
          <div class="flex">
            <span class="font-semibold text-primary me-4">Read more:</span>
            <!-- <span class="text-secondary-dark">https://www.facebook.com/profile/100066434862204/search/?q=community%20engagement&_rdc=1&_rdr</span> -->
          </div>

          <!-- Number of impacted -->
          <div class="flex">
            <!-- <span class="font-semibold text-primary me-4">Impact within community:</span> -->
            <span class="text-secondary-dark"><a [href]="story.link" target="_blank">{{ story.title }}</a> </span>
          </div>
        </div>

        <!-- The impact Provided -->
        <div class="mt-4">
          <!-- Title -->
          <h2 class=" text-primary font-bold">About </h2>

          <!-- Description -->
          <read-more [text]="story.about!" [maxLength]="200"></read-more>
        </div>
      </div>
    </div>


  </div>
</div>

<app-page-loading *ngIf="loading"></app-page-loading>

<!-- <app-missing-data *ngIf="!impactStoryOrganizationService.data.length && !loading"></app-missing-data> -->