<div class="bg-white rounded-lg w-full">

  <p class="md:text-sm text-xs text-gray-600 mb-4">
    {{ modalDetails.description }}
  </p>
  <div class="flex items-center justify-center w-full mb-4">
    <label for="dropzone-file"
           class="flex flex-col items-center justify-center w-full h-40 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 ">
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <ng-container *ngIf="!csvFile">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 20 16">
            <path stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Drag and drop your CSV file here to
              upload</span>
          </p>
          <p class="mt-1 text-xs text-gray-500">Or</p>
          <button (click)="file.click()"
                  class="mt-2 md:px-4 md:py-2 px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            Select file
          </button>
        </ng-container>

        <p class="mb-2 nd:text-lg text-sm text-gray-500 dark:text-gray-400"
           *ngIf="csvFile"><span class="font-semibold"> <span class="mdi mdi-file-table"></span> {{csvFile.name }}</span> </p>
      </div>



      <input id="dropzone-file"
             type="file"
             (change)="onFileChanged($event)"
             accept="text/csv"
             #file
             class="hidden" />
    </label>
  </div>
  <!--
    <div class="border-2 border-dashed border-gray-300 rounded-lg p-4 text-center mb-4">

        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
        </svg>
        <p class="mt-1 text-sm text-gray-600">Drag and drop your CSV file here to upload</p>
        <p class="mt-1 text-xs text-gray-500">Or</p>
        <button
                class="mt-2 md:px-4 md:py-2 px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
            Select file
        </button>
    </div> -->


  <div class="mb-4"
       *ngIf="communityMembers.length">
    <h3 class="md:text-lg text-sm font-semibold mb-2 mt-4">Preview: {{ communityMembers.length }} entries</h3>
    <p-scrollPanel [style]="{ width: '100%', border: '1px solid #dee2e6' }"
                   styleClass="md:h-[300px] h-[200px]">
      <div class="mb-4">
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y  divide-gray-200">
            <thead class="bg-gray-50">
              <tr>

                <th class="md:px-6 px-3 md:py-3 py-1.5 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone
                  Number</th>
                <th class="md:px-6 px-3 md:py-3 py-1.5 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email
                </th>

              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- Example rows, replace with dynamic data -->
              <tr *ngFor="let item of communityMembers">
                <td class="md:px-6 px-3 md:py-4 py-2 whitespace-nowrap text-xs text-gray-500">{{ item.phone_number }}</td>
                <td class="md:px-6 px-3 md:py-4 py-2 whitespace-nowrap text-xs text-gray-500">{{ item.email }}</td>
              </tr>

              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
    </p-scrollPanel>
  </div>



  <div class="flex justify-between items-center">
    <a href="https://res.cloudinary.com/mundaly/raw/upload/sample-community-member-details-2"
       download
       class="text-xs md:text-sm text-blue-500 hover:text-blue-700">Download sample CSV</a>
    <div>
      <button class="md:px-4 md:py-2 px-2 py-1 text-sm text-gray-600 hover:text-gray-800"
              (click)="closeModal.emit()">Cancel</button>
      <button (click)="submit()"
              class="ml-2 md:px-4 md:py-2 px-2 py-1 text-sm md:text-base bg-black text-white rounded-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
        Submit <app-loading *ngIf="loading"></app-loading>
      </button>
    </div>
  </div>
</div>
