<!-- header -->
<nav id="topnav" class="defaultscroll max-w-[100vw]">
  <div class="container mt-3 relative">
    <!-- Logo container-->
    <a class="logo" [routerLink]="['./']">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/Sales_Outreach_3_lr87fz" style="height: 70px;"
           class="inline-block dark:hidden" alt="">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/Sales_Outreach_3_lr87fz" style="height: 28px;"
           class="hidden dark:inline-block" alt="">
    </a>

  </div>
</nav><!--end header-->

<!-- Hero -->
<section class="relative w-full md:pt-48 pt-32 pb-44 mb-24 overflow-hidden">
  <!-- Title and subtitle -->
  <div class="container">
    <div
         class="relative grid md:grid-cols-5 grid-cols-1 items-center gap-[30px] md:gap-0">
      <div class=" md:col-span-3 ">
        <!-- Title -->
        <h4
            class=" capitalize font-bold lg:leading-normal md:leading-normal md:text-4xl leading-normal md:text-start text-center text-4xl mb-4 text-primary">
          Every Leader Deserves Rigorous,
          Affordable Community Insights.
          <!-- <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
              <span class="relative text-white"> your impact</span>
            </span> -->
        </h4>

        <!-- Subtitle -->
        <p
           class="text-primary text-center md:text-start text-lg max-w-2xl mb-6 pr-4">
          <span class="font-bold">80% of impact teams can’t afford community evaluations.</span> Mundaly connects them to their communities and
          provides affordable, science-based reports and
          insights to deliver impact aligned with specific community needs and contexts.
        </p>

        <p
           class="text-black text-center md:text-start text-lg max-w-2xl mb-6 font-bold">
          Powered by real-time insights from community beneficiaries. No AI. No bots.
        </p>

        <!-- buttons -->
        <div class="flex flex-row flex-wrap md:flex-nowrap justify-center md:justify-start gap-4">
          <div class="mt-6 mb-3 ">
            <a
               [routerLink]="['business']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full">
              Get Verified Community Insights
            </a>
          </div>

          <div class="mt-6 mb-3 ">
            <a
               [routerLink]="['community']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full">
              Get Paid To Share Insights.
            </a>
          </div>
        </div>
      </div>

      <div class="md:flex md:justify-end md:-mt-4 mt-5 md:col-span-2">
        <div class="relative">
          <img
               src="assets/images/landing page/Frame 1000004029.png"
               class="w-full h-full"
               alt="" />
          <img
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/default-organization/w3llyf3qhsxc0mwydttu"
               class="absolute top-[-65px] right-[-50px] w-[200px]"
               alt="" />
          <img
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/pugrcg6jla8uwczmgawb"
               class="absolute bottom-[-150px] right-[-50px] w-[280px]"
               alt="" />
        </div>
      </div>

    </div>
  </div>

</section>


<!--footer -->
<app-footer></app-footer>

<!-- Linear gradient -->
<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[170px] absolute right-[0rem] top-[0rem]">
</div>