<!-- header -->
<nav id="topnav" class="defaultscroll max-w-[100vw]">
  <div class="container mt-3 relative">
    <!-- Logo container-->
    <a class="logo" [routerLink]="['./']">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/Sales_Outreach_3_lr87fz"
           class="inline-block md:h-[70px] h-[50px]  dark:hidden" alt="">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/Sales_Outreach_3_lr87fz" style="height: 28px;"
           class="hidden dark:inline-block" alt="">
    </a>

  </div>
</nav><!--end header-->

<!-- Hero -->
<section class="relative w-full md:pt-48 pt-24 md:pb-32   mb-16 overflow-hidden">
  <!-- Title and subtitle -->
  <div class="container ">
    <div
         class="relative grid    md:grid-cols-5 grid-cols-1 items-center gap-[30px] md:gap-0">
      <div class=" md:col-span-3 ">
        <!-- Title -->
        <div
             class="text-lg mt-5 md:mt-0 font-semibold text-center mb-3 text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
              <a [routerLink]="['./']"
                 (click)="toggleTab('organization')"
                 [ngClass]="{ '!text-primary !border-primary border-b-2  active hover:border-primary hover:text-primary': activeTabs['organization'] === true}"
                 class="inline-block p-4  md:pl-0 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300">Organization</a>
            </li>
            <li class="me-2">
              <a [routerLink]="['./']"
                 (click)="toggleTab('communityMember')"
                 [ngClass]="{ '!text-primary !border-primary border-b-2  active hover:border-primary hover:text-primary': activeTabs['communityMember'] === true }"
                 class="inline-block p-4 md:pl-0 border-transparent rounded-t-lg  hover:text-gray-600 hover:border-gray-30"
                 aria-current="page">Community Member</a>
            </li>

          </ul>
        </div>

        <!-- Community member -->
        <ng-container *ngIf="activeTabs['communityMember']">
          <h4
              class=" capitalize font-bold lg:leading-normal md:leading-normal md:text-4xl leading-normal md:text-start text-center text-3xl mb-4 text-primary">
            Every Community Voice Deserves,
            To Be Valued and Heard Directly.

            <!-- <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
                              <span class="relative text-white"> your impact</span>
                            </span> -->
          </h4>

          <div class="flex md:justify-end mt-20 mb-40 md:col-span-2 md:hidden">
            <div class="relative">
              <img
                   src="assets/images/landing page/Frame 1000004029.png"
                   class="w-full h-full"
                   alt="" />
              <img
                   src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/default-organization/w3llyf3qhsxc0mwydttu"
                   class="absolute top-[-65px] right-[-50px] w-[200px]"
                   alt="" />
              <img
                   src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/pugrcg6jla8uwczmgawb"
                   class="absolute bottom-[-150px] right-[-50px] w-[280px]"
                   alt="" />
            </div>
          </div>

          <!-- Subtitle -->
          <p
             class="text-primary text-center md:text-start text-lg max-w-3xl mb-6 pr-4">
            <span class="font-bold">You deserve a say in the initiatives that affect you and your community.</span> And you should be paid to do that
            at your own pace - anywhere and anytime.

          </p>

          <p
             class="text-black text-center md:text-start text-lg max-w-2xl mb-6 font-bold">
            Powered by real-time insights from community members. No AI. No bots.
          </p>

          <!-- buttons -->
          <div class="flex flex-row flex-wrap md:flex-nowrap justify-center md:justify-start gap-4">


            <div class="mt-6 mb-3 md:w-auto w-full">
              <a
                 [routerLink]="['community']"
                 class="lightbox py-3 px-7 md:w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full w-full">
                Get Paid To Share Insights.
              </a>
            </div>
          </div>
        </ng-container>



        <!-- Organization -->
        <ng-container *ngIf="activeTabs['organization']">
          <h4
              class=" capitalize font-bold lg:leading-normal md:leading-normal md:text-4xl leading-normal md:text-start text-center text-3xl mb-4 text-primary">
            Every Leader Deserves Verified,
            Affordable Community Insights.

            <!-- <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
                                <span class="relative text-white"> your impact</span>
                              </span> -->
          </h4>

          <div class="flex md:justify-end mt-20 mb-40 md:col-span-2 md:hidden">
            <div class="relative">
              <img
                   src="assets/images/landing page/Frame 1000004029.png"
                   class="w-full h-full"
                   alt="" />
              <img
                   src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/default-organization/w3llyf3qhsxc0mwydttu"
                   class="absolute top-[-65px] right-[-50px] w-[200px]"
                   alt="" />
              <img
                   src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/pugrcg6jla8uwczmgawb"
                   class="absolute bottom-[-150px] right-[-50px] w-[280px]"
                   alt="" />
            </div>
          </div>

          <!-- Subtitle -->
          <p
             class="text-primary text-center md:text-start text-lg max-w-3xl mb-6 pr-4">
            <span class="font-bold">Get verified, affordable community data and evidence.</span> Access detailed reports and stories to raise funds,
            meet regulations, and verify your impact.
          </p>

          <p
             class="text-black text-center md:text-start text-lg max-w-2xl mb-6 font-bold">
            Powered by real-time insights from community members. No AI. No bots.
          </p>

          <!-- buttons -->
          <div class="flex flex-row flex-wrap md:flex-nowrap justify-center md:justify-start gap-4">
            <div class="mt-6 mb-3 md:w-auto w-full">
              <a
                 [routerLink]="['business']"
                 class="lightbox py-3 px-7 md:w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full w-full">
                Get Community-Verified Insights
              </a>
            </div>

          </div>
        </ng-container>

      </div>

      <div class="md:flex md:justify-end md:-mt-4 mt-5 md:col-span-2 hidden ">
        <div class="relative">
          <img
               src="assets/images/landing page/Frame 1000004029.png"
               class="w-full h-full"
               alt="" />
          <img
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/default-organization/w3llyf3qhsxc0mwydttu"
               class="absolute top-[-65px] right-[-50px] w-[200px]"
               alt="" />
          <img
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/pugrcg6jla8uwczmgawb"
               class="absolute bottom-[-150px] right-[-50px] w-[280px]"
               alt="" />
        </div>
      </div>

    </div>
  </div>

</section>


<section class="flex justify-evenly items-center pt-2 pb-8 md:pb-auto gap-0 flex-wrap">
  <img class="h-[65px]" src="assets/images/business/Organizations/muhammad ali center logo 1.svg" />
  <img class="h-[65px]" src="assets/images/business/Organizations/circle-logo-30-under-30_760x760 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/Cocoa 360 logo 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/queens-young-leaders- logo 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/Yales-logo 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/u penn logo 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/CGI-logo 1.png" />
  <img class="h-[65px]" src="assets/images/business/Organizations/University_of_Cambridge logo 1.png" />

</section>


<!--         receiving impact section           -->
<section class="relative overflow-hidden">
  <div class="md:container relative">
    <div class="flex-col justify-start items-center inline-flex">
      <div class="grid grid-col-1 md:grid-cols-2 items-center">
        <!-- Text -->
        <div class="flex-col md:justify-start justify-center md:items-start items-center gap-0 md:gap-6 inline-flex py-12">
          <div class="py-2.5 flex-col justify-center items-start gap-2.5 flex">
            <!-- Title -->
            <div
                 class="text-black md:text-start text-center text-3xl md:text-4xl font-bold">
              <span class="text-primary text-3xl md:text-4xl font-bold">Affected by Impact?<br />
                Add your voice.</span>
            </div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>

          <div
               class="justify-start items-start relative my-[-80px]  md:order-last md:hidden">
            <img
                 class="w-full z-10 md:!max-w-none !max-w-full"
                 src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/apps-mockup" />
          </div>

          <p class="text-primary px-5 md:px-0  text-lg font-normal md:pr-20 text-center md:text-left">
            Share your views on your community's unaddressed needs and ongoing programs. Earn rewards and help donors and investors on
            Mundaly
            decide which organizations they should fund to serve you.
          </p>

          <!-- Book a demo button -->
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/community']"
               class="lightbox cursor-pointer py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">
              Add your Voice</a>
          </div>
        </div>

        <div class="justify-start items-start md:flex relative order-first md:order-last hidden">
          <img
               class="w-full z-10 md:!max-w-none !max-w-full"
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/apps-mockup" />
        </div>
      </div>
    </div>
  </div>

  <div
       class="w-[316px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute bottom-[-333px] left-[-58px]">
  </div>
  <div
       class="w-[337px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 md:bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
  </div>
</section>

<!--         Delivering impact section           -->
<section class="relative md:max-h-[480px]  overflow-visible z-10 bg-white">
  <div class="md:container relative">
    <div class="flex-col justify-start items-center inline-flex">
      <div class="grid grid-col-1 md:grid-cols-2 items-center">
        <!-- Image -->
        <div class="justify-start items-start hidden md:flex relative md:order-first order-last">
          <img
               class="w-[545px] md:h-[573px] md:min-h-[573px] z-10 md:!max-w-none !max-w-full px-4 md:px-0 pt-10"
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/facilitating-impact" />
        </div>

        <!-- Text -->
        <div class="flex-col md:justify-start justify-center md:items-start items-center gap-6 inline-flex py-12 md:pt-0 md:pl-20">
          <div class="py-2.5 flex-col justify-center items-start gap-2.5 flex">
            <!-- Title -->
            <div class="text-black md:text-start text-center text-3xl md:text-4xl font-bold">
              <span class="  font-bold"> <span class="text-primary">Facilitating impact?</span> <br />
                Reach more partners.</span>
            </div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>

          <div class="justify-start items-start md:hidden flex relative  ">
            <img
                 class="w-[545px] md:h-[573px] md:min-h-[573px] z-10 md:!max-w-none !max-w-full px-4 md:px-0 md:pt-10"
                 src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/facilitating-impact" />
          </div>

          <p class="text-primary text-lg px-4 md:px-0 font-normal text-center md:text-left">
            Your future donors, and investors are researching their next high-impact grantee and investee. Make sure they can find you.
            It's 100% free.
          </p>

          <!-- Book a demo button -->
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/auth/signup']"
               class="lightbox cursor-pointer py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">
              Claim your Mundaly profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--         Funding impact section           -->
<section class="relative overflow-hidden bg-primary md:py-28">
  <div class="md:container relative">
    <div class="flex-col justify-start items-center inline-flex">
      <div class="grid grid-col-1 md:grid-cols-2 items-center">
        <!-- Text -->
        <div class="flex-col md:justify-start justify-center md:items-start items-center gap-6 inline-flex py-12">
          <div class="py-2.5 flex-col justify-center items-start gap-2.5 flex">
            <!-- Title -->
            <div class="text-white md:text-start text-center text-3xl md:text-4xl font-bold">
              <span class="text-secondary">Funding impact?</span><br />
              Do it efficiently.
            </div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>

          <div
               class="justify-start flex items-start md:hidden relative t">
            <img
                 class="w-[508px] z-10 md:!max-w-none !max-w-full pl-4 md:px-0"
                 src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/funding-impact" />
          </div>

          <p class="text-white text-lg font-normal px-4 md:px-0 md:pr-20 text-center md:text-left">
            One platform to easily see your partner community's social needs, verify, report and track your social license & ESG
            goals. Guided by science-based insights from your best allies,
            community members and customers.
          </p>

          <!-- Book a demo button -->
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business']"
               class="lightbox cursor-pointer py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-teal-200 hover:bg-secondary-dark border-primary text-lg text-violet-950  rounded-full">
              Book a demo</a>
          </div>
        </div>

        <div
             class="justify-start hidden items-start md:flex relative order-first md:order-last">
          <img
               class="w-[508px] z-10 md:!max-w-none !max-w-full pl-4 md:px-0"
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/funding-impact" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--         Science based section           -->
<section class="relative overflow-hidden md:py-28">
  <div class="md:container relative">
    <div class="flex-col justify-start items-center inline-flex">
      <div class="grid grid-col-1 md:grid-cols-2 items-center">
        <!-- Text -->
        <div class="flex-col md:justify-start justify-center md:items-start items-center gap-6 inline-flex py-12">
          <div class="py-2.5 flex-col justify-center items-start gap-2.5 flex">
            <!-- Title -->
            <div class="text-primary md:text-start text-center text-3xl md:text-4xl font-bold">
              Science-based.
            </div>
            <!-- <div class=" text-primary text-2xl font-normal ">How we provide for our communities</div> -->
          </div>


          <div
               class="justify-start md:hidden flex items-start  relative ">
            <img
                 class="w-[508px] z-10 md:!max-w-none !max-w-full"
                 src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/science-based" />
          </div>

          <p class="text-primary text-lg  px-4 md:px-0 font-normal md:pr-20 text-center md:text-left">
            Mundaly blends 8+ years of rigorous scientific research from Yale and Cambridge Universities. Our tools are based on the expertise of Dr.
            Shadrack Frimpong, a globally renowned authority on community engagement in social impact and international health.
          </p>

          <!-- Book a demo button -->
          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business']"
               class="lightbox cursor-pointer py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-teal-200 hover:bg-secondary-dark border-primary text-lg text-violet-950  rounded-full">
              Learn more</a>
          </div>
        </div>

        <div
             class="justify-start hidden md:flex items-start  relative order-first">
          <img
               class="w-[508px] z-10 md:!max-w-none !max-w-full"
               src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/science-based" />
        </div>
      </div>
    </div>
  </div>
  <div
       class="w-[316px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 rounded-full blur-[170px] absolute bottom-[-333px] left-[-58px]">
  </div>
  <div
       class="w-[337px] h-[1151px] opacity-80 -z-10 mix-blend-color-burn bg-teal-400 md:bg-violet-950 rounded-full blur-[170px] absolute right-[-10.5rem] top-[10rem]">
  </div>
</section>

<!--         what people say about us section          -->
<section class="relative bg-slate-50 py-12 max-w-[100vw] box-border">
  <div class="container relative  flex flex-col  items-center pb-[20px]">
    <!--<div class="grid grid-cols-1 text-center">
      <h3
        class="text-primary md:text-3xl text-2xl font-bold md:leading-normal leading-normal mb-12"
      >
        What people say about us
      </h3>
    </div>-->


    <div class="w-full md:w-[550px] md:h-[285px] h-[450px]" style=" position: relative">
      <div class="w-[94%] md:h-[305px] h-[470px]" style=" left: 3%; position: absolute">
        <div class="w-[90%] md:h-[305px] h-[470px]"
             style=" left: 5%;  position: absolute; background: rgb(213, 197, 245); box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
        </div>
        <div class="w-[100%] md:h-[295px] h-[460px]"
             style=" left: 0px;  position: absolute; background: rgb(103, 71, 161); box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
        </div>
      </div>
      <div class="w-full"
           style=" height: 100%; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; left: 0px; top: 0px; position: absolute; background: rgb(46 16 101); box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div class="flex md:flex-row flex-col items-center md:items-start flex-nowrap gap-5">
          <div class="text-white text-base font-normal">
            “I love having the “verify” section focused on community
            stakeholders validating the real world impact. As a funder, seeing
            that sort of first-hand feedback provided by community members
            is a great addition to our vetting process.”
          </div>
          <!-- <img class=" border-2  border-violet-400 "
               style="width: 120px; height: 120px; box-shadow: 0px 5px 13px rgba(60, 72, 88, 0.20); border-radius: 0px; background-color: white;"
               src="assets/images/for-business/Adobe-Company-Logo.jpg" /> -->
        </div>
        <div style="width:100%; flex-direction: row; justify-content: center; align-items: center; gap: 5px; display: flex; padding-top: 30px;">
          <img style="width: 65px; height: 65px; box-shadow: 0px 5px 13px rgba(72, 60, 88, 0.2); border-radius: 56px"
               src="assets/images/for-business/alex.jpg" />
          <div style="flex-direction: column; justify-content: flex-start; align-items: start; gap: 0px; display: flex">
            <div style="text-align: center; color: white; font-size: 13px; font-weight: 500; line-height: 18px; word-wrap: break-word">Alex Jahier
            </div>
            <div
                 style="width: auto; height: auto; text-align: center; color: white; font-size: 10px; font-weight: 400; line-height: 18px; word-wrap: break-word">
              CSR at Adobe.</div>
          </div>
        </div>
      </div>
    </div>

    <!--end grid-->
  </div>
  <!--end container-->
</section>

<!--         Demo experience section          -->
<section class="section bg-white">
  <div class="container relative md:py-24 py-16">
    <div class="grid grid-cols-1 text-center">
      <div class="flex flex-row flex-wrap md:flex-nowrap justify-center  gap-4">
        <div class="mt-6 mb-3 md:w-auto w-full">
          <a
             [routerLink]="['business']"
             class="lightbox py-3 px-7 md:w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full w-full">
            Get Community-Verified Insights
          </a>
        </div>

        <div class="mt-6 mb-3 md:w-auto w-full">
          <a
             [routerLink]="['community']"
             class="lightbox py-3 px-7 md:w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-base text-primary rounded-full w-full">
            Get Paid To Share Insights.
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



<!--footer -->
<app-footer></app-footer>

<!-- Linear gradient -->
<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="hidden md:block w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[170px] absolute right-[0rem] top-[0rem]">
</div>
