<section class="bg-gray-50 dark:bg-gray-900 py-7 pb-12">

  <div class="flex flex-col justify-center items-center  mx-auto  pt-10 pb-20">

    <!-- Logo -->
    <a [routerLink]="['/']" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="h-16 mr-2" src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/p68a33iz9vzhxtwmr9xz"
           alt="logo">
    </a>





    <!-- Form -->
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-3xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">


      <form class="p-6 space-y-4 md:space-y-6 sm:p-8" [formGroup]="form" (submit)="submit()">

        <!-- Stepper -->
        <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
          <!-- Admin info -->
          <li
              [ngClass]="{'text-blue-600 dark:text-blue-500 after:border-blue-500': form.controls['adminInfo']!.valid, 'text-gray-700': form.controls['adminInfo']!.invalid, 'font-bold': activeSteps.adminInfo}"
              class="flex md:w-full items-center  sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
            <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
              <!-- Check mark -->
              <span class="me-2.5" *ngIf="form.controls['adminInfo']!.valid"><i class="mdi mdi-check-circle"></i></span>

              <!-- Step number -->
              <span class="me-2" *ngIf="!form.controls['adminInfo']!.valid"><i class="mdi mdi-numeric-1-circle"></i></span>
              Personal <span class="hidden sm:inline-flex sm:ms-2">Info</span>
            </span>
          </li>

          <!-- Organization info -->
          <li
              [ngClass]="{'text-blue-600 dark:text-blue-500 after:border-blue-500':  form.controls['organizationInfo'].valid, 'text-gray-700 ': form.controls['organizationInfo'].invalid, 'font-bold': activeSteps.organizationInfo}"
              class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
            <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
              <!-- Check mark -->
              <span class="me-2.5" *ngIf="form.controls['organizationInfo']?.valid"><i class="mdi mdi-check-circle"></i></span>

              <!-- Step number -->
              <span class="me-2" *ngIf="form.controls['organizationInfo']?.invalid"><i class="mdi mdi-numeric-2-circle"></i></span>

              Organization <span class="hidden sm:inline-flex sm:ms-2">Info</span>
            </span>
          </li>

          <!-- Terms and conditions -->
          <li class="flex items-center" [ngClass]="{ 'text-gray-700 font-bold': activeSteps.termsAndConditions}">
            <!-- Step number -->
            <span class="me-2"><i class="mdi mdi-numeric-3-circle"></i></span>
            Terms
          </li>
        </ol>

        <!-- admin information -->
        <ng-container *ngIf="activeSteps.adminInfo">
          <!-- Title -->
          <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Personal information
          </h1>


          <app-organization-registration-admin-info (submitted)="showStep('organizationInfo')"></app-organization-registration-admin-info>
        </ng-container>

        <!-- organization information -->
        <ng-container *ngIf="activeSteps.organizationInfo">
          <!-- Title -->
          <h1 class="text-xl font-bold text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Organization's information
          </h1>

          <app-organization-registration-organization-info (previous)="showStep('adminInfo')"
                                                           (submitted)="showStep('termsAndConditions')"></app-organization-registration-organization-info>
        </ng-container>


        <!-- Terms and conditions -->
        <ng-container *ngIf="activeSteps.termsAndConditions">
          <!-- Title -->
          <h1 class="text-xl font-bold text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Terms and Conditions
          </h1>

          <p-scrollPanel [style]="{ width: '100%', height: '400px'  }" styleClass="rounded-xl border p-5">
            <!-- Start Hero -->
            <section class="relative table w-full mt-5 pb-0 ">
              <p>Last updated: 01/17/2024 </p>
            </section>
            <!-- End Hero -->

            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">1. Introduction</h2>
              <p class="text-sm mt-3">Welcome to Mundaly! These Terms of Service ("Terms") govern your use of the Mundaly mobile application (the
                "App")
                provided by
                Mundaly
                Enterprise
                ("Mundaly," "we," "us," or "our"). By using the App, you agree to comply with and be bound by these Terms. If you do not agree to
                these Terms,
                please
                do not use the App.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">2. Company Information</h2>
              <p class="text-sm mt-3">Mundaly Enterprise <br>

                East Legon, Greater Accra, Accra, Ghana <br>

                Email: admin@mundaly.com <br>

                Phone: +2330243659824.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">3. App Information</h2>
              <p class="text-sm mt-3">Mundaly is an app that helps communities share their thoughts on impact happening in their communities. Whether
                it's
                feedback for businesses, donors,
                or investors, Mundaly makes it easy. We work together to measure, verify and track impact. Our app collects real opinions directly
                from
                community
                members, making it simple for everyone to have a voice in building a better, more sustainable future.

              </p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">4. User Agreement</h2>
              <p class="text-sm mt-3">By using the App, you agree to the following terms and conditions:</p>
              <ul class="list-disc pl-10 text-sm">
                <li>You must be 18 years or older to use the App.</li>
                <li>You agree to comply with all applicable laws and regulations.</li>
                <li>Impersonation: Users are forbidden from impersonating another person.</li>
                <li>Surveys: Users shall take a survey of an organization only if they have interacted with that organization.</li>
                <li>Reviews: Users shall not be paid to give fake review.</li>

              </ul>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">5. Privacy Policy</h2>
              <p class="text-sm mt-3">Please refer to our <a [routerLink]="['/', 'privacy-policy']" class="font-bold text-primary">Privacy Policy</a>
                for
                information on how user data is
                collected, used, and stored. Our Privacy Policy
                also includes details about any
                third-party services or analytics tools used in the App.</p>

            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">6. User Conduct</h2>
              <p class="text-sm mt-3">You agree to use the App in a manner consistent with its intended purpose. Prohibited activities include, but
                are not
                limited to:.</p>
              <ul class="list-disc pl-10 text-sm">
                <li>Violating any laws or regulations.</li>
                <li>Uploading or sharing inappropriate content.</li>
                <li>Engaging in fraudulent or deceptive activities.</li>

              </ul>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">7. Intellectual Property</h2>
              <p class="text-sm mt-3">Mundaly retains ownership of all intellectual property related to the App. This includes trademarks, copyrights,
                and any
                licenses granted to users.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">8. Liability and Disclaimers</h2>
              <p class="text-sm mt-3">Mundaly and its affiliates are not liable for any damages or losses incurred while using the App. The App is
                provided
                "as-is" without any warranties
                or guarantees.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">9. Termination Clause</h2>
              <p class="text-sm mt-3">We reserve the right to terminate your access to the App for violations of these Terms. Termination may result
                in the loss
                of data and other
                consequences.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">10. Governing Law</h2>
              <p class="text-sm mt-3">These Terms are governed by the laws of Ghana. Any disputes arising from or in connection with these Terms shall
                be
                subject to the exclusive
                jurisdiction of the courts in Ghana.</p>
            </section>
            <section class="mt-5">
              <h2 class="text-xl font-bold text-primary ">11. Updates and Modifications</h2>
              <p class="text-sm mt-3">We reserve the right to update or modify these Terms at any time. Changes will be communicated through the App.
                Continued
                use of the App after such
                modifications constitutes acceptance of the updated Terms.</p>
            </section>


            <!-- Linear gradient -->
            <div
                 class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
            </div>
            <div
                 class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
            </div>

          </p-scrollPanel>

          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="terms" aria-describedby="terms" type="checkbox"
                       formControlName="terms_and_conditions"
                       class=" appearance-none "
                       required="">
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500 dark:text-gray-300">
                  I agree to the <a [routerLink]="['/terms-of-services']" target="_blank" class="text-primary hover:underline"> terms and
                    conditions </a>
                </label>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="flex gap-4">
            <!-- Previous -->
            <button type="button"
                    (click)="showStep('organizationInfo')"
                    class="w-full text-white border-white border bg-primary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Previous</button>



            <!-- Next -->
            <button type="submit"
                    (click)="submit()"
                    [disabled]="form.invalid || loading"
                    [ngClass]="{'cursor-not-allowed bg-slate-400': form.invalid || loading}"
                    class="w-full text-primary border-primary border bg-secondary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Submit
              <app-loading *ngIf="loading"></app-loading>
            </button>
          </div>


          <!-- <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                    Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                                  </p> -->
        </ng-container>


      </form>

      <div class="py-3 pb-5 text-center"><a [routerLink]="['/auth/login']" class="text-primary  text-sm ">Already have an account? Sign in</a></div>
    </div>



  </div>


</section>