<section class="bg-gray-50 dark:bg-gray-900 px-5 pt-7 pb-12">

  <div class="flex flex-col justify-center items-center  mx-auto  pt-10 pb-20">

    <!-- Logo -->
    <a [routerLink]="['/']"
       class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="h-16 mr-2"
           src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/p68a33iz9vzhxtwmr9xz"
           alt="logo">
    </a>





    <!-- Form -->
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-2xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">


      <form class="p-6 space-y-4 md:space-y-6  grid grid-cols-1 gap-3 md:gap-1 sm:p-8"
            [formGroup]="form!"
            (submit)="submit()">


        <!-- admin information -->
        <!-- Title -->
        <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign up to Get Verified
        </h1>





        <!-- Name -->
        <div>
          <label for="email"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What's your name?</label>
          <input type="text"
                 name="name"
                 id="name"
                 formControlName="name"
                 class="bg-gray-50 border border-gray-300 text-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Alexander Giggs"
                 required="">
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <!-- Email -->
          <div>
            <label for="email"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What's your work email?</label>
            <input type="email"
                   name="email"
                   id="email"
                   formControlName="email"
                   [ngClass]="{ 'border-red-500': form!.controls['email'].dirty && form!.controls['email'].invalid}"
                   class="bg-gray-50 border text-primary border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="alexander@mundaly.com"
                   required="">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500"
               *ngIf="form!.controls['email'].dirty && form!.controls['email'].invalid">
              Kindly add a valid <span class="font-medium">work email.</span>
            </p>
          </div>



          <!-- Phone number -->
          <div>
            <label for="phone"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What's your phone number?</label>
            <ngx-intl-tel-input [cssClass]="'w-full bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600   py-2.5 '"
                                [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [searchCountryField]="[
                                  SearchCountryField.Iso2,
                                  SearchCountryField.Name
                                ]"
                                [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.UnitedStates"
                                [maxLength]="15"
                                [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.International"
                                name="phone"
                                formControlName="phone_number">
            </ngx-intl-tel-input>
            <p class="mt-2 text-sm text-red-600 dark:text-red-500"
               *ngIf="form!.controls['phone_number'].touched && form!.controls['phone_number'].invalid">
              Kindly add a valid <span class="font-medium">phone number.</span>
            </p>
          </div>
        </div>

        <!-- Name -->
        <div>
          <label for="email"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What's your organization's name?</label>
          <input type="text"
                 name="name"
                 id="name"
                 formControlName="organization_name"
                 class="bg-gray-50 border border-gray-300 text-primary sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Nobis Inc."
                 required="">
        </div>


        <div>
          <label for="type"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            What type of <span *ngIf="form.get('category_organization')?.value === 2">business</span><span
                  *ngIf="form.get('category_organization')?.value === 1">impact</span> partner are you?</label>
          <p-dropdown class=""
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a type"
                      formControlName="type_organization"
                      [options]="dependancies.typeOrganization"
                      optionLabel="name"></p-dropdown>
        </div>




        <!-- Submit -->
        <div class="flex  justify-end gap-4">

          <!-- Next -->
          <button type="submit"
                  [disabled]="form!.invalid || loading"
                  [ngClass]="{ 'cursor-not-allowed bg-slate-400': form!.invalid || loading }"
                  class="w-full text-primary border-primary border bg-secondary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create
            an account <app-loading *ngIf="loading"></app-loading></button>
        </div>




      </form>

      <div class="py-3 pb-5 text-center"><a [routerLink]="['/auth/login']"
           class="text-primary  text-sm ">Already have an account? Sign in</a></div>
    </div>



  </div>


</section>
