<!-- Start Hero -->
<section class="relative table w-full md:py-44 py-36 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="md:col-span-7">
        <div class="md:me-6">
          <div
               class="bg-white dark:bg-slate-900 text-slate-400 py-2 px-4 inline-flex items-center font-medium rounded-full shadow dark:shadow-gray-800">
            <span class="bg-secondary text-white text-[12px] font-bold px-2.5 py-0 rounded-full me-2">Mundaly</span> Measure
          </div>
          <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 mt-4">Baseline your social license
          </h4>
          <p class="text-slate-400 text-lg max-w-xl">Use our research-backed tools to gain insights into how your community members and
            partners currently perceive you. Get ahead of looming legal, reputation, and headline risks.</p>

          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business/book-demo']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
              a demo</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="md:col-span-5">
        <div class="relative">
          <img src="assets/images/for-business/measure/Forecast.jpg"
               class="rounded-lg shadow-md  dark:shadow-gray-800" alt="">
          <!-- <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
            <a href="#!" data-type="youtube" data-id="S_CGed6E610"
               class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-headline-risk dark:text-white">
              <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
            </a>
          </div> -->
        </div>
      </div><!--end col-->
    </div><!--end grid-->
  </div><!--end container -->
</section><!--end section-->
<!-- End Hero -->

<!--  -->
<section class="relative md:py-24 py-16">
  <div class="grid grid-cols-1 pb-8 text-center">
    <!-- <h6 class="text-secondary text-sm font-bold uppercase mb-2">With Mundaly</h6> -->
    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Predict Impact before you fund</h3>

    <p class="text-slate-400 max-w-xl mx-auto">We empower our clients to model the potential consequences of
      different investment scenarios and forecast the expected
      results for their strategies.</p>
  </div>
  <div class="container relative">
    <div class="grid grid-cols-1 justify-center">
      <div class="relative z-1">

        <div class="grid grid-cols-1 md:text-start text-center justify-center">
          <div class="relative">
            <img src="assets/images/for-business/measure/Forecast.jpg" alt="" class="w-full">
            <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
              <!-- <a href="#!" data-type="youtube" data-id="S_CGed6E610"
                 class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-indigo-600 dark:text-white">
                <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
              </a> -->
            </div>
          </div>
        </div>

      </div>
    </div><!--end row -->
  </div><!--end container-->

</section>

<section class="relative  py-16 bg-gray-50">

  <div class="container relative ">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="lg:col-span-5 md:col-span-6 order-1 md:order-2">
        <div class="lg:ms-8">

          <img src="assets/images/for-business/measure/confirm.svg" class="shadow rounded-lg object-cover md:max-w-[300px]" alt="">
        </div>
      </div>

      <div class="lg:col-span-7 md:col-span-6 order2 md:order-1">
        <div class="lg:me-5">
          <h6 class="text-secondary text-sm font-bold uppercase mb-2">Easy To Track</h6>
          <h3 class="mb-4  md:leading-normal text-3xl leading-normal font-semibold">Confirm Reported Impact</h3>

          <p class="text-slate-400 max-w-xl">Continuous real-time monitoring of your initiatives allows for ongoing validation of community reported
            impact, enabling
            you to confirm reported impact as it unfolds.</p>

          <ul class="list-none text-slate-400 my-6">
            <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Real-time monitoring</li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i> Simple and convenient tracking
            </li>
            <li class="mb-1 flex"><i class="uil uil-check-circle text-indigo-600 text-xl me-2"></i>Timely results</li>
          </ul>

        </div>
      </div>
    </div>
  </div>


  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="md:col-span-6">
        <div class=" items-center">


          <img src="assets/images/for-business/measure/Seals-01-removebg-preview.png" class="object-fit rounded-lg" alt="">



        </div>
      </div><!--end col-->

      <div class="md:col-span-6">
        <div class="md:ms-6">
          <!-- <p class="text-indigo-600 text-lg font-medium mb-4">Web and mobile development</p> -->
          <h4 class="mb-4  md:leading-normal text-3xl leading-normal font-semibold">The Community-Verified<br> Impact seal</h4>
          <p class="text-slate-400 max-w-xl">By earning the trust of the community and showcasing our dedication to responsible impact initiatives,
            you can achieve
            our <strong>prestigious badge of excellence</strong> and become part of the industry's foremost change-makers.
          </p>

          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/business/book-demo']"
               class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Contact
              us</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end grid-->
  </div>



</section>

<section class="section bg-slate-100">
  <div class="container relative md:py-24 py-16">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Experience Mundaly for Yourself
      </h3>
      <p class="text-slate-400 max-w-xl mx-auto">For a discounted rate, you can also use our platform to assess the performance of your new products
        and services,
        enabling continuous improvement while saving valuable resources.</p>
      <div class="mt-6 mb-3 hidden md:block">
        <a [routerLink]="['/business/book-demo']"
           class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
          a demo</a>
      </div>
    </div>
  </div>
</section>