<!-- Start Hero -->
<section class="relative table w-full py-36 pb-0 pt-36 ">
  <div class="container relative">
    <div class="">

      <h3 class="text-primary text-4xl sm:text-7xl  font-semibold break-words mb-2">
        Impacted <br>Communities
      </h3>
      <p class="text-zinc-700 text-2xl font-semibold font-['Figtree']">
        Affected by impact? Add your voice.
      </p>

    </div>
  </div>
</section>
<!-- End Hero -->


<!-- Guide Donors and investors -->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-3 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse  sm:flex-row-reverse flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full  flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-black text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Guide Donors and investors
      </h3>

      <div class="text-slate-500 text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        What are your community’s urgent health disparities? Are the existing initiatives being implemented as planned and scheduled?
        How well is the
        implementing organization engaging your community? Help donors and investors on Mundaly decide which organizations they should fund to serve
        you.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/community-voice']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
            Share your insights
          </a>
        </div>
      </div>

    </div>

    <div class="w-fit">

      <img
           src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/who-is-for/impacted-communities-1"
           class="sm:min-w-[565px] w-[50%] max-w-full min-w-full "
           alt="" />

    </div>

  </div>
</section>


<!-- Earn Rewards -->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-3 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse  sm:flex-row flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full  flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-black text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Earn Rewards 
      </h3>

      <div class="text-slate-500 text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Your insights are going to change your community. But it doesn’t stop there – it’ll also earn you rewards such as airtime, discount vouchers,
        and yes, cash!
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/community-voice']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
            Add your voice
          </a>
        </div>
      </div>

    </div>

    <div class="w-fit">

      <img
           src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/who-is-for/impacted-communities-2"
           class="sm:min-w-[565px] w-[50%] max-w-full min-w-full"
           alt="" />

    </div>

  </div>
</section>


<app-community-suggestion [minified]="true"></app-community-suggestion>

<!-- Linear gradient -->
<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[300px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[600px] absolute right-[3.5rem] top-[10rem]">
</div>