<!-- Start Hero -->
<section class="relative table w-full md:py-44 py-36 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="md:col-span-7">
        <div class="md:me-6">

          <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 mt-4">Impacted Communities
          </h4>
          <p class="text-slate-400 text-lg max-w-xl">
            Help donors and investors on Mundaly decide which organizations they should fund to serve you.
          </p>

          <div class="mt-6 mb-3 hidden md:block">
            <a [routerLink]="['/for-business/book-demo']"
              class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">Book
              a demo</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="md:col-span-5">
        <div class="relative">
          <img src="assets/images/for-business/report/report.jpg" style="height: 515px; width: 442px; object-fit: cover;"
               class="rounded-lg shadow-md dark:shadow-gray-800" alt="">
          <!-- <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
            <a href="#!" data-type="youtube" data-id="S_CGed6E610"
               class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-headline-risk dark:text-white">
              <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
            </a>
          </div> -->
        </div>
      </div><!--end col-->
    </div><!--end grid-->
  </div><!--end container -->
</section><!--end section-->
<!-- End Hero -->


<!-- Prepare and File Report -->
<section class="relative bg-white dark:bg-slate-800 md:py-24 py-16">

  <div class="container relative">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="relative">
        <img src="assets/images/for-business/report/report.jpg" class="rounded-lg shadow-md dark:shadow-gray-800" alt="">

      </div>

      <div class="lg:ms-8">
        <div class="grid grid-cols-1 gap-[30px]">


          <div class="grid grid-cols-1 pb-8 text-center">
            <!-- <h6 class="text-secondary text-sm font-bold uppercase mb-2">Report</h6> -->
            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">
              Share your views on community’s urgent needs and existing impact initiatives.
            </h3>
        
          </div>

        </div>
      </div>
    </div><!--end grid-->
  </div>
</section>


<!-- Benchmark your impact performance -->
<section class="relative bg-gray-50 dark:bg-slate-800 md:py-24 py-16">

  <div class="container relative">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
      
      <div class="lg:ms-8">
        <h4 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold text-center sm:text-left">Earn rewards.</h4>
        
      </div>
      <img src="assets/images/for-business/report/report1.svg" alt="">
    </div>
  </div>
</section>




<!-- Call to Action -->
<section class="section bg-gray-50">
  <div class="container relative pb-10 ">
    <div class="grid grid-cols-1 text-center">
      <div class="mt-6 mb-3 block">
        <a [routerLink]="['/community-voice']"
          class="lightbox py-3 px-7 w-auto inline-block font-semibold tracking-wide border align-middle duration-500 text-center bg-secondary hover:bg-secondary-dark border-primary text-lg text-primary rounded-full">
          Add your voice</a>
      </div>
    </div>
  </div>
</section>
