<!-- Humberger menu -->
<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-secondary-dark rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-slate-50 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>

<!-- Sidebar -->
<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-organization-dashboard pt-10 relative dark:bg-gray-800">
    <!-- Logo -->
    <a [routerLink]="['/']" class="flex items-center ps-2.5 mb-5">
      <img src="assets/images/munlogo-white.png/" class="h-6 me-3 sm:h-7" alt="Mundaly logo" />
    </a>

    <!-- Sidebar -->
    <ul class="space-y-2 relative font-medium">
      <ng-container *ngIf="typeOrganizationId === 1">
        <!-- Community -->
        <li>
          <a [routerLink]="['community']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
             routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-account-supervisor" routerLinkActive="text-white"></i></span>
            <span class="ms-2">Community</span>
          </a>
        </li>

        <!-- Impact -->
        <li>
          <a [routerLink]="['impact']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
             routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-artboard" routerLinkActive="text-white"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">Impact</span>
          </a>
        </li>


        <!-- Benchmark and derisk -->
        <li>
          <a [routerLink]="['benchmark']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
             routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-podium-gold" routerLinkActive="text-white"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">Benchmark and Derisk</span>
          </a>
        </li>


        <!-- Get Credit -->
        <li>
          <a [routerLink]="['regulators-and-investors']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
             routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-credit-card" routerLinkActive="text-white"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">Regulators and Investors</span>
          </a>
        </li>


        <!-- Documents -->
        <li>
          <a [routerLink]="['documents']"
             routerLinkActive="bg-secondary-dark"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class="">
              <i class=" text-secondary-dark text-xl mdi mdi-file-chart" routerLinkActive="text-white"></i>
            </span>
            <span class="flex-1 ms-2 whitespace-nowrap">Get Reports</span>
          </a>
        </li>

        <!-- History -->
        <li>
          <a [routerLink]="['history']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
             routerLinkActive="bg-secondary-dark">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-clock-time-nine" routerLinkActive="text-white"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">History</span>
          </a>
        </li>
      </ng-container>

      <!-- <li>
        <button type="button"
                class="flex items-center w-full hover:bg-secondary-dark justify-between text-slate-50  pr-3 transition duration-75 rounded-lg group  dark:text-white dark:hover:bg-gray-700"
                aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">

          <a [routerLink]="['impact']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-artboard"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">Impact</span>
          </a>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Social
              impact fidelity</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Community
              Perception</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Facilitation
              Strategy</a>
          </li>
        </ul>
      </li> -->

      <ng-container *ngIf="typeOrganizationId === 2">
        <!-- Report Outcomes -->
        <li>
          <a [routerLink]="['report-outcomes']"
             routerLinkActive="bg-secondary-dark"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class="">
              <i class=" text-secondary-dark text-xl mdi mdi-chart-line" routerLinkActive="text-white"></i>
            </span>
            <span class="flex-1 ms-2 whitespace-nowrap">Report outcomes</span>

          </a>
        </li>

        <!-- Documents -->
        <li>
          <a [routerLink]="['documents']"
             routerLinkActive="bg-secondary-dark"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class="">
              <i class=" text-secondary-dark text-xl mdi mdi-file-chart" routerLinkActive="text-white"></i>
            </span>
            <span class="flex-1 ms-2 whitespace-nowrap">Documents</span>
          </a>
        </li>

        <!-- Engage -->
        <li>
          <a [routerLink]="['history']"
             routerLinkActive="bg-secondary-dark"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class="">
              <i class=" text-secondary-dark text-xl mdi mdi-clock-time-nine" routerLinkActive="text-white">

              </i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">History</span>
          </a>
        </li>
      </ng-container>


    </ul>

    <!-- User profile -->
    <div class="absolute bottom-10 p-2 ">
      <!-- User profile -->
      <div class=" flex items-center justify-self-end ">
        <span>
          <img src="https://media.istockphoto.com/id/942153448/de/vektor/avatar.jpg?s=612x612&w=0&k=20&c=dYzovkqwc-ADwIYjH7fd6MdgaJi0UslcMC3ycK9dmSg="
               alt="" class="h-12 w-12 rounded-full border-2 border-slate-50">
        </span>
        <div class="p-2 flex align-center flex-col">
          <div class="text-slate-50 font-semibold flex items-center">{{ user?.name }} <span><i
                 class="mdi mdi-menu-down text-2xl"></i></span></div>
          <p class="text-slate-300 text-sm">{{ organization?.name }}</p>
        </div>
      </div>


      <!-- Setting button -->
      <div class="flex text-slate-400 mt-7 ursor-pointer hover:text-slate-500">
        <span class="me-2"><i class="mdi mdi-cog-outline"></i></span>
        <span (click)="showSetupLogoAndCoverModal = true">Settings</span>
      </div>


      <!-- Logout button -->
      <div class="flex text-slate-400 mt-7 cursor-pointer hover:text-slate-500" (click)="authService.logout()">
        <span class="me-2"><i class="mdi mdi-logout"></i></span>
        <span>Logout</span>
      </div>
    </div>

  </div>
</aside>


<!-- Content -->

<div class="pt-4 sm:ml-64 relative">
  <!-- Complete registration banner -->
  <div class="w-full mt-[-1rem]   p-4 text-center bg-secondary" *ngIf="!isRegistrationComplete()">
    Please complete your registration <button type="button" (click)="showSetupLogoAndCoverModal = true"
            class="px-2 py-1.5 text-xs font-medium text-center ms-1 text-white bg-primary rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 ">
      Here</button>
  </div>


  <router-outlet></router-outlet>

  <a [routerLink]="['/', 'dashboard', 'report-outcomes', 'impact-outcomes']" fragment="upload-report" class="fixed right-2 bottom-2"
     *ngIf="authService?.freeImpactAnalysisReportStatus === 'not-started'">
    <button type="button"
            class="text-white relative bg-primary hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-secondary-dark font-medium rounded-full  px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-primary dark:focus:ring-blue-800">Get
      Your Free Impact Analysis Report
      <span
            class="absolute top-0 right-2 transform -translate-y-1/2 w-4 h-4 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
    </button>
  </a>
  <!-- <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-slate-50 dark:text-secondary-dark">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-slate-50 dark:text-secondary-dark">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-slate-50 dark:text-secondary-dark">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
  </div> -->
</div>


<p-dialog [header]="isRegistrationComplete() ? 'Edit Profile': 'Complete Registration'" [(visible)]="showSetupLogoAndCoverModal" [modal]="true"
          [style]="{ width: '50vw' }" [draggable]="false"
          [resizable]="false">
  <app-dashboard-organization-complete-registration (created)="showSetupLogoAndCoverModal = false"></app-dashboard-organization-complete-registration>
</p-dialog>