<ng-container *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">
  <div class="p-5" *ngIf="!loading && impactFidelityService.score">
    <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
      <div class="text-lg font-bold">Verify Metrics</div>

    </div>

    <div class="relative overflow-x-auto shadow-md ">
      <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-6">
              #
            </th>
            <th scope="col" class="px-6 py-6 ">
              Category
            </th>
            <th scope="col" class="px-6 py-6">
              Key
            </th>
            <th scope="col" class="px-6 py-6">
              Score
            </th>
            <th scope="col" class="px-6 py-6">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Acceptability -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-6">
              1
            </td>

            <!-- Name and Photo -->
            <th scope="row p-6">
              Acceptability
            </th>

            <!-- Key -->
            <td class="p-6">
              {{ scaleService.getScoreKey(impactFidelityService.score.acceptability! ) }}
            </td>

            <!-- Score -->
            <td class="p-6">
              <div class="flex items-center font-semibold">
                {{ impactFidelityService.score.acceptability}}
              </div>
            </td>



            <td class="p-6">
              <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                   class="mdi mdi-information"></i></a>

            </td>
          </tr>


          <!-- Appropriateness -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-6">
              2
            </td>

            <!-- Name and Photo -->
            <th scope="row p-6">
              Appropriateness
            </th>

            <!-- Key -->
            <td class="p-6">
              {{ scaleService.getScoreKey(impactFidelityService.score.appropriateness! ) }}
            </td>

            <!-- Score -->
            <td class="p-6">
              <div class="flex items-center font-semibold">
                {{ impactFidelityService.score.appropriateness}}
              </div>
            </td>



            <td class="p-6">
              <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                   class="mdi mdi-information"></i></a>

            </td>
          </tr>



          <!-- Feasibility -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-6">
              3
            </td>

            <!-- Name and Photo -->
            <th scope="row p-6">
              Feasibility
            </th>

            <!-- Key -->
            <td class="p-6">
              {{ scaleService.getScoreKey(impactFidelityService.score.feasibility! ) }}
            </td>

            <!-- Score -->
            <td class="p-6">
              <div class="flex items-center font-semibold">
                {{ impactFidelityService.score.feasibility}}
              </div>
            </td>



            <td class="p-6">
              <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                   class="mdi mdi-information"></i></a>

            </td>
          </tr>


          <!-- Comprehensiveness -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-6">
              4
            </td>

            <!-- Name and Photo -->
            <th scope="row p-6">
              Comprehensiveness
            </th>

            <!-- Key -->
            <td class="p-6">
              {{ scaleService.getScoreKey(impactFidelityService.score.comprehensiveness! ) }}
            </td>

            <!-- Score -->
            <td class="p-6">
              <div class="flex items-center font-semibold">
                {{ impactFidelityService.score.comprehensiveness}}
              </div>
            </td>



            <td class="p-6">
              <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                   class="mdi mdi-information"></i></a>

            </td>
          </tr>


          <!-- Quality of delivery -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-6">
              5
            </td>

            <!-- Name and Photo -->
            <th scope="row p-6">
              Quality of delivery
            </th>

            <!-- Key -->
            <td class="p-6">
              {{ scaleService.getScoreKey(impactFidelityService.score.quality_of_delivery! ) }}
            </td>

            <!-- Score -->
            <td class="p-6">
              <div class="flex items-center font-semibold">
                {{ impactFidelityService.score.quality_of_delivery}}
              </div>
            </td>



            <td class="p-6">
              <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                   class="mdi mdi-information"></i></a>

            </td>
          </tr>



        </tbody>
      </table>

      <div class="text-primary md:text-lg text-sm bg-primary/5 p-2">
        <span class="me-2">
          <i class="mdi mdi-lightbulb-on"></i>
          Insight:
        </span>

        <!-- If the community has more than 10 respondents -->
        <span class="font-bold"
              *ngIf="impactFidelityService.score.total_respondants! >= 5 && impactFidelityService.score.company_reported_impact_strength">
          Community beneficiaries confirm
          {{ scaleService.getImpactStrengthKey(impactFidelityService.score.score_rating!) }}
          which
          {{ scaleService.getScoresAlignmentKey(impactFidelityService.score.score_rating!,
          impactFidelityService.score.company_reported_impact_strength!) }}
          what
          {{ organization?.name }}
          reported
        </span>


        <!-- If the community has less than 10 respondents -->
        <span class="font-bold italic"
              *ngIf="impactFidelityService.score.total_respondants! < 5 || !impactFidelityService.score.company_reported_impact_strength">
          Insufficient data for insights
        </span>
      </div>
    </div>
  </div>

  <app-loading *ngIf="loading"></app-loading>
</ng-container>


<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>