<!-- Hero section -->
<section class="w-full py-36 ">
  <div class="container flex flex-row justify-center items-center">
    <h4 class="font-bold  leading-normal text-4xl">Your entire community-first journey in<br/>one comprehensive platform.</h4>

    <div class="relative !w-[280px] !h-[226px] !min-w-[280px] !min-h-[226px]">
      <img src="assets/images/for-business/overview/iPadPro.png"  class="w-[120%] h-auto absolute top-0" alt="tablet mockup">
      <img src="assets/images/for-business/overview/Device13PM.png" class="w-[60%] h-auto absolute -right-10 -bottom-16"  alt="mobile mockup">
    </div>
  </div><!--end container-->
</section>

<!-- Causes -->
<section class="relative table bg-gray-50 w-full pt-16">
  <div class="container relative">
    <div class="flex justify-center items-center mb-10">
      <div class="w-auto h-14 px-4 py-2.5 bg-white rounded-full shadow justify-center items-center gap-2.5 inline-flex">
        <div class="text-center text-slate-400 text-base font-medium">How it Works</div>
      </div>
    </div><!--end grid-->

    <div class="grid  grid-cols-1 mt-4 gap-[30px]">
      <div class="grid  md:grid-cols-4 grid-cols-1 mt-4 gap-[30px]">
        <div class="p-4 bg-white rounded border border-zinc-100 flex-col justify-start items-center gap-4 inline-flex">
          <div class="w-[198px] h-[198px] relative">
            <img src="assets/images/for-business/overview/Business Plan-rafiki 1.png" />
          </div>
          <div class="flex-col justify-start items-center gap-[18px] flex">
            <div class="w-[69.28px] h-[22px] text-center text-violet-950 text-base font-medium  leading-7">Measure</div>
            <div class="w-[241px] text-center text-slate-400 text-[15px] font-normal  leading-relaxed">Baseline your social license. Predict and Verify the impact of your ESG and social programs.<br/><br/></div>
          </div>
        </div>
        <div class="p-4 bg-white rounded border border-zinc-100 flex-col justify-start items-center gap-4 inline-flex">
          <div class="w-[198px] h-[198px] relative">
            <img src="assets/images/for-business/overview/Taking notes-rafiki.png" />
          </div>
          <div class="flex-col justify-start items-center gap-[18px] flex">
            <div class="w-[29.11px] h-[22px] text-center text-violet-950 text-lg font-medium  leading-7">Act</div>
            <div class="w-[201px] text-center text-slate-400 text-[15px] font-normal  leading-relaxed">View location-specific issues, and set sustainability targets to reduce Community Relations Risks</div>
          </div>
        </div>
        <div class="p-4 bg-white rounded border border-zinc-100 flex-col justify-start items-center gap-4 inline-flex">
          <div class="w-[198px] h-[198px] relative">
            <img src="assets/images/for-business/overview/Meeting-rafiki.png" />
          </div>
          <div class="flex-col justify-start items-center gap-[18px] flex">
            <div class="w-[55.76px] h-[22px] text-center text-violet-950 text-[17.16px] font-medium  leading-7">Report</div>
            <div class="w-[201px] text-center text-slate-400 text-[15px] font-normal  leading-relaxed">Generate Disclosures, Compliance, & Benchmarking reports.<br/><br/></div>
          </div>
        </div>
        <div class="p-4 bg-white rounded border border-zinc-100 flex-col justify-start items-center gap-4 inline-flex">
          <div class="w-[198px] h-[198px] relative">
            <img src="assets/images/for-business/overview/Investment data-rafiki.png" />
          </div>
          <div class="flex-col justify-start items-center gap-[18px] flex">
            <div class="w-[43.84px] h-[22px] text-center text-violet-950 text-base font-medium  leading-7">Track</div>
            <div class="w-[201px] text-center text-slate-400 text-[15px] font-normal  leading-relaxed">See progress and metrics from your funded initiatives. Monitor progress toward becoming Community-First.<br/></div>
          </div>
        </div>
      </div>
    </div><!--end grid-->
  </div>

  <section class="py-20 mt-24 w-full table relative bg-[url('/assets/images/digital/bg01.jpg')] bg-center bg-no-repeat bg-cover">
    <div class="absolute inset-0 bg-secondary-dark/80"></div>
    <div class="container relative">
      <div class="grid grid-cols-1 text-center">
        <h3 class="mb-4 md:text-3xl text-2xl text-white font-medium">Mundaly turns ‘community-first’ from an abstract concept<br/>into a measurable and achievable competitive asset</h3>
      </div><!--end grid-->
    </div><!--end container-->
  </section>
</section>


<!-- Welcome Mundaly -->
<section >
    <!--               The Community License Scale               -->
    <div class="mt-16 mb-5 flex flex-col container items-center">
    <h3 class="md:text-3xl text-2xl text-center text-primary font-bold">
      The Community License Scale
    </h3>
    <h4 class="text-center md:text-xl text-lg text-primary my-7 font-medium">
    Frimpong S.O, et al, 2023. Forthcoming
    </h4>
    <img src="assets/images/for-business/hero/licence-scale.svg" />
   
  </div>
</section>



<!-- The opportunity -->
<section class="relative py-5">
  <!-- Opportunities -->
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center">
      <div class="flex justify-center items-center mb-10">
        <div class="w-auto h-14 px-4 py-2.5 bg-white rounded-full shadow justify-center items-center gap-2.5 inline-flex">
          <div class="text-center text-slate-400 text-base font-medium">The Opportunity</div>
        </div>
      </div>
      <h3 class=" text-3xl text-center text-primary font-bold">
        It pays to prioritize community insights
      </h3>

    </div>



    <div class="flex justify-center items-center flex-col gap-8 mb-5">
      <!-- Data driven -->
      <div class="p-6 rounded-lg  shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 w-[527px]">
        <!-- Title -->
        <div class="font-semibold h5 hover:text-secondary flex flex-row text-lg items-center pb-3">
          <span
                class="bg-gray-200 text-violet-950 text-xs font-bold mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-blue-300">1</span>
          <span class="ms-1 text-indigo-900">Data driven</span>
        </div>

        <!-- Information -->
        <div class="grid grid-cols-2 gap-[30px]">
          <!-- Numbers -->
          <div class="relative w-full h-full bg-secondary/5 border-2 border-secondary/20 text-secondary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 p-8">
            <img src="assets/images/for-business/overview/teenyicons_pie-chart-solid.png" />
            <div class="absolute inset-0 flex justify-center items-center">
              <p class="text-violet-950 text-xl font-bold">$50,000</p>
            </div>
          </div>

          <!-- Text -->
          <div class="content">
            <p class="text-slate-400 text-left">
              Research from MIT shows that companies save $50,000 on average per community engagement.
            </p>
          </div>
        </div>
      </div>

      <!-- Data driven -->
      <div class="p-6 rounded-lg  shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 w-[527px]">
        <!-- Title -->
        <div class="font-semibold h5 hover:text-secondary flex flex-row text-lg items-center pb-3">
          <span
                class="bg-gray-200 text-violet-950 text-xs font-bold mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-blue-300">1</span>
          <span class="ms-1 text-indigo-900">Data driven</span>
        </div>

        <!-- Information -->
        <div class="grid grid-cols-2 gap-[30px]">
          <!-- Numbers -->
          <div class="relative w-full h-full bg-secondary/5 border-2 border-secondary/20 text-secondary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 p-8">
            <img src="assets/images/for-business/overview/teenyicons_pie-chart-solid.png" />
            <div class="absolute inset-0 flex justify-center items-center">
              <p class="text-violet-950 text-xl font-bold">77%</p>
            </div>
          </div>

          <!-- Text -->
          <div class="content">
            <p class="text-slate-400 text-left">
              77% of fund portfolios with sustainability and community focus from 10 years ago have survived versus 46% of those without.
            </p>
          </div>
        </div>
      </div>

      <!-- Data driven -->
      <div class="p-6 rounded-lg  shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 w-[527px]">
        <!-- Title -->
        <div class="font-semibold h5 hover:text-secondary flex flex-row text-lg items-center pb-3">
          <span
                class="bg-gray-200 text-violet-950 text-xs font-bold mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-blue-300">1</span>
          <span class="ms-1 text-indigo-900">Data driven</span>
        </div>

        <!-- Information -->
        <div class="grid grid-cols-2 gap-[30px]">
          <!-- Numbers -->
          <div class="relative w-full h-full bg-secondary/5 border-2 border-secondary/20 text-secondary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 p-8">
            <img src="assets/images/for-business/overview/teenyicons_pie-chart-solid.png" />
            <div class="absolute inset-0 flex justify-center items-center">
              <p class="text-violet-950 text-xl font-bold">85%</p>
            </div>
          </div>

          <!-- Text -->
          <div class="content">
            <p class="text-slate-400 text-left">
              85% of investors and customers consider sustainability in their investment and purchasing decisions
            </p>
          </div>
        </div>
      </div>

      <!-- Data driven -->
      <div class="p-6 rounded-lg  shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 w-[527px]">
        <!-- Title -->
        <div class="font-semibold h5 hover:text-secondary flex flex-row text-lg items-center pb-3">
          <span
                class="bg-gray-200 text-violet-950 text-xs font-bold mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-blue-300">1</span>
          <span class="ms-1 text-indigo-900">Data driven</span>
        </div>

        <!-- Information -->
        <div class="grid grid-cols-2 gap-[30px]">
          <!-- Numbers -->
          <div class="relative w-full h-full bg-secondary/5 border-2 border-secondary/20 text-secondary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 p-8">
            <img src="assets/images/for-business/overview/teenyicons_pie-chart-solid.png" />
            <div class="absolute inset-0 flex justify-center items-center">
              <p class="text-violet-950 text-xl font-bold text-center">3<br/>hours</p>
            </div>
          </div>

          <!-- Text -->
          <div class="content">
            <p class="text-slate-400 text-left">
              3 hours. That's how fast Mundaly verifies your impact and sustainability. Typically, this would take 6+ months of field assessments.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="md:h-80 h-auto w-full py-8 bg-gray-50 justify-center items-center gap-32 flex flex-col md:flex-row ">
  <div class="flex-col justify-start items-center gap-3.5 inline-flex">
    <div class="justify-start items-center gap-3 inline-flex">
      <div class="w-7 h-4 relative bg-emerald-100 rounded-full">
        <div class="w-2 h-3.5 left-[10px] top-[2px] absolute text-teal-500 text-xs font-medium  ">1</div>
      </div>
      <div class="text-gray-900 text-lg font-semibold  ">Attract top talents</div>
    </div>
    <div class="w-56 h-52 relative">
      <div class="w-56 h-52 left-0 top-0 absolute bg-teal-200 bg-opacity-5 rounded-lg shadow border-2 border-teal-200 border-opacity-20">
        <img src="assets/images/for-business/overview/Selecting team-rafiki.png"/>
      </div>
    </div>
  </div>
  <div class="flex-col justify-start items-center gap-3.5 inline-flex">
    <div class="justify-start items-center gap-3 inline-flex">
      <div class="w-7 h-4 relative bg-emerald-100 rounded-full">
        <div class="w-2 h-3.5 left-[10px] top-[2px] absolute text-teal-500 text-xs font-medium  ">2</div>
      </div>
      <div class="text-gray-900 text-lg font-semibold  ">Outperform peers</div>
    </div>
    <div class="w-56 h-52 relative">
      <div class="w-56 h-52 left-0 top-0 absolute bg-teal-200 bg-opacity-5 rounded-lg shadow border-2 border-teal-200 border-opacity-20">
        <img src="assets/images/for-business/overview/Finance-rafiki.png"/>
      </div>
    </div>
  </div>
  <div class="flex-col justify-start items-center gap-3.5 inline-flex">
    <div class="justify-start items-center gap-3 inline-flex">
      <div class="w-7 h-4 relative bg-emerald-100 rounded-full">
        <div class="w-2 h-3.5 left-[10px] top-[2px] absolute text-teal-500 text-xs font-medium  ">3</div>
      </div>
      <div class="text-gray-900 text-lg font-semibold  ">Gain competitive edge</div>
    </div>
    <div class="w-56 h-52 relative">
      <div class="w-56 h-52 left-0 top-0 absolute bg-teal-200 bg-opacity-5 rounded-lg shadow border-2 border-teal-200 border-opacity-20">
        <img src="assets/images/for-business/overview/Social strategy-rafiki.png"/>
      </div>
    </div>
  </div>
</section>


<section class="relative py-16">

  <div class="container relative ">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="text-violet-950 text-3xl font-bold">What People Say About us</h3>
    </div><!--end grid-->

    <div class="grid grid-cols-1 mt-8">

      <div class="grid md:grid-cols-2 grid-cols-1 gap-[30px] justify-items-center">


        <div class="card">
          <div style="width: 535px; height: 383px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex;">
            <div style="width: 535px; height: 255px; position: relative">
              <div style="width: 463px; height: 226.52px; left: 36px; top: 28.48px; position: absolute">
                <div style="width: 415px; height: 208px; left: 24px; top: 18.52px; position: absolute; background: #CDCDCD; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
                  <div style="width: 48.20px; height: 24px; left: 219px; top: 24px; position: absolute; color: #A6EBE3; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰝗</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                </div>
                <div style="width: 463px; height: 214px; left: 0px; top: 0px; position: absolute; background: #ECECEC; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
                  <div style="width: 48.20px; height: 24px; left: 24px; top: 24px; position: absolute; color: #A6EBE3; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰝗</div>
                  <div style="width: 16.20px; height: 24px; left: 24px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 40px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 56px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 72px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 88px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                </div>
              </div>
              <div style="width: 535px; height: 226px; padding-left: 24px; padding-right: 24px; padding-top: 24px; padding-bottom: 24px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                <div class="text-slate-400 text-base font-normal">
                  " Mundaly addresses a clear need. Gleaning the sentiment of key community members is totally valuable. "
                </div>
              </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
              <img style="width: 55px; height: 55px; box-shadow: 0px 5px 13px rgba(60, 72, 88, 0.20); border-radius: 56px" src="assets/images/for-business/overview/person.jfif" />
              <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                <div style="text-align: center; color: #161C2D; font-size: 15px; font-weight: 600; line-height: 24px; word-wrap: break-word">Osita Abana</div>
                <div style="width: 88.56px; height: 17px; text-align: center; color: #94A3B8; font-size: 13.34px; font-weight: 400; line-height: 20px; word-wrap: break-word">CSR at Coca-Cola</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div style="width: 535px; height: 383px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex;">
            <div style="width: 535px; height: 255px; position: relative">
              <div style="width: 463px; height: 226.52px; left: 36px; top: 28.48px; position: absolute">
                <div style="width: 415px; height: 208px; left: 24px; top: 18.52px; position: absolute; background: #CDCDCD; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
                  <div style="width: 48.20px; height: 24px; left: 219px; top: 24px; position: absolute; color: #A6EBE3; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰝗</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 235px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                </div>
                <div style="width: 463px; height: 214px; left: 0px; top: 0px; position: absolute; background: #ECECEC; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15)">
                  <div style="width: 48.20px; height: 24px; left: 24px; top: 24px; position: absolute; color: #A6EBE3; font-size: 48px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰝗</div>
                  <div style="width: 16.20px; height: 24px; left: 24px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 40px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 56px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 72px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                  <div style="width: 16.20px; height: 24px; left: 88px; top: 177px; position: absolute; color: #A6EBE3; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">󰓎</div>
                </div>
              </div>
              <div style="width: 535px; height: 226px; padding-left: 24px; padding-right: 24px; padding-top: 24px; padding-bottom: 24px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 0px 3px rgba(60, 72, 88, 0.15); flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                <div class="text-slate-400 text-base font-normal">
                  “ As a multi-jurisdiction, multi-commodity extractive company, our success relies heavily on our social license in our operational communities. Mundaly’s scientifically-rigorous tool has enabled us to confidently quantify our social license risks, set measurable targets to mitigate them and develop tailor-made plans to reach them.“
                </div>
              </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
              <img style="width: 55px; height: 55px; box-shadow: 0px 5px 13px rgba(60, 72, 88, 0.20); border-radius: 56px" src="assets/images/for-business/overview/secondperson.png" />
              <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                <div style="text-align: center; color: #161C2D; font-size: 15px; font-weight: 600; line-height: 24px; word-wrap: break-word">Charles Bray</div>
                <div style="width: 88.56px; height: 17px; text-align: center; color: #94A3B8; font-size: 13.34px; font-weight: 400; line-height: 20px; word-wrap: break-word">CEO of Aterian PLC</div>
              </div>
            </div>
          </div>
        </div>




      </div>

    </div><!--end grid-->
  </div><!--end container-->


</section>

<section class="section">
  <div class="container relative pt-1 pb-32 ">
    <div class="grid grid-cols-1 text-center">
      <div><a [routerLink]="['/book-demo']"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-violet-950 hover:bg-indigo-700 border-impabg-impact-fidelity hover:border-indigo-700 text-white rounded-full"><i
             class="uil uil-phone align-middle me-2"></i> Request a demo</a></div>
    </div>
  </div>
</section>