<!-- Community map image -->

<div class="py-10">
  <!-- <div class="mb-10">
    <img class="w-full" src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/xbbv9mmwtguddqq7ylk6" />
  </div> -->

  <div class="grid grid-cols-2 gap-10">

    <!-- Age Breakdown -->
    <app-dashboard-organization-demographics-age-range></app-dashboard-organization-demographics-age-range>

    <!-- Gender Breakdown -->
    <app-dashboard-organization-demographics-gender></app-dashboard-organization-demographics-gender>


    <!-- Ethnicity Breakdown -->
    <app-dashboard-organization-demographics-ehtnicity></app-dashboard-organization-demographics-ehtnicity>


    <!-- Relationship Status Breakdown -->
    <app-dashboard-organization-demographics-relationship-status></app-dashboard-organization-demographics-relationship-status>


  </div>

</div>