<!-- Header -->
<div class=" p-5 md:py-7 py-4 border-b flex justify-between items-center w-full ">
    <div class="flex">
        <h2 class="md:text-3xl text-xl text-primary md:me-14 me-2">{{title}}</h2>


    </div>

    <div class="flex justify-self-end md:gap-4 gap-2">


        <button (click)="invitation.toggle($event)" class="text-primary md:text-2xl text-base font-bold block">
            <span><i class="mdi mdi-email"></i></span>
        </button>
        <p-overlayPanel #invitation>
            <div class="flex flex-column gap-3 w-25rem">
                Empty invitations
            </div>
        </p-overlayPanel>




        <!-- Notifications -->
        <button (click)="notification.toggle($event)" class="text-primary md:text-2xl text-base font-bold block">
            <span><i class="mdi mdi-bell"></i></span>
        </button>
        <p-overlayPanel #notification>
            <div class="flex flex-column gap-3 w-25rem">
                Empty notifications
            </div>
        </p-overlayPanel>
    </div>
</div>