<form class="space-y-4 md:space-y-6 " [formGroup]="form" (submit)="submit()">

  <!-- Name -->
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your name</label>
    <input type="text" name="name" id="name"
           formControlName="name"
           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="Alexander Giggs" required="">
  </div>


  <!-- Email -->
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your work email</label>
    <input type="email"
           name="email"
           id="email"
           formControlName="email"
           [ngClass]="{ 'border-red-500': form!.controls['email'].dirty && form!.controls['email'].invalid}"
           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="alexander@mundaly.com" required="">
    <p class="mt-2 text-sm text-red-600 dark:text-red-500"
       *ngIf="form!.controls['email'].dirty && form!.controls['email'].invalid">
      Kindly add a valid <span class="font-medium">work email.</span>
    </p>
  </div>


  <!-- Phone number -->
  <div>
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your phone number</label>
    <input type="tel" name="phone" id="phone"
           formControlName="phone_number"
           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="+1234567890" required="">
  </div>

  <!-- Password -->
  <div>
    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
    <p-password formControlName="password" [toggleMask]="true" placeholder="••••••••"
                styleClass="w-full"
                inputStyleClass="bg-gray-50 border border-gray-300 w-full  text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></p-password>
    <!-- <input type="password" name="password" id="password" placeholder="••••••••"
           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           required="" formControlName="password"> -->
  </div>


  <!-- Confirmation Password -->
  <div>
    <label for="password_confirmation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password Confirmation</label>
    <p-password formControlName="password_confirmation" [feedback]="false" [toggleMask]="true" placeholder="••••••••"
                styleClass="w-full"
                inputStyleClass="bg-gray-50 border border-gray-300 w-full  text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></p-password>
  </div>


  <!-- Submit -->
  <div class="flex  justify-end gap-4">

    <!-- Next -->
    <button type="submit"
            [disabled]="form!.invalid"
            [ngClass]="{ 'cursor-not-allowed bg-slate-400': form!.invalid }"

            class="w-full text-primary border-primary border bg-secondary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Next</button>
  </div>
</form>