<!-- Page Banner -->
<div class=" p-5 py-7 border-b grid grid-cols-2 items-center w-full ">
  <div class="flex">
    <h2 class="text-3xl text-primary me-14">Impact Partners</h2>


  </div>

  <div class="flex justify-self-end gap-4">


    <button (click)="invitation.toggle($event)" class="text-primary text-2xl  font-bold block">
      <span><i class="mdi mdi-email"></i></span>
    </button>
    <p-overlayPanel #invitation>
      <div class="flex flex-column gap-3 w-25rem">
        Empty invitations
      </div>
    </p-overlayPanel>




    <!-- Notifications -->
    <button (click)="notification.toggle($event)" class="text-primary text-2xl  font-bold block">
      <span><i class="mdi mdi-bell"></i></span>
    </button>
    <p-overlayPanel #notification>
      <div class="flex flex-column gap-3 w-25rem">
        Empty notifications
      </div>
    </p-overlayPanel>
  </div>
</div>


<!-- Organization Banner -->
<div class=" p-5 py-7 border-b grid grid-cols-2 items-center w-full ">
  <div class="flex gap-5">
    <div class="h-10 w-10 rounded-full"><img [src]="organization?.logo" [alt]="'${organization.name} logo'"></div>
    <h2 class="text-3xl text-primary me-14">{{ organization?.name }}</h2>

  </div>

</div>



<app-page-loading *ngIf="loading"></app-page-loading>

<app-missing-data *ngIf="!loading && !single"></app-missing-data>


<div class="bg-slate-100 px-16 py-10">
  <div class="flex gap-5 mb-6 font-semibold">
    <div><i class="mdi mdi-chart-bar text-3xl"></i></div>
    <h2 class="text-3xl text-primary me-14">{{ single?.title }}</h2>

  </div>


  <app-survey-question></app-survey-question>
</div>