<div class="p-5" *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">

    <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
        <div class="text-lg font-bold">Forecast</div>

    </div>

    <div class="relative overflow-x-auto shadow-md " *ngIf="!loading && scaleService.communityTrustScore">
        <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-6">
                        #
                    </th>
                    <th scope="col" class="px-6 py-6 ">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Key
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Score
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Phisical Health-->
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

                    <!-- Number -->
                    <td class="p-6">
                        1
                    </td>

                    <!-- Name and Photo -->
                    <th scope="row p-6">
                        Physical Health

                    </th>

                    <!-- Key -->
                    <td class="p-6">
                        {{ scaleService.getScoreKey(scaleService.communityTrustScore.impact_fidelity_score!) }}
                    </td>

                    <!-- Score -->
                    <td class="p-6">
                        <div class="flex items-center font-semibold">
                            {{ scaleService.communityTrustScore.impact_fidelity_score}}
                        </div>
                    </td>



                    <td class="p-6">
                        <button (click)="showImpactFidelityInfo = true"
                                class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                               class="mdi mdi-information"></i></button>

                        <p-dialog header="Impact Fidelity" [(visible)]="showImpactFidelityInfo" [modal]="true" [style]="{ width: '50vw' }"
                                  [draggable]="false"
                                  [resizable]="false">
                            <p class="m-0">
                                The Impact Fidelity Score measures how accurately your actions align with your stated goals. It assesses your
                                acceptability,
                                feasibility,
                                comprehensiveness of your intervention, its appropriateness and quality of delivery.
                            </p>
                        </p-dialog>

                    </td>
                </tr>


                <!-- Psychological Health -->
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

                    <!-- Number -->
                    <td class="p-6">
                        2
                    </td>

                    <!-- Name and Photo -->
                    <th scope="row p-6">
                        Psychological Health
                    </th>

                    <!-- Key -->
                    <td class="p-6">
                        {{ scaleService.getScoreKey(scaleService.communityTrustScore.community_perception_score!) }}
                    </td>

                    <!-- Score -->
                    <td class="p-6">
                        <div class="flex items-center font-semibold">
                            {{ scaleService.communityTrustScore.community_perception_score}}
                        </div>
                    </td>



                    <td class="p-6">
                        <button (click)="showCommunityReputationInfo = true"
                                class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                               class="mdi mdi-information"></i></button>

                        <p-dialog header="Community Reputation" [(visible)]="showCommunityReputationInfo" [modal]="true" [style]="{ width: '50vw' }"
                                  [draggable]="false"
                                  [resizable]="false">
                            <p class="m-0">
                                Your Community Reputation score provides insights into how your company is perceived
                                by the communities in which it operates. Knowing your community reputation score helps your company build credibility,
                                trust, and
                                positive
                                relationships within the community, leading to increased support, better project outcomes, and greater resilience in
                                the face of
                                challenges.

                            </p>
                        </p-dialog>

                    </td>
                </tr>

                <!-- Social Relations -->
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

                    <!-- Number -->
                    <td class="p-6">
                        3
                    </td>

                    <!-- Name and Photo -->
                    <th scope="row p-6">
                        Social Relations
                    </th>

                    <!-- Key -->
                    <td class="p-6">
                        {{ scaleService.getScoreKey(scaleService.communityTrustScore.facilitation_strategy_score!) }}
                    </td>

                    <!-- Score -->
                    <td class="p-6">
                        <div class="flex items-center font-semibold">
                            {{ scaleService.communityTrustScore.facilitation_strategy_score}}
                        </div>
                    </td>



                    <td class="p-6">
                        <button (click)="showFacilitationStrategyInfo = true"
                                class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                               class="mdi mdi-information"></i></button>

                        <p-dialog header="Facilitation Strategy" [(visible)]="showFacilitationStrategyInfo" [modal]="true" [style]="{ width: '50vw' }"
                                  [draggable]="false"
                                  [resizable]="false">
                            <p class="m-0">
                                Your facilitation score is calculated using our proprietary, research-backed facilitation
                                assessment scale. The facilitation score serves as a valuable tool for organizations to assess and improve their
                                facilitation
                                practices, enhance
                                employee satisfaction and engagement, and create a positive and supportive workplace culture that promotes individual
                                and
                                organizational
                                success


                            </p>
                        </p-dialog>

                    </td>
                </tr>

                <!-- Environmental Conditions -->
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

                    <!-- Number -->
                    <td class="p-6">
                        3
                    </td>

                    <!-- Name and Photo -->
                    <th scope="row p-6">
                        Environmental Conditions
                    </th>

                    <!-- Key -->
                    <td class="p-6">
                        {{ scaleService.getScoreKey(scaleService.communityTrustScore.impact_fidelity_score!) }}
                    </td>

                    <!-- Score -->
                    <td class="p-6">
                        <div class="flex items-center font-semibold">
                            {{ scaleService.communityTrustScore.impact_fidelity_score}}
                        </div>
                    </td>



                    <td class="p-6">
                        <button (click)="showFacilitationStrategyInfo = true"
                                class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                               class="mdi mdi-information"></i></button>

                        <p-dialog header="Facilitation Strategy" [(visible)]="showFacilitationStrategyInfo" [modal]="true" [style]="{ width: '50vw' }"
                                  [draggable]="false"
                                  [resizable]="false">
                            <p class="m-0">
                                Your facilitation score is calculated using our proprietary, research-backed facilitation
                                assessment scale. The facilitation score serves as a valuable tool for organizations to assess and improve their
                                facilitation
                                practices, enhance
                                employee satisfaction and engagement, and create a positive and supportive workplace culture that promotes individual
                                and
                                organizational
                                success


                            </p>
                        </p-dialog>

                    </td>
                </tr>

                <!-- Wellbeing Score -->
                <tr class="bg-primary/60 text-white border-b dark:bg-gray-800 dark:border-gray-700 pointer  dark:hover:bg-gray-600">

                    <!-- Number -->
                    <td class="p-6">

                    </td>

                    <!-- Name and Photo -->
                    <th scope="row p-6">
                        Wellbeing Score
                    </th>

                    <!-- Key -->
                    <td class="p-6">
                        {{ scaleService.getScoreKey(scaleService.communityTrustScore.community_trust_score!) }}

                    </td>

                    <!-- Score -->
                    <td class="p-6">
                        <div class="flex items-center font-semibold">
                            {{ scaleService.communityTrustScore.community_trust_score}}
                        </div>
                    </td>



                    <td class="p-6">
                        <button (click)="showCommunityTrustScoreInfo = true"
                                class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                               class="mdi mdi-information"></i></button>

                        <p-dialog header="Community Trust Score" [(visible)]="showCommunityTrustScoreInfo" [modal]="true" [style]="{ width: '50vw' }"
                                  [draggable]="false"
                                  [resizable]="false">
                            <p class="m-0">
                                The Community Impact Verification Score is a combined measure of impact fidelity, community reputation, and
                                facilitation assessment
                                scores.
                            </p>
                        </p-dialog>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-primary md:text-lg text-sm  bg-primary/5 p-5">
            <span class="me-2">
                <i class="mdi mdi-lightbulb-on"></i>
                Recommendation:
            </span>

            <!-- If the community has more than 10 respondents -->
            <span class="font-bold">
                {{ scaleService.getFundabilityRecommendation(scaleService.communityTrustScore) }}
            </span>



        </div>
    </div>


    <app-page-loading *ngIf="loading"></app-page-loading>
    <app-missing-data *ngIf="!loading && !scaleService.communityTrustScore"></app-missing-data>
</div>

<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>