b<div class="p-5"
     *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">

  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">Forecast</div>

  </div>

  <div class="relative overflow-x-auto shadow-md "
       *ngIf="!loading && wellbeingScoringService.score">
    <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col"
              class="px-6 py-6">
            #
          </th>
          <th scope="col"
              class="px-6 py-6 ">
            Category
          </th>
          <th scope="col"
              class="px-6 py-6">
            Key
          </th>
          <th scope="col"
              class="px-6 py-6">
            Score
          </th>
          <th scope="col"
              class="px-6 py-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Phisical Well-being-->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            1
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Physical Well-being

          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.physical_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.physical_wellbeing}}
            </div>
          </td>



          <td class="p-6">
            <button (click)="showPhysicalWellbeingInfo = true"
                    class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></button>

            <p-dialog header="Physical Well-being"
                      [(visible)]="showPhysicalWellbeingInfo"
                      [modal]="true"
                      [style]="{ width: '50vw' }"
                      [draggable]="false"
                      [resizable]="false">
              <p class="m-0">
                Activities of daily living; Dependence on medicinal substances and medical aids; Energy and fatigue; Mobility; Pain
                and discomfort; Sleep and rest;
                Work Capacity
              </p>
            </p-dialog>

          </td>
        </tr>


        <!-- Psychological Well-being -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            2
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Psychological Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.psychological_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.psychological_wellbeing}}
            </div>
          </td>



          <td class="p-6">
            <button (click)="showPsychologicalWellbeingInfo = true"
                    class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></button>

            <p-dialog header="Psychological Well-being"
                      [(visible)]="showPsychologicalWellbeingInfo"
                      [modal]="true"
                      [style]="{ width: '50vw' }"
                      [draggable]="false"
                      [resizable]="false">
              <p class="m-0">
                Bodily image and appearance; Negative feelings; Positive feelings; Self-esteem; Spirituality / Religion / Personal
                beliefs; Thinking, learning, memory
                and concentration

              </p>
            </p-dialog>

          </td>
        </tr>

        <!-- Social Wellbeing -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Social Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.social_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.social_wellbeing}}
            </div>
          </td>



          <td class="p-6">
            <button (click)="showSocialWellbeingInfo = true"
                    class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></button>

            <p-dialog header="Social Well-being"
                      [(visible)]="showSocialWellbeingInfo"
                      [modal]="true"
                      [style]="{ width: '50vw' }"
                      [draggable]="false"
                      [resizable]="false">
              <p class="m-0">
                Your facilitation score is calculated using our proprietary, research-backed facilitation
                assessment scale. The facilitation score serves as a valuable tool for organizations to assess and improve their
                facilitation
                practices, enhance
                employee satisfaction and engagement, and create a positive and supportive workplace culture that promotes individual
                and
                organizational
                success


              </p>
            </p-dialog>

          </td>
        </tr>

        <!-- Environmental Well-being -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Environmental Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.environment_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.environment_wellbeing}}
            </div>
          </td>



          <td class="p-6">
            <button (click)="showEnvironmentWellbeingInfo = true"
                    class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></button>

            <p-dialog header="Environmental Well-being"
                      [(visible)]="showEnvironmentWellbeingInfo"
                      [modal]="true"
                      [style]="{ width: '50vw' }"
                      [draggable]="false"
                      [resizable]="false">
              <p class="m-0">
                Your facilitation score is calculated using our proprietary, research-backed facilitation
                assessment scale. The facilitation score serves as a valuable tool for organizations to assess and improve their
                facilitation
                practices, enhance
                employee satisfaction and engagement, and create a positive and supportive workplace culture that promotes individual
                and
                organizational
                success


              </p>
            </p-dialog>

          </td>
        </tr>

        <!-- Wellbeing Score -->
        <tr class="bg-primary/60 text-white border-b dark:bg-gray-800 dark:border-gray-700 pointer  dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">

          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Well-being Score
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.score!) }}

          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.score}}
            </div>
          </td>



          <td class="p-6">
            <button (click)="showWellbeingScoringInfo = true"
                    class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></button>

            <p-dialog header="Community Trust Score"
                      [(visible)]="showWellbeingScoringInfo"
                      [modal]="true"
                      [style]="{ width: '50vw' }"
                      [draggable]="false"
                      [resizable]="false">
              <p class="m-0">
                The Community Impact Verification Score is a combined measure of impact fidelity, community reputation, and
                facilitation assessment
                scores.
              </p>
            </p-dialog>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-primary md:text-lg text-sm  bg-primary/5 p-5">
      <span class="me-2">
        <i class="mdi mdi-lightbulb-on"></i>
        Recommendation:
      </span>

      <!-- If the community has more than 10 respondents -->
      <span class="font-bold">
        {{ wellbeingScoringService.getRecommendation(wellbeingScoringService.score) }}
      </span>



    </div>
  </div>


  <app-page-loading *ngIf="loading"></app-page-loading>
  <app-missing-data *ngIf="!loading && !wellbeingScoringService.score"></app-missing-data>
</div>

<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>