b<div class="p-5"
     *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">

  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">Forecast</div>

  </div>

  <div class="relative overflow-x-auto shadow-md "
       *ngIf="!loading && wellbeingScoringService.score">
    <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col"
              class="px-6 py-6">
            #
          </th>
          <th scope="col"
              class="px-6 py-6 ">
            Category
          </th>
          <th scope="col"
              class="px-6 py-6">
            Key
          </th>
          <th scope="col"
              class="px-6 py-6">
            Score
          </th>

        </tr>
      </thead>
      <tbody>
        <!-- Phisical Well-being-->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            1
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Physical Well-being

          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.physical_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.physical_wellbeing}}
            </div>
          </td>



        </tr>


        <!-- Psychological Well-being -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            2
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Psychological Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.psychological_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.psychological_wellbeing}}
            </div>
          </td>



        </tr>

        <!-- Social Wellbeing -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Social Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.social_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.social_wellbeing}}
            </div>
          </td>




        </tr>

        <!-- Environmental Well-being -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Environmental Well-being
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.environment_wellbeing!) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.environment_wellbeing}}
            </div>
          </td>



        </tr>

        <!-- Wellbeing Score -->
        <tr class="bg-primary/60 text-white border-b dark:bg-gray-800 dark:border-gray-700 pointer  dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">

          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Well-being Score
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(wellbeingScoringService.score.score!) }}

          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ wellbeingScoringService.score.score}}
            </div>
          </td>



        </tr>
      </tbody>
    </table>
    <div class="text-primary md:text-lg text-sm  bg-primary/5 p-5">
      <span class="me-2">
        <i class="mdi mdi-lightbulb-on"></i>
        Recommendation:
      </span>

      <!-- If the community has more than 10 respondents -->
      <span class="font-bold">
        {{ wellbeingScoringService.getRecommendation(wellbeingScoringService.score) }}
      </span>



    </div>
  </div>


  <app-page-loading *ngIf="loading"></app-page-loading>
  <app-missing-data *ngIf="!loading && !wellbeingScoringService.score"></app-missing-data>
</div>

<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>
