:host ::ng-deep {
  .select2-container {
    @apply bg-gray-50 border border-gray-300 text-primary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;

    padding: 6px !important;
    // display: flex !important;
    // font-size: 14px !important;
  }

  .selection {
    @apply w-full;
  }

  .select2-selection {
    border: none !important;
    background: none !important;
  }

  .select2-dropdown {
    top: 75% !important;
  }
}
