<div class="flex flex-col min-h-screen justify-center md:px-10 py-10 px-4">
  <div class="text-center">
    <a [routerLink]="['/']">
      <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/p68a33iz9vzhxtwmr9xz" style="height: 58px;"
           class="inline-block dark:hidden" alt="">
    </a>
  </div>
  <div class="title-heading text-center my-auto">
    <img src="assets/images/404.svg" class="mx-auto h-[300px]" alt="">
    <h1 class="mt-3 mb-6 md:text-5xl text-3xl font-bold">Page Not Found?</h1>
    <p class="text-slate-400">Whoops <br> Looks like the page you were looking for wasn't found.</p>

    <div class="mt-4">
      <a [routerLink]="['/']"
         class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-secondary-primary-dark border-primary-light  text-white rounded-md">Back
        to Home</a>
    </div>
  </div>

</div>

<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
</div>