<div class="container pb-24">
  <!-- Start Hero -->
  <section class="relative table w-full py-24 pb-0 ">
    <div class="container relative">
      <div class="flex flex-col items-center gap-5 justify-center">
        <a [routerLink]="['/']">
          <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/mundaly-logo" style="height: 58px;"
               class="inline-block dark:hidden" alt="">
        </a>
        <h3 class="text-primary text-4xl  font-semibold break-words mb-2">
          Privacy Policy
        </h3>
        <p>Last updated: 01/17/2024 </p>


      </div>
    </div>
  </section>
  <!-- End Hero -->

  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">1. Introduction</h2>
    <p class="text-lg mt-5">Welcome to Mundaly! This Privacy Policy outlines how Mundaly Enterprise ("Mundaly," "we," "us," or "our") collects, uses,
      and protects your personal
      information when you use the Mundaly platform (the "Platform"). By using the Platform, you agree to the terms outlined in this Privacy Policy.
    </p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">2. Information We Collect</h2>

    <h2 class="text-2xl font-bold text-primary mt-5">A. User-Provided Information:</h2>
    <p class="text-lg mt-5">When you create an account, we collect your name, email address, and phone number.
      If you choose to participate in surveys, we may collect additional information related to your interactions with organizations.</p>

    <h2 class="text-2xl font-bold text-primary mt-5">B. Automatically Collected Information:</h2>
    <p class="text-lg mt-5">We may collect device information, such as your device type, operating system, and unique device identifiers.
      Usage information, including the pages you visit within the Platform, the time and date of your visit, and other usage statistics.
    </p>

  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">3. How We Use Your Information</h2>
    <p class="text-lg mt-5">To personalize your experience: We use your information to provide a more personalized and relevant experience within the
      Platform.
      To improve our services: Your feedback and interactions help us enhance the functionality and features of the Platform.
      To communicate with you: We may use your email address or phone number to send important updates and notifications.
    </p>
  </section>

  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">4. Information Sharing</h2>
    <p class="text-lg mt-5">We do not sell, trade, or otherwise transfer your personal information to third parties without your consent.
      Your survey responses are anonymized and aggregated to provide meaningful insights to organizations.
    </p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">5. Data Security</h2>
    <p class="text-lg mt-5">We implement security measures to protect your personal information from unauthorized access, alteration, disclosure, or
      destruction.
      However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
    </p>

  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">6. Children's Privacy</h2>
    <p class="text-lg mt-5">The Platform is intended for users who are 18 years and older. We do not knowingly collect personal information from
      children under 18.</p>

  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">7. Changes to This Privacy Policy</h2>
    <p class="text-lg mt-5">We reserve the right to update or modify this Privacy Policy at any time. The date of the latest revision will be
      indicated at the top.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">8. Contact Us</h2>
    <p class="text-lg mt-5">If you have any questions or concerns about this Privacy Policy, please contact us at admin@mundaly.com.</p>
  </section>

</div>


<!-- Linear gradient -->
<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
</div>