<!-- carousel.component.html -->
<div class="relative" (mouseover)="stopSlideShow()" (mouseout)="startSlideShow()">
  <div class="carousel  overflow-hidden rounded-lg" style="height: 600px; overflow-y: auto;">
    <!-- <div class="slide" *ngFor="let item of items; let i = index" [class.active]="i === currentSlide">
      {{ item.content }}
    </div> -->
    <div [ngClass]="{ 'hidden animate__slideOutRight': i !== currentSlide , 'animate__slideInRight': i === currentSlide}"
         *ngFor="let story of impactStories; let i = index"
         class=" transition duration-700 ease-in-out border bg-slate-50/50 p-4 rounded-md animate__animated   "
         style=" --animate-duration: 300ms;"
         data-carousel-item>
      <div class="mt-8">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <img src="https://media.istockphoto.com/id/942153448/de/vektor/avatar.jpg?s=612x612&w=0&k=20&c=dYzovkqwc-ADwIYjH7fd6MdgaJi0UslcMC3ycK9dmSg="
                 class="h-11 w-11 rounded-full shadow" alt="">

            <div class="ms-3 flex-1">
              <a href="" class="text-lg font-semibold hover:text-indigo-600 duration-500">{{ story.username }}</a>
              <p class="text-sm text-slate-400">{{ story.created_at | date }}</p>

              <div class="flex">
                <span class="mdi mdi-star text-yellow-300 text-xl"></span>
                <span class="mdi mdi-star text-yellow-300 text-xl"></span>
                <span class="mdi mdi-star text-yellow-300 text-xl"></span>
                <span class="mdi mdi-star text-yellow-300 text-xl"></span>
                <span class="mdi mdi-star-half-full text-yellow-300 text-xl"></span>
              </div>
            </div>

          </div>


        </div>
        <div class="p-4  dark:bg-slate-800  dark:shadow-gray-800 mt-6">
          <div class="mb-3">
            <h5 class="text-lg font-semibold text-primary">What's your role?</h5>
            <p class="text-slate-400">{{ story.what_role }}</p>
          </div>
          <div class="mb-3">
            <h5 class="text-lg font-semibold text-primary">What do you like best about test?</h5>
            <p class="text-slate-400">{{ story.what_like }}</p>
          </div>
          <div class="mb-3">
            <h5 class="text-lg font-semibold text-primary">Do what they say they do in the media match what's happening on the ground?</h5>
            <p class="text-slate-400">{{ story.what_happened }}</p>
          </div>
          <div class="mb-3">
            <h5 class="text-lg font-semibold text-primary">Is there anything you would want them to improve?</h5>
            <p class="text-slate-400">{{ story.what_improve }}</p>
          </div>
        </div>
      </div>
    </div>



  </div>
  <button type="button"
          class="absolute top-3 left-[-70px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          (click)="prevSlide()">
    <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary/30 dark:bg-gray-800/30 group-hover:bg-primary/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <span><i class="mdi  font-bold text-2xl mdi-chevron-left text-white"></i></span>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button"
          (click)="nextSlide()"
          class="absolute top-3 right-[-70px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
          data-carousel-next>
    <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary/30 dark:bg-gray-800/30 group-hover:bg-primary/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <span><i class="mdi  font-bold text-2xl mdi-chevron-right text-white"></i></span>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>