<!--Hero Section-->
<section class="container relative max-w-[100vw]  pt-36 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20">

  <h3 class="text-black text-4xl font-bold font-['Figtree'] text-center">
    Case Studies
  </h3>
  <p class="text-center text-zinc-700 text-2xl font-semibold mt-16">
    We have delivered comprehensive reports for impact funders and facilitators globally.
  </p>

</section>

<!--Case studies cards Section-->
<section class="container grid grid-cols-1 gap-y-8 gap-x-4 sm:grid-cols-2 md:grid-cols-3 max-w-[100vw] pt-16 pb-40 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20">

  <!--card 1-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Cocoa360</h3>
    <img src="assets/images/case studies/cocoa360-150x150 1.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Gauge how socially accepted and trusted the organization was through the seasons of change in the community leadership.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          We identified urgent issues, key opinion leaders, and actions that Cocoa360 could take to bolster community trust.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

  <!--card 2-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Aterian plc</h3>
    <img src="assets/images/case studies/atrian-150x150.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Aterian in its operations in Africa has been plagued with legal issues, theft and employee turnover, disrupting their work and damaging their social reputation.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          We calculated the baseline social license quotients and risk in the countries they operate to prepare headline risk report, social report for FTSE Russell ESG rating and a Speakup report for responsible minerals initiative.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

  <!--card 3-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Mars Chocolate</h3>
    <img src="assets/images/case studies/mars.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Mars gets bad PR press from a CBS investigation that reached a global audience and generated viral reaction from the general public. This gave Mars a bad reputation, their stock tank, and their sales dropped.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Our insights from the community can prevent reputation damage especially from media headlines. Local communities get to share unbiased and verified feedback on its Social impact efforts within various communities.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

  <!--card 4-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Cocoa360</h3>
    <img src="assets/images/case studies/cocoa360-150x150 1.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Gauge how socially accepted and trusted the organization was through the seasons of change in the community leadership.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          We identified urgent issues, key opinion leaders, and actions that Cocoa360 could take to bolster community trust.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

  <!--card 5-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Cocoa360</h3>
    <img src="assets/images/case studies/cocoa360-150x150 1.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Gauge how socially accepted and trusted the organization was through the seasons of change in the community leadership.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          We identified urgent issues, key opinion leaders, and actions that Cocoa360 could take to bolster community trust.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

  <!--card 6-->
  <div class="bg-white rounded-2xl border-2 border-violet-950 flex flex-col items-center px-10 pb-8 pt-4">

    <h3 class="text-violet-950 text-3xl font-semibold mb-12 ">Cocoa360</h3>
    <img src="assets/images/case studies/cocoa360-150x150 1.png" alt="">

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Project</h4>
      <ul class="mt-5 pl-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          Gauge how socially accepted and trusted the organization was through the seasons of change in the community leadership.
        </li>
      </ul>
    </div>

    <div class="flex flex-col items-start">
      <h4 class="text-black text-base font-bold mt-5">Outcome</h4>
      <ul class="mt-5 pl-10 mb-10">
        <li class="text-black text-base font-normal list-disc list-outside">
          We identified urgent issues, key opinion leaders, and actions that Cocoa360 could take to bolster community trust.
        </li>
      </ul>
    </div>

    <div class="w-fit rounded-lg  bg-violet-950 overflow-hidden mt-auto">
      <a
       [routerLink]="['/for-business/book-demo']"
       class="text-white text-xl font-semibold px-5 py-4 w-full h-full text-center block leading-5 hover:bg-violet-800">
       Download Case Study</a>
    </div>

  </div>

</section>

<!-- Linear gradient -->
<div
      class="w-[316px] h-[1651px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
      class="w-[337px] h-[2000px] opacity-50 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[300px] absolute right-[3.5rem] top-[10rem]">
</div>