<section class="w-2/3 grid gap-4 grid-cols-1" *ngIf="organization">
  <!-- Title rating -->
  <h3 class="text-xl font-semibold">{{ ratingBreakdown?.total_respondant }} {{ organization.name }} reviews</h3>
  <!-- Star rating -->
  <div class="text-3xl flex font-semibold items-center gap-3">
    <span><i class="mdi mdi-star"></i></span>
    <span><i class="mdi mdi-star"></i></span>
    <span><i class="mdi mdi-star"></i></span>
    <span><i class="mdi mdi-star"></i></span>

    {{ ratingBreakdown?.rating }}

  </div>


  <!-- Percentage rating -->
  <div class="grid grid-cols-1 gap-5">
    <!-- 5 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">5 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.fiveStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.fiveStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 4 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">4 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.fourStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.fourStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 3 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">3 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.threeStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.threeStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 2 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">2 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.twoStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.twoStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 1 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">1 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.oneStarRatingCount!)}"></div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.oneStarRatingCount! * 100 /5 }}%</div>
    </div>
  </div>
</section>