<section class="w-2/3 grid gap-4 grid-cols-1" *ngIf="organization">
  <!-- Title rating -->
  <h3 class="text-xl font-semibold">{{ ratingBreakdown?.total_respondant }} {{ organization.name }} reviews</h3>
  <!-- Star rating -->
  <div class="flex justify-between">
    <!-- Rating -->
    <div class="text-3xl flex font-semibold items-center gap-3">
      <i class="mdi mdi-star "
         *ngFor="let i of [].constructor(scaleService.getNumberOfStars(ratingBreakdown?.rating!).numberOfStars)"></i>

      <!-- half stars -->
      <i class="mdi mdi-star-half-full "
         *ngFor="let i of [].constructor(scaleService.getNumberOfStars(ratingBreakdown?.rating!).numberOfHalfStars)"></i>

      <!-- Empty stars -->
      <i class="mdi mdi-star text-slate-300 "
         *ngFor="let i of [].constructor(scaleService.getNumberOfStars(ratingBreakdown?.rating!).numberOfEmptyStars)"></i>

      {{ ratingBreakdown?.rating }}

    </div>

    <!-- Button add review -->
    <button type="button"
            class=" bg-secondary border border-primary hover:text-white  font-semibold text-primary hover:bg-secondary-dark focus:outline-none focus:ring-4 focus:ring-blue-300  rounded-full text-lg px-6 py-2.5 text-center me-2 mb-2 "><span
            class="me-1"><i class="mdi mdi-plus"></i> Add a review</span></button>
  </div>


  <!-- Percentage rating -->
  <div class="grid grid-cols-1 gap-5">
    <!-- 5 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">5 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.fiveStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.fiveStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 4 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">4 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.fourStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.fourStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 3 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">3 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.threeStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.threeStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 2 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">2 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.twoStarsRatingCount!)}">
        </div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.twoStarsRatingCount! * 100 /5 }}%</div>
    </div>
    <!-- 1 stars -->
    <div class="flex text-xl items-center gap-4 font-semibold">
      <div class="shrink-0">1 stars</div>
      <div class="w-full h-5  bg-gray-200 rounded-full dark:bg-gray-700">
        <div class="h-5 bg-secondary rounded-full " [ngStyle]="{width: scaleService.getProgressBarWidth(ratingBreakdown?.oneStarRatingCount!)}"></div>
      </div>
      <div class="shrink-0">{{ ratingBreakdown?.oneStarRatingCount! * 100 /5 }}%</div>
    </div>
  </div>
</section>