<ng-container *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id === StatusImpactVerificationEnum.LAUNCHED">
  <div class="md:p-5 p-2"
       *ngIf="!loading && psychologicalWellbeing.score">
    <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-3 md:p-3">
      <div class="md:text-lg etxt-sm font-bold">Verify Metrics</div>

    </div>

    <div class="relative overflow-x-auto shadow-md ">
      <table class="w-full md:text-base text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              #
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3 ">
              Category
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              Key
            </th>
            <th scope="col"
                class="md:px-6 md:py-6 p-3">
              Score
            </th>

          </tr>
        </thead>
        <tbody>
          <!-- Contentment -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              1
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Contentment
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.contentment! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.contentment}}
              </div>
            </td>




          </tr>


          <!-- Self-confidence -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              2
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Self-confidence
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.self_confidence! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.self_confidence}}
              </div>
            </td>




          </tr>



          <!-- Concentration -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              3
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Concentration
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.concentration! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.concentration}}
              </div>
            </td>




          </tr>


          <!-- Bodily Image and Appearance -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              4
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Bodily Image and Appearance
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.bodily_image_and_appearance! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.bodily_image_and_appearance}}
              </div>
            </td>




          </tr>


          <!-- Self-esteem -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              6
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Self-esteem
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.self_esteem! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.self_esteem}}
              </div>
            </td>




          </tr>


          <!-- Anxiety and Depression -->
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

            <!-- Number -->
            <td class="p-3 md:p-6">
              7
            </td>

            <!-- Name and Photo -->
            <th scope="row p-3 md:p-6">
              Anxiety and Depression
            </th>

            <!-- Key -->
            <td class="p-3 md:p-6">
              {{ scaleService.getScoreKey(psychologicalWellbeing.score.anxiety_and_depression! ) }}
            </td>

            <!-- Score -->
            <td class="p-3 md:p-6">
              <div class="flex items-center font-semibold">
                {{ psychologicalWellbeing.score.anxiety_and_depression}}
              </div>
            </td>




          </tr>



        </tbody>
      </table>


    </div>
  </div>

  <app-loading *ngIf="loading"></app-loading>
</ng-container>


<app-dashboard-organization-unavailable-insights
                                                 *ngIf="organizationService.singleData?.verification_status_from_current_organization?.id !== StatusImpactVerificationEnum.LAUNCHED"></app-dashboard-organization-unavailable-insights>
