<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-primary text-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-primary text-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a [routerLink]="['organizations']"
           [routerLinkActive]="'!text-primary bg-secondary'"
           class="flex items-center p-2 text-base text-white rounded-lg  hover:bg-secondary   group">
          <span><i class="mdi mdi-domain"></i></span>
          <span class="ml-3">Organization</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['organization-waitlist']"
           [routerLinkActive]="'!text-primary bg-secondary'"
           class="flex items-center p-2 text-base text-white rounded-lg  hover:bg-secondary hover:text-primary group">
          <span><i class="mdi mdi-list-box-outline"></i></span>
          <span class="ml-3">Organization waitlist</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['community-suggestion']"
           [routerLinkActive]="'!text-primary bg-secondary'"
           class="flex items-center p-2 text-base text-white rounded-lg  hover:bg-secondary hover:text-primary group">
          <span><i class="mdi mdi-lightbulb-group"></i></span>
          <span class="ml-3">Community suggestion</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['team']"
           [routerLinkActive]="'!text-primary bg-secondary'"
           class="flex items-center p-2 text-base text-white rounded-lg  hover:bg-secondary hover:text-primary group">
          <span><i class="mdi mdi-account-group-outline"></i></span>
          <span class="ml-3">Team</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['settings']"
           [routerLinkActive]="'!text-primary bg-secondary'"
           class="flex items-center p-2 text-base text-white rounded-lg  hover:bg-secondary hover:text-primary group">
          <span><i class="mdi mdi-cog"></i></span>
          <span class="ml-3">Settings</span>
        </a>
      </li>

    </ul>
  </div>
</aside>