<!-- Hero -->
<section class="relative table w-full py-36 overflow-hidden " style="height: 100vh;">
  <div class="container relative">
    <div class="relative grid md:grid-cols-12 grid-cols-1 items-center mt-16 gap-[30px]">
      <div class="md:col-span-6">
        <div class="md:me-8">
          <h4 class="font-bold lg:leading-normal leading-normal text-[58px] mb-5 text-primary dark:text-white relative">Proactively verify
            <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-[#A6EBE3] relative inline-block"><span
                    class="relative text-white"> your impact</span></span>
          </h4>
          <p class="text-primary text-[28px] max-w-2xl mb-6">Predict and Verify the impact of your products, services and sustainability programs.
          </p>

          <div class=" mt-6 mb-3">
            <a [routerLink]="['for-business']"
               class="lightbox py-5 px-7  inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-[#A6EBE3] border-primary text-[20px] text-primary rounded-full">Book
              a demo</a>
          </div>
          <!-- <div class="subcribe-form mt-6 mb-3">
            <form class="relative max-w-xl" [formGroup]="form" (submit)="create()">
              <input type="email" id="subcribe" name="email"
                     formControlName="email"
                     class="py-4 pe-40 ps-6 w-full h-[50px] outline-none text-black dark:text-white rounded-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-800"
                     placeholder="Your Email Address :">
              <button type="submit"
                      class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center absolute top-[2px] end-[3px] h-[46px] bg-primary hover:bg-indigo-700 border border-primary hover:border-indigo-700 text-white rounded-full">Join
                waitlist <i class="uil uil-arrow-right"></i></button>
            </form>
          </div> -->
          <!-- <span class="text-slate-400 font-medium">Looking for help? <a href="" class="text-primary">Get in touch with us</a></span> -->
        </div>

      </div><!--end col-->


    </div><!--end grid-->


  </div>

  <div class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]"></div>
  <div class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn bg-violet-950 rounded-full blur-[400px] absolute right-[-10.5rem] top-[10rem]">
  </div>
  <div style="width: 38rem;
    height: 28rem; " class="absolute top-[140px] right-[120px] z-[-2]">
    <img src="assets/images/business/dashboard.png" alt="">
  </div>


  <!-- Problem -->
  <div class="mt-40 mb-44 flex flex-col container items-center">
    <h2 class="text-4xl text-center text-primary font-bold">
      What we can solve for your business
    </h2>
    <h4 class="text-center text-2xl text-primary mt-5 font-medium">See what businesses we have supported</h4>


    <div
         class="w-full  mt-10 pt-8 pb-7  bg-gradient-to-r from-primary to-slate-900 rounded-3xl shadow border flex-col justify-center items-center gap-2.5 inline-flex">
      <div class="w-full px-20 justify-between items-start inline-flex">
        <div class="w-64  py-5 flex-col justify-center items-center gap-4 inline-flex">
          <div class="self-stretch text-center text-slate-50 text-5xl mb-2 font-extrabold ">100+</div>
          <div class="self-stretch opacity-80 text-center text-slate-50 text-[16px] font-normal ">Billions of investment lost due to
            subjective & biased data</div>
        </div>
        <div class="w-64 py-5 flex-col justify-center items-center gap-4 inline-flex">
          <div class="self-stretch text-center text-slate-50 text-5xl mb-2 font-extrabold ">10+</div>
          <div class="self-stretch opacity-80 text-center text-slate-50 text-[16px] font-normal ">Hours of sorting and reviewing pdf
            reports
            from grantees</div>
        </div>
        <div class="w-64 py-5 flex-col justify-center items-center gap-4 inline-flex">
          <div class="self-stretch text-center text-slate-50 text-5xl mb-2 font-extrabold ">200K+</div>
          <div class="self-stretch opacity-80 text-center text-slate-50 text-[16px] font-normal ">Paid by corporates to 3rd party
            research
            agencies to verify grantee reported income</div>
        </div>
      </div>
    </div>
  </div>


  <!-- See what communities think about your business -->
  <app-public-business-check-community-reviews></app-public-business-check-community-reviews>

</section>