<!-- Hero -->
<section class="relative w-full pt-24  pb-16 overflow-hidden">
  <!-- Title and subtitle -->
  <div class="container !max-w-[80%] !p-0">
    <div class="relative flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center items-center">
        <!-- Title -->
        <h4
            class=" capitalize font-bold lg:leading-normal md:leading-normal md:text-4xl leading-normal md:text-start text-center text-4xl mb-4 text-primary">
          No Middlemen. 90% Cheaper. Science-based.
          <!-- <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
            <span class="relative text-white"> your impact</span>
          </span> -->
        </h4>

        <div class="md:hidden   mt-4">
          <div class="md:min-w-[444px]">
            <img
                 src="assets/images/business/dashboard.png"
                 class="w-full h-full  my-7"
                 alt="" />
          </div>
        </div>

        <!-- Subtitle -->
        <p
           class="text-black text-center md:text-start text-lg max-w-2xl mb-6 ">
          Ask communities directly. We reward them. Get answers in hours not months.
        </p>
      </div>

      <div class="relative flex w-full justify-center flex-col mt-10">
        <div class="relative md:absolute md:right-10 z-0">
          <img
               src="assets/images/business/laptopdash.png"
               class="w-full h-full  max-w-[650px]"
               alt="" />
        </div>

        <div class="flex flex-row flex-wrap justify-center items-center w-full gap-[16.65px] z-1 mt-0">
          <div class="w-[250px] h-[250px] rounded-[20px] bg-white py-[20px] px-[13.33px] flex flex-col justify-between items-center">
            <p class="text-[20px] text-[#282668] font-semibold text-center">Funding diligence Reports and insights</p>
            <div class="text-center">
              <p class="text-[16px] font-medium">Starting at</p>
              <p class="text-[40px] font-normal text-[#1FDFC9]">$200<span class="text-[16px] font-medium text-[#1FDFC9]">/month</span></p>
            </div>
            <p class="text-[20px] font-normal text-[#282668]">Others: $1,000/month</p>
          </div>

          <div class="w-[250px] h-[250px] rounded-[20px] bg-white py-[20px] px-[13.33px] flex flex-col justify-between items-center">
            <p class="text-[20px] text-[#282668] font-semibold text-center">Community Needs Assessment</p>
            <div class="text-center">
              <p class="text-[16px] font-medium">Starting at</p>
              <p class="text-[40px] font-normal text-[#1FDFC9]">$180<span class="text-[16px] font-medium text-[#1FDFC9]">/month</span></p>
            </div>
            <p class="text-[20px] font-normal text-[#282668]">Others: $10,000/month</p>
          </div>

          <div class="w-[250px] h-[250px] rounded-[20px] bg-white py-[20px] px-[13.33px] flex flex-col justify-between items-center">
            <p class="text-[20px] text-[#282668] font-semibold text-center">Impact Evaluation
              Report</p>
            <div class="text-center">
              <p class="text-[16px] font-medium">Starting at</p>
              <p class="text-[40px] font-normal text-[#1FDFC9]">$150<span class="text-[16px] font-medium text-[#1FDFC9]">/month</span></p>
            </div>
            <p class="text-[20px] font-normal text-[#282668]">Others: $5,000/month</p>
          </div>

          <div class="w-[250px] h-[250px] rounded-[20px] bg-white py-[20px] px-[13.33px] flex flex-col justify-between items-center">
            <p class="text-[20px] text-[#282668] font-semibold text-center">Impact Prediction Intelligence</p>
            <div class="text-center">
              <p class="text-[16px] font-medium">Starting at</p>
              <p class="text-[40px] font-normal text-[#1FDFC9]">$300<span class="text-[16px] font-medium text-[#1FDFC9]">/month</span></p>
            </div>
            <p class="text-[20px] font-normal text-[#282668]">Others: $6,500/month</p>
          </div>

          <div class="w-[250px] h-[250px] rounded-[20px] bg-white py-[20px] px-[13.33px] flex flex-col justify-between items-center">
            <p class="text-[20px] text-[#282668] font-semibold text-center">Custom Community Insights</p>
            <div class="text-center">
              <p class="text-[16px] font-medium">Starting at</p>
              <p class="text-[40px] font-normal text-[#1FDFC9]">$100<span class="text-[16px] font-medium text-[#1FDFC9]">/month</span></p>
            </div>
            <p class="text-[20px] font-normal text-[#282668]">Others: $5,750/month</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Hero section image -->
  <!-- <div style="width: 30rem;
    height: 20rem; " class="absolute top-[140px] right-[230px] z-[-2]">
    <img src="assets/images/business/dashboard.png" alt="">
  </div> -->

  <!-- Problem -->

  <!--               The Community License Scale               -->
  <!--<div
       class="md:mt-28 mt-16 md:mb-28 mb-24 flex flex-col container items-center">
    <h3 class="md:text-3xl text-2xl text-center text-primary font-bold">
      The Community License Scale
    </h3>
    <h4
        class="text-center md:text-xl text-lg text-primary my-7 font-medium">
      Frimpong S.O, et al, 2023. Forthcoming
    </h4>
    <img src="assets/images/for-business/hero/licence-scale.svg" />

  </div>-->

  <!--               Impact intelligence today              -->
  <!--<div class="md:mt-28 mt-16 md:mb-28 mb-24 flex flex-col items-center">
    <h3 class="md:text-3xl text-2xl text-center text-primary font-bold">
      Impact intelligence today:
    </h3>
    <p class="text-center text-slate-400 text-[15.12px] font-normal ">Dishonors community voices. </p>
    <h4 class="text-center md:text-xl text-lg text-primary my-7 font-medium">
      <span class="text-red-600 text-[18.91px] font-medium ">Wastes</span>
      <span class="text-violet-950 text-[18.91px] font-medium"> corporations </span>
      <span class="text-red-600 text-[18.91px] font-bold">money & time</span>
      <span class="text-red-600 text-[18.91px] font-medium">.</span>
    </h4>

    <div class="md:h-28 h-auto !min-w-72 justify-center items-center gap-4 flex md:flex-row flex-col">
      <div class="p-4 md:w-auto w-[100%]  bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/user-solid.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Corporations Implement without<br />Community Input</div>
      </div>
      <div class="w-12 h-px border border-stone-300"></div>
      <div
           class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/file-pdf.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Corporations report via PDF<br />documents</div>
      </div>
      <div class="w-12 h-px border border-stone-300"></div>
      <div
           class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/incognito.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Third-party agencies and<br />registries rate and verify impact
        </div>
      </div>

      <div class="w-12 h-px border border-stone-300">
      </div>

      <div
           class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/query-stats.png" />

        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">No benchmarking of impact<br />fidelity against industry peers
        </div>
      </div>

    </div>

  </div>-->



  <!--               Impact intelligence on Mundaly              -->
  <!--<div class="md:mt-28 mt-16 md:mb-28 mb-24 flex flex-col items-center">
    <h3 class="md:text-3xl text-2xl text-center text-primary font-bold">
      Impact intelligence on Mundaly:
    </h3>
    <p class="text-center text-slate-400 text-[15.12px] font-normal ">Dignifies communities. </p>
    <h4 class="text-center md:text-xl text-lg text-primary my-7 font-medium">
      <span class="text-teal-300 text-[18.91px] font-medium ">Saves</span>
      <span class="text-violet-950 text-[18.91px] font-medium"> corporations </span>
      <span class="text-teal-300 text-[18.91px] font-bold">money & time</span>
      <span class="text-teal-300 text-[18.91px] font-medium">.</span>
    </h4>

    <div class="md:h-28 h-auto !min-w-72 justify-center items-center gap-4 flex md:flex-row flex-col">
      <div class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/people.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Corporations implement with<br />community input</div>
      </div>
      <div class="w-12 h-px border border-stone-300"></div>

      <div class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/munlogo.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Corporations report digitally<br />on Mundaly</div>
      </div>
      <div class="w-12 h-px border border-stone-300"></div>

      <div class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/team.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Community members rate<br> and verify impact.</div>
      </div>
      <div class="w-12 h-px border border-stone-300"></div>

      <div class="p-4 md:w-auto w-[100%] bg-white rounded-lg shadow border border-stone-300 flex-col justify-start items-center gap-4 inline-flex">
        <div class="justify-center items-center gap-2 inline-flex">
          <img src="assets/images/for-business/hero/statsup.png" />
        </div>
        <div class="w-auto h-14 text-center text-slate-400 text-base font-normal ">Benchmarking of impact<br />fidelity against industry peers</div>
      </div>
    </div>

  </div> -->

  <!-- See what communities think about your business -->
  <div class="flex flex-col container items-center md:mt-20  mt-16 ">
    <h2 class="md:text-3xl text-2xl text-center text-primary font-bold">
      Check Your Impact
    </h2>
    <h4 class="text-center md:text-xl text-lg text-primary md:mt-5 px-2 mt-3 font-medium">See what communities are saying about you</h4>
    <app-public-business-check-community-reviews></app-public-business-check-community-reviews>
  </div>
</section>
