<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-organization-dashboard pt-10 relative dark:bg-gray-800">
    <!-- Logo -->
    <a [routerLink]="['/']" class="flex items-center ps-2.5 mb-5">
      <img src="assets/images/munlogo-white.png/" class="h-6 me-3 sm:h-7" alt="Mundaly logo" />
    </a>

    <!-- Sidebar -->
    <ul class="space-y-2 relative font-medium">
      <!-- Home -->
      <li>
        <a [routerLink]="['./']"
           class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group"
           routerLinkActive="bg-secondary-dark">
          <span class=""><i class=" text-secondary-dark text-xl mdi mdi-home" routerLinkActive="text-white"></i></span>
          <span class="ms-2">Home</span>
        </a>
      </li>



      <!-- <li>
        <button type="button"
                class="flex items-center w-full hover:bg-secondary-dark justify-between text-slate-50  pr-3 transition duration-75 rounded-lg group  dark:text-white dark:hover:bg-gray-700"
                aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">

          <a [routerLink]="['impact']"
             class="flex items-center p-2  text-slate-50 rounded-lg dark:text-white hover:bg-secondary-dark :hover:*:text-slate-50 dark:hover:bg-gray-700 group">
            <span class=""><i class=" text-secondary-dark text-xl mdi mdi-artboard"></i></span>
            <span class="flex-1 ms-2 whitespace-nowrap">Impact</span>
          </a>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Social
              impact fidelity</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Community
              Perception</a>
          </li>
          <li>
            <a href="#"
               class="flex items-center w-full p-2 text-slate-50 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Facilitation
              Strategy</a>
          </li>
        </ul>
      </li> -->




    </ul>

    <!-- User profile -->
    <div class="absolute bottom-10 p-2 ">
      <!-- User profile -->
      <div class=" flex items-center justify-self-end ">
        <span>
          <img src="https://media.istockphoto.com/id/942153448/de/vektor/avatar.jpg?s=612x612&w=0&k=20&c=dYzovkqwc-ADwIYjH7fd6MdgaJi0UslcMC3ycK9dmSg="
               alt="" class="h-12 w-12 rounded-full border-2 border-slate-50">
        </span>
        <div class="p-2 flex align-center flex-col">
          <div class="text-slate-50 font-semibold flex items-center">{{ user?.name }} <span><i
                 class="mdi mdi-menu-down text-2xl"></i></span></div>
          <p class="text-slate-300 text-sm">{{ organization?.name }}</p>
        </div>
      </div>


      <!-- Setting button -->
      <div class="flex text-slate-400 mt-7 ursor-pointer hover:text-slate-500">
        <span class="me-2"><i class="mdi mdi-cog-outline"></i></span>
        <span (click)="showSetupLogoAndCoverModal$.emit()">Settings</span>
      </div>


      <!-- Logout button -->
      <div class="flex text-slate-400 mt-7 cursor-pointer hover:text-slate-500" (click)="authService.logout()">
        <span class="me-2"><i class="mdi mdi-logout"></i></span>
        <span>Logout</span>
      </div>
    </div>

  </div>
</aside>
