<div class="p-10">
  <div class="flex justify-end">
    <button type="button"
            class="text-white bg-secondary-dark hover:bg-secondary-dark focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">
      <span class="me-1"><i class="mdi mdi-plus"></i></span> Add organization
    </button>
  </div>


  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">List of Partners</div>


    <!-- Search bar -->
    <div class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="table-search"
               class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Search for organizations">
      </div>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md ">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-6 w-[500px]">
            Name
          </th>
          <th scope="col" class="px-6 py-6">
            Location
          </th>
          <th scope="col" class="px-6 py-6">
            Industry
          </th>
          <th scope="col" class="px-6 py-6">
            Community Trust Score
          </th>
          <th scope="col" class="px-6 py-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let organization of data">

          <!-- Name and Photo -->
          <th scope="row" class="flex justify-between px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
            <!-- Logo organization -->
            <div class="flex items-center">
              <img class="w-10 h-10 rounded-full" [src]="organization.logo_thumb" [alt]="organization.name">
              <div class="ps-3">
                <div class="text-base font-semibold">{{ organization.name }}</div>
                <div class="font-normal text-gray-500">{{ organization.website }}</div>
              </div>
            </div>

            <span
                  class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Green</span>
          </th>

          <!-- Location -->
          <td class="px-6 py-4">
            {{ organization.city }}, {{ organization.country }}
          </td>

          <!-- Industry -->
          <td class="px-6 py-4">
            <div class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
              {{ organization.sector_organization?.name }}
            </div>
          </td>

          <td class="px-6 py-4">
            18
          </td>

          <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>