<div class="p-10">
  <div class="flex justify-end">
    <button type="button"
            (click)="showAddOrganizationModal = true"
            class="text-white bg-secondary-dark hover:bg-secondary-dark focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">
      <span class="me-1"><i class="mdi mdi-plus"></i></span> Add organization
    </button>
  </div>


  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">List of Partners</div>


    <!-- Search bar -->
    <div class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="text" id="table-search"
               class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Search for organizations">
      </div>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md ">
    <app-impact-partner-list></app-impact-partner-list>
  </div>
</div>



<p-dialog header="Add New Partners" [(visible)]="showAddOrganizationModal" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
          [resizable]="false">
  <app-impact-partner-create (created)="showAddOrganizationModal = false"></app-impact-partner-create>
</p-dialog>
