<!--Hero section-->
<section class="relative max-w-[100vw]  py-36 md:py-44 box-border  dark:from-indigo-600/20  dark:to-yellow-500/20">
  <div class="max-w-full flex justify-center items-center ">
    <img src="assets/images/who-is-for/For Impact Funders (1).png" class="" alt="" />
  </div>
  <div class="container relative grid grid-cols-1 sm:grid-cols-2 sm:grid-rows-1 gap-10">
    <div class="flex flex-col justify-center items-center sm:items-start order-1 gap-8">
      <h3 class="text-primary text-4xl sm:text-7xl  font-semibold break-words mb-2">
      IMPACT<br>FUNDERS
      </h3>

      <div class="flex flex-row flex-nowrap items-center gap-4">
        <img src="assets/images/who-is-for/ph_trend-down-fill.svg" alt="" class="!w-[48px] !h-[48px]">
        <div class="text-primary text-base font-medium  text-left ">
          Lack of community insights in the social initiatives you fund can cause unintended harm in communities, affect your reputation, revenues and stock. 
        </div>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-4">
        <img src="assets/images/who-is-for/material-symbols_lab-research.png" alt="" class="!w-[48px] !h-[48px]">
        <div class="text-primary text-base font-medium  text-left ">
          At Mundaly, we’ve combined decades of award-winning research at Cambridge and Yale Universities with artificial intelligence and machine learning to develop the world’s leading end-to-end community impact solution. 
        </div>
      </div>

      <div class="flex flex-row flex-nowrap items-center gap-4">
        <img src="assets/images/who-is-for/uil_comment-verify.png" alt="" class="!w-[48px] !h-[48px]">
        <div class="text-primary text-base font-medium  text-left ">
          From design to evaluation; see urgent community needs, choose the most impactful facilitator to implement them, verify and report your social & ESG impact.
        </div>
      </div>

      <div class="mt-6 mb-3 block">
        <a
           [routerLink]="['/for-business']"
           class="px-8 py-6 bg-emerald-500 rounded-lg w-auto inline-block font-semibold tracking-wide align-middle duration-500 text-center  hover:bg-secondary-dark text-xl text-white ">
           Request a demo</a>
      </div>


    </div>

    <div class="order-2 max-w-full">

        <img
             src="assets/images/who-is-for/Impact Funders hero2.png"
             class="h-auto w-full"
             alt="" />

    </div>
  </div>
</section>


<!--Corporate Sustainability Teams section-->
<section class="relative max-w-[100vw]  box-border  dark:from-indigo-600/20  dark:to-yellow-500/20  z-10">
  <div class="container">
    <div class="justify-center items-center gap-2 inline-flex w-fit h-16 p-6 bg-white rounded-tl-lg rounded-tr-lg border-l-2 border-r-2 border-t-2 border-violet-950 border-opacity-40 text-violet-950 text-xl font-medium font-['Figtree']">
      We proudly serve
    </div>

  </div>
  <div class="container relative flex flex-col-reverse sm:flex-row-reverse flex-wrap sm:flex-nowrap gap-10">
    <div class=" w-full flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-black text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Corporate Sustainability Teams
      </h3>

      <div class="text-slate-400 text-lg font-normal md:pr-20 text-center md:text-left mt-5">
        Generate audit-ready CSR and ESG social impact data. Report your impact to regulators & investors. Achieve your social license.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/for-business/product/report']" class="w-full h-full px-4 flex justify-center items-center hover:bg-slate-200">
          See how
          </a>
        </div>
      </div>

    </div>

    <div class=" order-1 max-w-full max-h-full">

        <img
              src="assets/images/who-is-for/Impact funders1.jpg"
              class="sm:min-w-[580px] max-w-full min-w-full "
              alt="" />

    </div>

  </div>
</section>

<!--Institutions section-->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-3 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse  sm:flex-row flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full  flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Institutions
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Are you a school, hospital or church? Secure the trust of your partner communities both locally and internationally. Minimize reputational risks.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/for-business//product/act']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
          Explore more
          </a>
        </div>
      </div>

    </div>

    <div class="order-2">

        <img
             src="assets/images/who-is-for/Impact funders2.jpg"
             class="sm:min-w-[580px] max-w-full min-w-full "
             alt="" />

    </div>

  </div>
</section>

<!-- Foundations section-->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-2 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse sm:flex-row-reverse flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full flex flex-col justify-center items-center sm:items-start">
      <h3 class=" text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Foundations
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Streamline reporting for grantees, see all your portfolio metrics in one place, and generate reports for your board and stakeholders.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/for-business/product/report']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
            Learn more
          </a>
        </div>
      </div>

    </div>

    <div class="order-1">

        <img
             src="assets/images/who-is-for/Impact funders3.jpg"
             class="sm:min-w-[580px] max-w-full min-w-full "
             alt="" />

    </div>

  </div>
</section>

<!--Impact Investors section-->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-3 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse  sm:flex-row flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full  flex flex-col justify-center items-center sm:items-start">
      <h3 class="text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Impact Investors
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Evaluate your potential investments with community-driven due-diligence and simplify impact reporting for your portfolio.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/for-business/product/measure']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
          See how
          </a>
        </div>
      </div>

    </div>

    <div class="order-2">

        <img
             src="assets/images/who-is-for/Impact funders4.jpg"
             class="sm:min-w-[580px] max-w-full min-w-full "
             alt="" />

    </div>

  </div>
</section>

<!-- Government Programs section-->
<section class="relative max-w-[100vw] box-border  dark:from-indigo-600/20  dark:to-yellow-500/20 z-2 mt-16 sm:mt-0">
  <div class="container relative flex flex-col-reverse sm:flex-row-reverse flex-wrap sm:flex-nowrap gap-10">
    <div class="  w-full flex flex-col justify-center items-center sm:items-start">
      <h3 class=" text-primary text-3xl  leading-normal font-semibold break-words text-center sm:text-left">
        Government Programs
      </h3>

      <div class="text-primary text-lg font-normal md:pr-20 text-center md:text-left mt-10">
        Choose the right implementation partners based on community insights and reduce reporting burdens. Build and maintain your relationships with your community stakeholders.
      </div>

      <div class="mt-10 w-fit h-14  rounded-3xl border overflow-hidden border-violet-200 justify-center items-center gap-2 inline-flex">
        <div class="text-violet-950 text-2xl  font-semibold font-['Figtree'] w-full h-full">
          <a [routerLink]="['/for-business/product/track']" class="w-full px-4 h-full flex justify-center items-center hover:bg-slate-200">
            Explore more
          </a>
        </div>
      </div>

    </div>

    <div class="order-1">

        <img
             src="assets/images/who-is-for/Impact funders5.jpg"
             class="sm:min-w-[580px] max-w-full min-w-full "
             alt="" />

    </div>

  </div>
</section>

<!-- impact for section-->
<section class="relative max-w-[100vw] box-border pt-8  dark:from-indigo-600/20  dark:to-yellow-500/20 pb-16 mb-5">
  <div class="container relative flex  flex-col flex-wrap md:flex-nowrap  gap-10 items-center">
    <div class="w-full flex justify-center flex-col items-center py-16">

      <h3 class="text-black text-4xl sm:text-5xl sm:w-[48rem] leading-normal font-bold break-words text-center ">
        Safeguard your reputation. <br> Book a demo.
      </h3>

    </div>


    <!--Mobile version-->
    <div class=" max-w-full grid grid-cols-2 grid-rows-4 sm:hidden gap-x-5 gap-y-10  " style="grid-template-columns: 60px auto!important;">

      <div class="row-start-1 col-start-1 col-span-1 row-span-4 flex justify-center items-center">
        <div class="relative flex flex-col justify-between items-center w-px border-x-4 z-0 border-violet-950 h-[80%]">
          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute top-[0%]">1</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute top-[31.16%]">2</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute top-[63%]">3</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute top-[95.7%]">4</div>
        </div>
      </div>


        <div class="col-span-1 col-start-2 col-end-3 flex flex-col items-start gap-0 justify-center max-w-full">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            MEASURE
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-left">
              <li>See urgent social needs</li>
              <li>Baseline your social license</li>
            </ul>

        </div>



        <div class="col-span-1 col-start-2 col-end-3 flex flex-col items-start gap-0  justify-center max-w-full">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            ACT
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-left ">
              <li>Choose and fund the most impactful facilitators to implement them</li>
              <li>Set Targets to achieving your social license</li>
            </ul>

        </div>



        <div class="col-span-1 col-start-2 col-end-3 flex flex-col items-start gap-0  justify-center max-w-full">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            TRACK & BENCHMARK
          </p>

          <ul class="text-zinc-600 text-xl font-normal list-disc text-left break-words">
            <li>Reduce reporting burden for grantees and investees. See their reports in one place.</li>
            <li>Verify the portfolio-reported impact using community-driven surveys</li>
            <li>Benchmark your impact against industry peers.</li>
          </ul>
        </div>



        <div class="col-span-1 col-start-2 col-end-3 flex flex-col items-start gap-0 justify-center max-w-full">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            REPORT & MAINTAIN
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-left">
              <li>Generate audit-grade reports for your investors and regulators.</li>
              <li>Maintain your social license</li>
            </ul>

        </div>


    </div>

    <!--Desktop version-->
    <div class="w-full sm:grid hidden grid-cols-4 grid-rows-3" style="grid-template-rows: 1fr 90px 1fr !important;">

      <div class="col-span-1 col-start-2 col-end-3 flex justify-center items-center overflow-visible">
        <div class="flex flex-col items-center gap-5  justify-center min-w-[30rem]">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            ACT
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-center ">
              <li>Choose and fund the most impactful facilitators to implement them</li>
              <li>Set Targets to achieving your social license</li>
            </ul>

        </div>
      </div>

      <div class="col-span-1 col-start-4 col-end-5 flex justify-center items-center overflow-visible">
        <div class="flex flex-col items-center gap-5 justify-center min-w-[20rem]">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            REPORT & MAINTAIN
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-center">
              <li>Generate audit-grade reports for your investors and regulators.</li>
              <li>Maintain your social license</li>
            </ul>

        </div>
      </div>

      <div class="row-start-2 col-start-1 col-span-4 flex justify-center items-center">
        <div class="relative flex flex-row flex-nowrap justify-between items-center h-px border-y-4 z-0 border-violet-950 w-[80%]">
          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute left-[0%]">1</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute left-[31.16%]">2</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute left-[63%]">3</div>

          <div class="w-10 h-10 rounded-full border-4 bg-white border-violet-950 text-center text-violet-950 text-2xl font-bold z-1 absolute left-[95.7%]">4</div>
        </div>
      </div>



      <div class=" col-span-1 col-start-1 col-end-2 flex justify-center items-center overflow-visible">
        <div class="flex flex-col items-center gap-5 justify-center">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            MEASURE
          </p>

            <ul class="text-zinc-600 text-xl font-normal list-disc text-center">
              <li>See urgent social needs</li>
              <li>Baseline your social license</li>
            </ul>

        </div>
      </div>

      <div class="col-span-1 col-start-3 col-end-4 flex justify-center items-center overflow-visible">
        <div class="flex flex-col items-center gap-5  justify-center min-w-[30rem]">
          <p class="text-primary text-xl  leading-normal font-bold break-words">
            TRACK & BENCHMARK
          </p>

          <ul class="text-zinc-600 text-xl font-normal list-disc text-center">
            <li>Reduce reporting burden for grantees and investees. See their reports in one place.</li>
            <li>Verify the portfolio-reported impact using community-driven surveys</li>
            <li>Benchmark your impact against industry peers.</li>
          </ul>
        </div>
      </div>

    </div>


  </div>

</section>


  <!-- Linear gradient -->
  <div
       class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
  </div>
  <div
       class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
  </div>
