<div class="rounded-md bg-slate-50 dark:bg-slate-800 shadow dark:shadow-gray-800">
  <div class="p-6">
    <!-- Title -->
    <h5 class="text-2xl font-medium">Ratings:</h5>

    <!-- Rating -->
    <div class="flex justify-between items-center mt-4">
      <span class="text-xl font-medium">
        4.8

        <!-- Number of starts -->
        <i class="mdi text-secondary mdi-star-circle ms-2"></i>
        <i class="mdi mdi-star-circle text-secondary"></i>
        <i class="mdi mdi-star-circle text-secondary"></i>
        <i class="mdi mdi-star-circle text-secondary"></i>
        <i class="mdi mdi-star-circle text-secondary"></i>
      </span>

      <!-- Appreciation (grade) -->
      <span class="bg-emerald-400 text-white text-sm px-2.5 py-0.75 rounded h-6">Good</span>
    </div>

    <!-- Feedback informations -->
    <ul class="list-none mt-4">

      <!-- Number of feedbacks -->
      <li class="flex justify-between items-center">
        <span class="text-slate-400 text-sm">Number of feedbacks</span>
        <span class="font-medium text-sm">1240</span>
      </li>

      <!-- Question answered -->
      <li class="flex justify-between items-center mt-2">
        <span class="text-slate-400 text-sm">Questions answered</span>
        <span class="font-medium text-sm">72%</span>
      </li>

      <!-- Profile status -->
      <li class="flex justify-between items-center mt-2">
        <span class="text-slate-400 text-sm">Profile status</span>
        <span class="font-medium text-sm">Unclaimed</span>
      </li>
    </ul>
  </div>

  <!-- Claim this profile button -->
  <div class="p-1 w-full">
    <a href=""
       class="py-2 px-5 inline-block tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-primary hover:border-indigo-700 text-white rounded-md w-full">
      Claim this profile
    </a>
  </div>
</div>