#topnav .navigation-menu > li > a {
  font-size: 16px !important;
  color: #2c2a80 !important;

  &:hover {
    color: #4dc0b5 !important;
  }
}

.custom-submenu {
  li {
    &:hover > *,
    &:active > * {
      @apply text-secondary-dark scale-105;
    }
  }

  position: fixed !important;
}
