<section class="px-32 relative bg-gradient-to-br from-secondary/10 via-primary/5 to-secondary/10 lg:py-24 py-16">

  <!-- Title -->
  <div class="relative grid grid-cols-1 pb-8 text-center z-1">
    <!-- <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold text-secondary dark:text-white">Why Communities Trust Us</h3> -->

    <!-- <p class="text-slate-400 max-w-xl mx-auto">Confidently plan and execute your business strategies with community intel from us.</p> -->
  </div><!--end grid-->


  <!-- Stats -->
  <div class="relative grid md:grid-cols-3 grid-cols-1 items-end  gap-[30px] z-1">
    <div class="grid grid-cols-4 gap-3 items-center border-b pb-3 h-full">
      <div class="col-span-1">
        <h1 class=" mb-2 text-dark dark:text-white">
          <span class="text-3xl font-bold ">100</span>
          <span class="text-3xl ">+</span>
        </h1>
      </div>
      <div class="col-span-3 ">
        <h5 class="counter-head text-xl leading-tight font-semibold text-dark">Billions of investment lost due to subjective & biased data </h5>
      </div>


    </div><!--end counter box-->
    <div class="grid grid-cols-4 gap-3 items-center border-b pb-3 h-full">
      <div class="col-span-1">
        <h1 class=" mb-2 text-dark dark:text-white">
          <span class="text-3xl font-bold ">10</span>
          <span class="text-3xl ">+</span>
        </h1>
      </div>
      <div class="col-span-3 ">
        <h5 class="counter-head text-xl font-semibold text-dark">Hours of sorting and reviewing pdf reports from grantees</h5>
      </div>


    </div><!--end counter box-->
    <div class="grid grid-cols-4 gap-3 items-center border-b pb-3 h-full">
      <div class="col-span-1">
        <h1 class=" mb-2 text-dark dark:text-white">
          <span class="text-3xl font-bold ">200k</span>
          <span class="text-3xl ">+</span>
        </h1>
      </div>
      <div class="col-span-3 ">
        <h5 class="counter-head text-xl font-semibold text-dark">Paid by corporates to 3rd party research agencies to verify grantee reported income </h5>
      </div>


    </div><!--end counter box-->


  </div>
</section>
