<section class="relative md:pb-24 pb-16">
  <div class="container relative lg:pt-24 pt-16">
    <div class="absolute inset-0 opacity-25 dark:opacity-50  bg-no-repeat bg-center bg-cover"></div>
    <div class="relative grid grid-cols-1 pb-8 text-center z-1">
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold text-black dark:text-white">Why Communities Trust Us</h3>

      <!-- <p class="text-slate-400 max-w-xl mx-auto">Confidently plan and execute your business strategies with community intel from us.</p> -->
    </div><!--end grid-->

    <div class="relative grid md:grid-cols-3 grid-cols-1 items-center mt-8 gap-[30px] z-1">
      <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-primary/70 dark:text-white"><span class="counter-value"
                data-target="1000">100</span>+</h1>
        <h5 class="counter-head text-lg font-medium">Community surveys done in different industries</h5>
      </div><!--end counter box-->

      <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-primary/70 dark:text-white"><span class="counter-value"
                data-target="10">10</span>+</h1>
        <h5 class="counter-head text-lg font-medium">Awards won by our leaders <br> & advisors</h5>
      </div><!--end counter box-->

      <div class="counter-box text-center">
        <h1 class="lg:text-5xl text-4xl font-semibold mb-2 text-primary/70 dark:text-white"><span class="counter-value"
                data-target="20">20</span>+</h1>
        <h5 class="counter-head text-lg font-medium">Years of experience in the team working in multifaceted industries </h5>
      </div><!--end counter box-->
    </div>
  </div>
</section>
