<section class="relative md:py-24 py-14 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <!-- Header & subheader -->
    <div class="grid grid-cols-1 pb-8 text-center">
      <!-- <h6 class="text-primary text-base mb-2">Communities' Most Trusted</h6> -->
      <h3 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">Top-rated companies that put communities first</h3>

    </div>

    <!-- List of companies -->
    <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-[30px]">

      <!-- Start Candidate Content -->
      <app-organization-solo *ngFor="let organization of organizationService.data.slice(0, 3)" [organization]="organization"></app-organization-solo>
      <!-- End Candidate Content -->



    </div><!--end grid-->
  </div><!--end container-->

</section>