<div class="container pb-24">
  <!-- Start Hero -->
  <section class="relative table w-full py-24 pb-0 ">
    <div class="container relative">
      <div class="flex flex-col items-center gap-5 justify-center">
        <a [routerLink]="['/']">
          <img src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/v1/static-content/community/home/mundaly-logo" style="height: 58px;"
               class="inline-block dark:hidden" alt="">
        </a>
        <h3 class="text-primary text-4xl  font-semibold break-words mb-2">
          Mobile App Terms of services
        </h3>
        <p>Last updated: 01/17/2024 </p>

      </div>
    </div>
  </section>
  <!-- End Hero -->

  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">1. Introduction</h2>
    <p class="text-lg mt-5">Welcome to Mundaly! These Terms of Service ("Terms") govern your use of the Mundaly mobile application (the "App")
      provided by
      Mundaly
      Enterprise
      ("Mundaly," "we," "us," or "our"). By using the App, you agree to comply with and be bound by these Terms. If you do not agree to these Terms,
      please
      do not use the App.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">2. Company Information</h2>
    <p class="text-lg mt-5">Mundaly Enterprise <br>

      East Legon, Greater Accra, Accra, Ghana <br>

      Email: admin@mundaly.com <br>

      Phone: +2330243659824.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">3. App Information</h2>
    <p class="text-lg mt-5">Mundaly is an app that helps communities share their thoughts on impact happening in their communities. Whether it's
      feedback for businesses, donors,
      or investors, Mundaly makes it easy. We work together to measure, verify and track impact. Our app collects real opinions directly from
      community
      members, making it simple for everyone to have a voice in building a better, more sustainable future.

    </p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">4. User Agreement</h2>
    <p class="text-lg mt-5">By using the App, you agree to the following terms and conditions:</p>
    <ul class="list-disc pl-10 text-lg">
      <li>You must be 18 years or older to use the App.</li>
      <li>You agree to comply with all applicable laws and regulations.</li>
      <li>Impersonation: Users are forbidden from impersonating another person.</li>
      <li>Surveys: Users shall take a survey of an organization only if they have interacted with that organization.</li>
      <li>Reviews: Users shall not be paid to give fake review.</li>

    </ul>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">5. Privacy Policy</h2>
    <p class="text-lg mt-5">Please refer to our <a [routerLink]="['/', 'privacy-policy']" class="font-bold text-primary">Privacy Policy</a> for
      information on how user data is
      collected, used, and stored. Our Privacy Policy
      also includes details about any
      third-party services or analytics tools used in the App.</p>

  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">6. User Conduct</h2>
    <p class="text-lg mt-5">You agree to use the App in a manner consistent with its intended purpose. Prohibited activities include, but are not
      limited to:.</p>
    <ul class="list-disc pl-10 text-lg">
      <li>Violating any laws or regulations.</li>
      <li>Uploading or sharing inappropriate content.</li>
      <li>Engaging in fraudulent or deceptive activities.</li>

    </ul>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">7. Intellectual Property</h2>
    <p class="text-lg mt-5">Mundaly retains ownership of all intellectual property related to the App. This includes trademarks, copyrights, and any
      licenses granted to users.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">8. Liability and Disclaimers</h2>
    <p class="text-lg mt-5">Mundaly and its affiliates are not liable for any damages or losses incurred while using the App. The App is provided
      "as-is" without any warranties
      or guarantees.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">9. Termination Clause</h2>
    <p class="text-lg mt-5">We reserve the right to terminate your access to the App for violations of these Terms. Termination may result in the loss
      of data and other
      consequences.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">10. Governing Law</h2>
    <p class="text-lg mt-5">These Terms are governed by the laws of Ghana. Any disputes arising from or in connection with these Terms shall be
      subject to the exclusive
      jurisdiction of the courts in Ghana.</p>
  </section>
  <section class="mt-10">
    <h2 class="text-3xl font-bold text-primary ">11. Updates and Modifications</h2>
    <p class="text-lg mt-5">We reserve the right to update or modify these Terms at any time. Changes will be communicated through the App. Continued
      use of the App after such
      modifications constitutes acceptance of the updated Terms.</p>
  </section>
</div>


<!-- Linear gradient -->
<div
     class="w-[316px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-teal-400 rounded-full blur-[400px] absolute top-[-333px] left-[-58px]">
</div>
<div
     class="w-[337px] h-[1151px] opacity-80 mix-blend-color-burn -z-10 bg-violet-950 rounded-full blur-[400px] absolute right-[3.5rem] top-[10rem]">
</div>