<div class="bg-gray-100 p-5 h-[100vh]">
  <div class="md:flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
      <li>
        <a href="#" class="inline-flex items-center px-4 py-3 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600" aria-current="page">
          <span class="me-2"><i class="mdi mdi-weight-lifter"></i></span>
          Strengths
        </a>
      </li>
      <li>
        <a href="#"
           class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="me-2"><i class="mdi mdi-battery-10"></i></span>
          Weaknesses
        </a>
      </li>
      <li>
        <a href="#"
           class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="me-2"><i class="mdi mdi-torch"></i></span>
          Opportunities
        </a>
      </li>
      <li>
        <a href="#"
           class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="me-2"><i class="mdi mdi-alert"></i></span>
          Threats
        </a>
      </li>

    </ul>
    <div class="p-6 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Strengths</h3>
      <p class="mb-2">This is some placeholder content the Profile tab's associated content, clicking another tab will toggle the visibility of this
        one
        for the next.</p>
      <p>The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
  </div>

</div>
