<div class="bg-gray-100 p-5 h-[100vh]">
  <div class="md:flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
      <li>
        <a [routerLink]="['./']" (click)="toggleTab('strength')"
           class="inline-flex items-center px-4 py-3 hover:bg-blue-700 hover:text-white   rounded-lg  bg-slate-50   w-full "
           [ngClass]="{ 'text-white !bg-blue-700  dark:bg-blue-600 active': activeTabs['strength'] ===  true}"
           aria-current="page">
          <span class="me-2"><i class="mdi mdi-weight-lifter"></i></span>
          Strengths
        </a>
      </li>
      <li>
        <a [routerLink]="['./']" (click)="toggleTab('weakness')"
           [ngClass]="{ 'text-white !bg-blue-700    active': activeTabs['weakness'] ===  true}"
           class="inline-flex items-center px-4 py-3 hover:bg-blue-700 hover:text-white  rounded-lg bg-white">
          <span class="me-2"><i class="mdi mdi-battery-10"></i></span>
          Weaknesses
        </a>
      </li>
      <li>
        <a [routerLink]="['./']" (click)="toggleTab('opportunity')"
           [ngClass]="{ 'text-white !bg-blue-700  dark:bg-blue-600 active': activeTabs['opportunity'] ===  true}"
           class="inline-flex items-center px-4 py-3 hover:bg-blue-700 hover:text-white  rounded-lg bg-white   w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="me-2"><i class="mdi mdi-torch"></i></span>
          Opportunities
        </a>
      </li>
      <li>
        <a [routerLink]="['./']" (click)="toggleTab('threat')"
           [ngClass]="{ 'text-white !bg-blue-700  dark:bg-blue-600 active': activeTabs['threat'] ===  true}"
           class="inline-flex items-center px-4 py-3 hover:bg-blue-700 hover:text-white  rounded-lg bg-white   w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="me-2"><i class="mdi mdi-alert"></i></span>
          Threats
        </a>
      </li>

    </ul>



    <!-- Strength -->
    <div class="p-6 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" *ngIf="activeTabs['strength']">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Strengths</h3>
      <p class="mb-2">
        1. Diversified Portfolio:
        Rio Tinto has a diversified portfolio of mining assets across various commodities, including iron ore, aluminum, copper, diamonds, and energy
        products. This diversification helps mitigate risks associated with fluctuations in commodity prices and demand for specific minerals.
        <br><br>
        2. Strong Financial Performance:
        The company has a history of strong financial performance, with consistent revenue growth and profitability. Rio Tinto's financial stability
        allows it
        to invest in new projects, technology, and sustainable practices.
        <br><br>
        3. Technological Advancements:
        Rio Tinto is at the forefront of innovation in the mining industry, with a focus on automation, digitalization, and artificial intelligence.
        The
        company's use of advanced technologies improves operational efficiency, safety, and environmental performance.
        <br><br>
        4. Global Presence:
        With operations in multiple countries across continents, Rio Tinto has a broad geographic footprint. This global presence provides the company
        with
        access to diverse markets, resources, and opportunities for growth and expansion.
        <br><br>
        5. Strong Brand Reputation:
        Rio Tinto is recognized as a leading mining company known for its commitment to sustainability, environmental stewardship, and responsible
        mining
        practices. The company's strong brand reputation enhances its relationships with stakeholders, including investors, customers, employees, and
        communities.
        <br><br>
        6. Operational Excellence:
        Rio Tinto has a track record of operational excellence in mining, processing, and logistics. The company's efficient operations and supply
        chain
        management contribute to cost savings, productivity gains, and competitive advantage in the industry.
        <br><br>
        7. Strategic Partnerships:
        Rio Tinto has established strategic partnerships with governments, local communities, suppliers, and industry stakeholders. These
        collaborations
        enable the company to leverage expertise, resources, and support for sustainable development, community engagement, and project success.
        <br><br>
        8. Talent and Expertise:
        The company attracts and retains top talent in the mining industry, with a skilled workforce and experienced leadership team. Rio Tinto's
        employees
        bring diverse expertise, knowledge, and capabilities to drive innovation, growth, and operational excellence.
        <br><br>
        9. Commitment to Sustainability:
        Rio Tinto is committed to sustainable mining practices, environmental stewardship, and social responsibility. The company's focus on
        sustainability
        initiatives, including carbon reduction, biodiversity conservation, and community development, aligns with global trends and stakeholder
        expectations.
        <br><br>
        10. Long-Term Vision:
        Rio Tinto has a long-term strategic vision for sustainable growth, value creation, and stakeholder engagement. The company's focus on
        long-term
        planning, risk management, and responsible business practices positions it for continued success and resilience in the mining industry.
        <br><br>
        These strengths collectively contribute to Rio Tinto's competitive advantage, resilience, and leadership in the global mining sector.
      </p>

    </div>


    <!-- Weaknesses -->
    <div class="p-6 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" *ngIf="activeTabs['weakness']">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Weaknesses</h3>
      <p class="mb-2">
        1. Dependency on Commodity Prices:
        Rio Tinto's financial performance is highly sensitive to fluctuations in commodity prices, particularly for key products like iron ore,
        aluminum, and
        copper. Price volatility can impact revenue, profitability, and investment decisions.
        <br><br>
        2. Environmental Concerns:
        The company has faced criticism and legal challenges related to environmental impact, including issues such as land disturbance, water usage,
        air
        pollution, and biodiversity conservation. Incidents like the Juukan Gorge destruction have raised concerns about heritage protection and
        environmental
        stewardship.
        <br><br>
        3. Regulatory Risks:
        Operating in multiple jurisdictions exposes Rio Tinto to regulatory risks, compliance challenges, and legal uncertainties. Changes in
        government
        policies, environmental regulations, and mining laws can impact the company's operations and profitability.
        <br><br>
        4. High Capital Intensity:
        The mining industry requires significant capital investment for exploration, development, and infrastructure. Rio Tinto's high capital
        intensity can
        strain cash flow, increase debt levels, and limit financial flexibility, especially during periods of economic uncertainty.
        <br><br>
        5. Labor Relations:
        Rio Tinto has experienced labor disputes, strikes, and challenges in maintaining positive relationships with employees, unions, and local
        communities.
        Issues related to workforce management, safety practices, and employee engagement can impact productivity and operational continuity.
        <br><br>
        6. Supply Chain Vulnerabilities:
        The company's supply chain is vulnerable to disruptions, including transportation delays, logistics challenges, and geopolitical risks.
        Dependence on
        suppliers, contractors, and infrastructure networks can expose Rio Tinto to supply chain vulnerabilities and operational disruptions.
        <br><br>
        7. Reputation Risks:
        Any incidents related to environmental damage, community relations, or ethical concerns can damage Rio Tinto's reputation and stakeholder
        trust.
        Negative publicity, public scrutiny, and social media backlash can impact the company's brand image and social license to operate.
        <br><br>
        8. Technological Risks:
        While Rio Tinto has invested in advanced technologies for operational efficiency, automation, and digitalization, there are risks associated
        with
        technology failures, cybersecurity threats, and data breaches. Maintaining and upgrading technological systems require ongoing investment and
        risk
        management.
        <br><br>
        9. Stakeholder Engagement:
        The company may face challenges in effectively engaging with diverse stakeholders, including local communities, Indigenous groups,
        governments, and
        NGOs. Building trust, managing expectations, and addressing stakeholder concerns require proactive communication and transparent dialogue.
        <br><br>
        10. Strategic Planning:
        Rio Tinto's long-term strategic planning and decision-making processes may face challenges related to uncertainty, market volatility, and
        changing
        industry dynamics. Adapting to evolving trends, risks, and opportunities requires agility, foresight, and strategic alignment across the
        organization.
        <br><br>
        These weaknesses highlight areas where Rio Tinto may need to focus on improvement, risk mitigation, and strategic management to enhance its
        competitiveness and sustainability in the mining industry.
      </p>

    </div>


    <!-- Opportunities -->
    <div class="p-6 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" *ngIf="activeTabs['opportunity']">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Opportunities</h3>
      <p class="mb-2">
        1. Sustainable Mining Practices:
        Opportunities exist for Rio Tinto to further enhance its commitment to sustainable mining practices, including carbon reduction, water
        conservation,
        and biodiversity protection. Investing in innovative technologies and renewable energy solutions can improve environmental performance and
        operational
        efficiency.
        <br><br>
        2. Renewable Energy Transition:
        As the global economy shifts towards renewable energy sources, Rio Tinto can explore opportunities in supplying minerals essential for clean
        energy
        technologies, such as lithium for batteries and copper for renewable power generation. Diversifying into the renewable energy sector can align
        with
        sustainability goals and market trends.
        <br><br>
        3. Strategic Partnerships:
        Collaborating with governments, industry partners, research institutions, and local communities can create opportunities for shared value
        creation,
        knowledge exchange, and sustainable development. Strategic partnerships can enhance operational resilience, market access, and stakeholder
        engagement
        for Rio Tinto.
        <br><br>
        4. Digital Transformation:
        Embracing digital transformation and Industry 4.0 technologies presents opportunities for Rio Tinto to optimize operations, improve safety,
        and
        increase productivity. Implementing data analytics, automation, and artificial intelligence solutions can drive efficiency gains and cost
        savings
        across the mining value chain.
        <br><br>
        5. Circular Economy Initiatives:
        Exploring opportunities in the circular economy, such as recycling, reusing,
      </p>

    </div>


    <!-- Threats -->
    <div class="p-6 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" *ngIf="activeTabs['threat']">
      <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Threats</h3>
      <p class="mb-2">
        1. Regulatory Changes:
        Changes in government regulations, environmental policies, and mining laws can pose threats to Rio Tinto's operations, compliance
        requirements, and
        project development timelines. Regulatory uncertainties, permit delays, and legal challenges can impact the company's ability to operate and
        expand in
        certain jurisdictions.
        <br><br>
        2. Price Volatility:
        Fluctuations in commodity prices, exchange rates, and market demand can pose threats to Rio Tinto's revenue, profitability, and investment
        decisions.
        Price volatility for key products like iron ore, aluminum, and copper can affect cash flow, project economics, and financial performance in
        the mining
        industry.
        <br><br>
        3. Environmental Risks:
        Environmental risks, including climate change impacts, natural disasters, and ecological damage, can pose threats to Rio Tinto's operations,
        reputation, and social license to operate. Incidents of pollution, land disturbance, or biodiversity loss can lead to regulatory fines, legal
        liabilities, and stakeholder backlash.
        <br><br>
        4. Community Opposition:
        Community opposition, protests, and conflicts with local residents, Indigenous groups, and environmental activists can pose threats to Rio
        Tinto's
        social license to operate, project approvals, and reputation. Issues related to land rights, cultural heritage, and community consultation can
        lead to
        project delays and reputational damage.
        <br><br>
        5. Supply Chain Disruptions:
        Disruptions in the supply chain, including transportation delays, logistics challenges, and supplier failures, can pose threats to Rio Tinto's
        production, delivery schedules, and operational continuity. Dependence on critical suppliers, infrastructure networks, and global markets can
        expose
        the company to supply chain vulnerabilities.
        <br><br>
        6. Geopolitical Risks:
        Geopolitical risks, such as trade tensions, political instability, and resource nationalism, can pose threats to Rio Tinto's international
        operations,
        market access, and investment security. Changes in government policies, trade agreements, and geopolitical dynamics can impact the company's
        strategic
        planning and risk management.
        <br><br>
        7. Labor Unrest:
        Labor disputes, strikes, and workforce disruptions can pose threats to Rio Tinto's productivity, operational efficiency, and employee
        relations.
        Issues related to labor negotiations, safety practices, and employee welfare can impact production levels, project timelines, and stakeholder
        trust in
        the mining industry.
        <br><br>
        8. Technological Challenges:
        Technological challenges, including cybersecurity threats, data breaches, and technology failures, can pose threats to Rio Tinto's operational
        resilience, data security, and digital transformation initiatives. Reliance on advanced technologies, automation systems, and digital
        platforms can
        expose the company to technological risks.

        9. Reputation Damage:
        Incidents of environmental harm, community grievances, or ethical misconduct can pose threats to Rio Tinto's reputation, brand image, and
        stakeholder
        trust. Negative publicity, social media backlash, and public scrutiny can damage the company's credibility, investor confidence, and social
        license to
        operate.
        <br><br>
        10. Economic Uncertainty:
        Global economic uncertainty, market volatility, and macroeconomic factors can pose threats to Rio Tinto's financial performance, investment
        decisions,
        and growth prospects. Economic downturns, trade disruptions, and financial instability can impact commodity prices, demand levels, and
        business
        operations in the mining sector.
        <br><br>
        These threats highlight external factors and internal challenges that may impact Rio Tinto's business operations, strategic objectives, and
        long-term
        sustainability in the mining industry. Proactive risk management, scenario planning, and stakeholder engagement can help mitigate these
        threats and
        enhance the company's resilience in a dynamic business environment.
      </p>

    </div>
  </div>

</div>