<ng-container *ngIf="single">
  <!-- Scale rating -->
  <div class="grid grid-cols-1">
    <div class="grid grid-cols-1 gap-2">
      <div class="px-16 py-8 rounded-xl bg-primary text-white">
        <!-- Title -->
        <h5 class="text-xl font-medium">Impact Score:</h5>

        <!-- Rating -->
        <div class="flex justify-between items-center mt-4">
          <span class="text-2xl font-medium">
            4.58

            <!-- Number of starts -->
            <i class="mdi text-secondary mdi-star-circle ms-2"></i>
            <i class="mdi mdi-star-circle text-secondary"></i>
            <i class="mdi mdi-star-circle text-secondary"></i>
            <i class="mdi mdi-star-circle text-secondary"></i>
            <i class="mdi mdi-star-circle text-secondary"></i>
          </span>

          <!-- Appreciation (grade) -->
          <span class="bg-emerald-400 text-white text-md p-2 rounded">Recommended</span>
        </div>

        <!-- Feedback informations -->
        <ul class="list-none mt-4">

          <!-- Number of feedbacks -->
          <li class="flex justify-between items-center">
            <span class="text-slate-400 text-md">Number of survey respondents</span>
            <span class="font-medium text-md">500</span>
          </li>

          <!-- Question answered -->
          <li class="flex justify-between items-center mt-2">
            <span class="text-slate-400 text-md">Questions answered</span>
            <span class="font-medium text-md">72%</span>
          </li>

          <!-- Profile status -->
          <li class="flex justify-between items-center mt-2">
            <span class="text-slate-400 text-md">Profile status</span>
            <span class="font-medium text-md">Unclaimed</span>
          </li>
        </ul>
      </div>

      <div class="col-span-1">
        <p class="text-slate-500 my-4 text-md leading-relaxed">
          {{ single.name }} rating of <span class="font-bold text-primary">{{ single.scale?.rating | number: '1.1-2' }}</span>
          stars from <span class="font-bold text-primary"> 500 reviews</span>, indicating that the Community they serve. For seven years, they’ve
          piloted,
          researched and used technology to pioneer the award-winning farm-for-impact model to prove that this is possible.
        </p>


        <p class="text-primary font-medium underline my-4 text-md leading-relaxed">
          <i class="mdi mdi-account-voice me-1"></i> See impact stories
        </p>
      </div>
    </div>
  </div>

  <!-- Overview Review -->
  <!-- <div class="grid grid-cols-1 mt-5">
    <p class="text-slate-500 mb-4 leading-relaxed">
      {{ single.name }} rating of <span class="font-bold text-primary">{{ single.scale?.rating | number: '1.1-2' }}</span>
      stars from <span class="font-bold text-primary"> 500 reviews</span>, indicating that the Community they serve. For seven years, they’ve piloted,
      researched and used technology to pioneer the award-winning farm-for-impact model to prove that this is possible.
    </p>
  </div> -->

  <!-- Similar organizations  -->
  <app-companies-show-overview-other-organizations></app-companies-show-overview-other-organizations>

</ng-container>