<ng-container *ngIf="single">
  <!-- Scale rating -->
  <div class="grid grid-cols-1">
    <div class="grid  grid-cols-3 mt-6 gap-6">

      <!-- Headline risk -->
      <div class="relative overflow-hidden rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
        <div class="p-5 flex items-center">
          <span class="ms-3">
            <!-- Title -->
            <span class="text-slate-400 font-semibold block">Headline Risk</span>
            <span class="flex items-center justify-between mt-1">
              <span class="text-xl font-semibold">
                <span class="text-secondary">
                  <!-- Rating -->
                  {{ single.scale?.headling_risk | number: '1.1-2'}}
                  <!-- Star Icon -->
                  <i class="mdi mdi-star-check"></i>
                </span> / 5
              </span>
            </span>
          </span>
        </div>

        <!-- View details buttons -->
        <div class="px-5 py-4 bg-gray-50 dark:bg-slate-800">
          <a href=""
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-primary dark:text-white/70 hover:text-primary dark:hover:text-white after:bg-primary dark:after:bg-white duration-500">View
            details <i class="uil uil-arrow-right"></i></a>
        </div>
      </div>

      <!-- Impact Fidelity -->
      <div class="relative overflow-hidden rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
        <div class="p-5 flex items-center">
          <span class="ms-3">
            <!-- Title -->
            <span class="text-slate-400 font-semibold block">Impact Fidelity</span>
            <span class="flex items-center justify-between mt-1">
              <span class="flex items-center justify-between mt-1">
                <span class="text-xl font-semibold">
                  <span class="text-secondary">
                    <!-- Rating -->
                    {{ single.scale?.impact_fidelity | number: '1.1-2' }}
                    <i class="mdi mdi-star-check"></i>
                  </span> / 5
                </span>
              </span>
            </span>
          </span>
        </div>

        <!-- View details buttons -->
        <div class="px-5 py-4 bg-gray-50 dark:bg-slate-800">
          <a href=""
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-primary dark:text-white/70 hover:text-primary dark:hover:text-white after:bg-primary dark:after:bg-white duration-500">View
            details <i class="uil uil-arrow-right"></i></a>
        </div>
      </div>

      <!-- Community Perception -->
      <div class="relative overflow-hidden rounded-md shadow dark:shadow-gray-700 bg-white dark:bg-slate-900">
        <div class="p-5 flex items-center">
          <span class="ms-3">
            <!-- Title -->
            <span class="text-slate-400 font-semibold block">Community Perception</span>
            <span class="flex items-center justify-between mt-1">
              <span class="flex items-center justify-between mt-1">
                <span class="text-xl font-semibold">
                  <span class="text-secondary">
                    {{ single.scale?.community_perception | number: '1.1-2' }}
                    <i class="mdi mdi-star-check"></i></span> / 5
                </span>
              </span>
            </span>
          </span>
        </div>

        <!-- View details buttons -->
        <div class="px-5 py-4 bg-gray-50 dark:bg-slate-800">
          <a href=""
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-primary dark:text-white/70 hover:text-primary dark:hover:text-white after:bg-primary dark:after:bg-white duration-500">View
            details <i class="uil uil-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Overview Review -->
  <div class="grid grid-cols-1 mt-5">
    <p class="text-slate-500 mb-4 leading-relaxed">
      {{ single.name }} rating of <span class="font-bold text-primary">{{ single.scale?.rating | number: '1.1-2' }}</span>
      stars from <span class="font-bold text-primary"> 500 reviews</span>, indicating that the Community they serve. For seven years, they’ve piloted,
      researched and used technology to pioneer the award-winning farm-for-impact model to prove that this is possible.
    </p>
  </div>

  <!-- Similar organizations  -->
  <app-companies-show-overview-similar></app-companies-show-overview-similar>

</ng-container>