<ng-container *ngIf="single">
  <!-- Overview -->
  <div class="overview mb-4">
    <!-- Title -->
    <h2 class="text-primary text-2xl font-semibold mb-5">Overview</h2>

    <!-- Overview -->
    <p class="text-primary  text-md leading-relaxed">
      {{ single.name }} rating of <span class="font-bold text-primary">{{ single.scale?.rating | number: '1.1-2' }}</span>
      stars from <span class="font-bold text-primary"> 500 reviews</span>, indicating that the Community they serve. For seven years, they’ve
      piloted,
      researched and used technology to pioneer the award-winning farm-for-impact model to prove that this is possible.
    </p>
  </div>


  <!-- Impact stories -->
  <div class="impact-stories">
    <!-- Title -->
    <h2 class="text-primary text-2xl font-semibold mt-10 ">Impact to the communities</h2>

    <!-- Number of communites impacted -->
    <p class="text-slate-400">2 communities impacted</p>


    <!-- stories -->
    <div class="grid grid-cols-2 gap-5 mt-3">
      <!-- Story -->
      <div class="max-w-sm bg-transparent border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <!-- Image header -->
        <div class="h-[278px] rounded-t-lg bg-[url('assets/images/hero1.png')] bg-cover flex items-end px-2 pb-5">
          <h2 class="text-white text-2xl font-bold">Tarkwa Breman Center of Excellence</h2>
        </div>

        <!-- Impact information  -->
        <div class="px-5 py-3">
          <!-- Link and number of impacted -->
          <div class="flex flex-col gap-1 py-2 border-b">
            <!-- Impact Link -->
            <div class="flex">
              <span class="font-semibold text-primary me-4">Impact link:</span>
              <span class="text-secondary-dark">https://www.link.com</span>
            </div>

            <!-- Number of impacted -->
            <div class="flex">
              <span class="font-semibold text-primary me-4">Impact within community:</span>
              <span class="text-secondary-dark">900 people</span>
            </div>
          </div>

          <!-- The impact Provided -->
          <div class="mt-4">
            <!-- Title -->
            <h2 class=" text-primary font-bold">The impact they provided: </h2>

            <!-- Description -->
            <p class="text-primary text-md">To date, the organization has established the Tarkwa Breman Center of Excellence – a campus that includes
              a
              girls’
              school, medical clinic, and cocoa
              farm – as a model to guide partner communities when investing cocoa revenue in education and healthcare improvements. </p>
          </div>
        </div>
      </div>

      <!-- Story -->
      <div class="max-w-sm bg-transparent border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <!-- Image header -->
        <div class="h-[278px] rounded-t-lg bg-[url('assets/images/hero1.png')] bg-cover flex items-end px-2 pb-5">
          <h2 class="text-white text-2xl font-bold">Tarkwa Breman Center of Excellence</h2>
        </div>

        <!-- Impact information  -->
        <div class="px-5 py-3">
          <!-- Link and number of impacted -->
          <div class="flex flex-col gap-1 py-2 border-b">
            <!-- Impact Link -->
            <div class="flex">
              <span class="font-semibold text-primary me-4">Impact link:</span>
              <span class="text-secondary-dark">https://www.link.com</span>
            </div>

            <!-- Number of impacted -->
            <div class="flex">
              <span class="font-semibold text-primary me-4">Impact within community:</span>
              <span class="text-secondary-dark">900 people</span>
            </div>
          </div>

          <!-- The impact Provided -->
          <div class="mt-4">
            <!-- Title -->
            <h2 class=" text-primary font-bold">The impact they provided: </h2>

            <!-- Description -->
            <p class="text-primary text-md">To date, the organization has established the Tarkwa Breman Center of Excellence – a campus that includes
              a
              girls’
              school, medical clinic, and cocoa
              farm – as a model to guide partner communities when investing cocoa revenue in education and healthcare improvements. </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <button data-modal-target="static-modal" data-modal-toggle="static-modal"
          class="text-primary font-medium underline my-4 text-md leading-relaxed">
    <i class="mdi mdi-account-voice me-1"></i> See impact stories
  </button> -->



</ng-container>

<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-3xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

      <!-- Modal body -->
      <div class="space-y-6">
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe
                  src="https://player.vimeo.com/video/869052534?h=dccc2e43c6&title=0&byline=0&portrait=0"
                  style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>

    </div>
  </div>
</div>