<div class="grid  grid-cols-1 shadow-md   rounded-lg p-0" id="reserve-form">
  <form [formGroup]="form" (submit)="search()">
    <div class="registration-form relative items-center rounded text-dark text-start">
      <div
           class="grid grid-cols-3 lg:gap-0 h-[76px]  divide-x-[2px] divide-primary lg:dark:divide-gray-700">

        <!-- Keyword -->
        <div class="filter-search-form relative   px-8 py-2.5 bg-gray-50">
          <!-- Heading Icon -->
          <i
             class="mdi mdi-briefcase-variant text-2xl absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary "></i>

          <!-- Keyword -->
          <div
               class="h-full flex items-center px-5 ">
            <!-- Autocompletion -->
            <ng-autocomplete
                             [data]="companyNames"
                             [isLoading]="loading"
                             [searchKeyword]="'name'"
                             formControlName="keyword"
                             placeholder="Company"
                             (inputChanged)="getCompanyNames($event)"
                             historyIdentifier="company"
                             [itemTemplate]="itemTemplate"
                             [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>


            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <a routerLink="/community-voice" class="text-primary text-lg   font-normal">Didn't find the company
                you want? <span class="underline decoration-primary">Click Here</span> </a>
            </ng-template>
          </div>
        </div>

        <!-- Country -->
        <div class="filter-search-form relative">
          <i
             class="mdi mdi-map-marker text-2xl absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary"></i>
          <select2 [data]="countries" (update)="onCountrySelected($event)" [placeholder]="'Country'"
                   [displaySearchStatus]="'always'">
          </select2>

        </div>

        <!-- Submit -->
        <button type="submit" id="search" name="search"
                class="lightbox py-1.5 ps-5 text-xl  pe-2 inline-block  tracking-wide rounded-md align-middle duration-500 font-semi text-center bg-secondary hover:bg-secondary-lighter hover:border-secondary-lighter text-primary h-full w-full">
          <i class="uil uil-search me-2 text-xl"></i> Search</button>
      </div><!--end grid-->
    </div><!--end container-->
  </form>
</div>