:host ::ng-deep {
  .autocomplete-container {
    box-shadow: none !important;
  }
  .input-container input {
    background-color: inherit !important;
    padding: 0 !important;
    // font-size: 16px !important;
  }

  .select2-container {
    @apply form-input h-full   items-center lg:rounded-t-sm lg:rounded-e-none lg:rounded-b-none lg:rounded-s-sm lg:outline-0 w-full  bg-gray-50 dark:bg-slate-800 border-0 focus:ring-0;

    display: flex !important;
    font-size: 14px !important;
  }

  .selection {
    @apply w-full;
  }

  .select2-selection {
    border: none !important;
    background: none !important;
  }

  .select2-selection__rendered {
    padding-inline-start: 2.5rem !important;
  }

  .select2-dropdown {
    top: 75% !important;
  }
}
