<section
         class="relative table w-full py-36 lg:py-44 bg-gradient-to-br from-slate-200 via-secondary/30 to-primary/40 dark:from-indigo-600/20  dark:to-yellow-500/20">
  <div class="container relative">
    <div class="grid grid-cols-1 mt-10">
      <!-- <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold"> The Community Intelligence<br> Platform For
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
          <span class="typewrite text-white relative" data-period="2000"
                data-type="[ &quot;Organisation&quot;, &quot;NGOs&quot;, &quot;Governments&quot;, &quot;Startups&quot;, &quot;Businesses&quot;]"><span
                  class="wrap">Classic Saa</span></span></span>
      </h4> -->
      <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold"> Find
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-secondary relative inline-block">
          <span class="typewrite text-white relative" data-period="2000"
            data-type="[ &quot;Organizations&quot;, &quot;NGOs&quot;, &quot;Governments&quot;, &quot;Startups&quot;, &quot;Businesses&quot;]"></span></span>
      <br> <h4 class="lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 font-bold"> Communities Trust! </h4>
            <!-- <span class="wrap"> Classic Saa</span> -->
      </h4>

      <p class="text-slate-400 text-lg max-w-xl">Verify the impact of social programs, track their reputation & impact, and proactively
        minimize headline risks.</p>

      <div class="grid lg:grid-cols-12 grid-cols-1" id="reserve-form">
        <div class="lg:col-span-10 mt-8">
          <div class="bg-white dark:bg-slate-900 border-0 shadow rounded p-3">
            <form action="#">
              <div class="registration-form relative text-dark text-start">
                <div
                     class="grid lg:grid-cols-3 md:grid-cols-3grid-cols-1 lg:gap-0 gap-6 lg:divide-x-[1px] lg:divide-gray-200 lg:dark:divide-gray-700">
                  <div class="filter-search-form relative">
                    <i
                       class="uil uil-briefcase-alt absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary text-[20px]"></i>
                    <input name="name" type="text" id="job-keyword"
                           class="form-input lg:rounded-t-sm lg:rounded-e-none lg:rounded-b-none lg:rounded-s-sm lg:outline-0 w-full filter-input-box bg-gray-50 dark:bg-slate-800 border-0 focus:ring-0"
                           placeholder="Category/Company">
                  </div>

                  <div class="filter-search-form relative">
                    <i
                       class="uil uil-map-marker absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary text-[20px]"></i>
                    <div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list"
                         aria-haspopup="true"
                         aria-expanded="false">
                      <div class="choices__inner"><select class="form-select choices__input" data-trigger=""
                                name="choices-location"
                                id="choices-location" aria-label="Default select example" hidden="" tabindex="-1"
                                data-choice="active">
                          <option value="AF" data-custom-properties="[object Object]">Ghana</option>
                        </select>
                        <div class="choices__list choices__list--single">
                          <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="AF"
                               data-custom-properties="[object Object]" aria-selected="true">Ghana</div>
                        </div>
                      </div>
                      <div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search"
                               name="search_terms"
                               class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off"
                               spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null"
                               placeholder="">
                        <div class="choices__list" role="listbox">
                          <div id="choices--choices-location-item-choice-1"
                               class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted"
                               role="option" data-choice="" data-id="1" data-value="AF"
                               data-select-text="Press to select"
                               data-choice-selectable="" aria-selected="true">Afghanistan</div>
                          <div id="choices--choices-location-item-choice-2"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="2" data-value="AZ" data-select-text="Press to select" data-choice-selectable="">
                            Nigeria
                          </div>
                          <div id="choices--choices-location-item-choice-3"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="3" data-value="BS" data-select-text="Press to select" data-choice-selectable="">
                            Togo
                          </div>
                          <div id="choices--choices-location-item-choice-4"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="4" data-value="BH" data-select-text="Press to select" data-choice-selectable="">
                            Bahrain
                          </div>
                          <div id="choices--choices-location-item-choice-5"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="5" data-value="CA" data-select-text="Press to select" data-choice-selectable="">
                            Canada</div>
                          <div id="choices--choices-location-item-choice-6"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="6" data-value="CV" data-select-text="Press to select" data-choice-selectable="">
                            Cape
                            Verde
                          </div>
                          <div id="choices--choices-location-item-choice-7"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="7" data-value="DK" data-select-text="Press to select" data-choice-selectable="">
                            Denmark
                          </div>
                          <div id="choices--choices-location-item-choice-8"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="8" data-value="DJ" data-select-text="Press to select" data-choice-selectable="">
                            Djibouti
                          </div>
                          <div id="choices--choices-location-item-choice-9"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="9" data-value="ER" data-select-text="Press to select" data-choice-selectable="">
                            Eritrea
                          </div>
                          <div id="choices--choices-location-item-choice-10"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="10" data-value="EE" data-select-text="Press to select"
                               data-choice-selectable="">
                            Estonia
                          </div>
                          <div id="choices--choices-location-item-choice-11"
                               class="choices__item choices__item--choice choices__item--selectable" role="option"
                               data-choice=""
                               data-id="11" data-value="GM" data-select-text="Press to select"
                               data-choice-selectable="">
                            Gambia
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <input type="submit" id="search" name="search" style="height: 60px;"
                         class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white searchbtn lg:rounded-t-none lg:rounded-e-sm lg:rounded-b-sm lg:rounded-s-none rounded-lg w-100"
                         value="Search">
                </div><!--end grid-->
              </div><!--end container-->
            </form>
          </div>
        </div><!--ed col-->
      </div><!--end grid-->

      <div class="mt-6">
        <span class="text-slate-400"><span class="text-dark">Popular:</span> Health Facilities in
          Ghana</span>
      </div>
    </div>
  </div><!--end container-->
</section>
