<div class="grid grid-cols-1 col-span-1 h-fit sticky top-0" *ngIf="scaleService.score">
  <div class="p-8 rounded-xl bg-primary text-white">
    <!-- Title -->
    <h5 class="text-xl text-center mb-2 font-semibold">Community Trust Score</h5>

    <p class="text-slate-200 mb-3 text-center">Overall organization rating:</p>

    <!-- Rating -->
    <div class="flex justify-between text-cnter flex-col items-center  mb-6 ">
      <div class="text-2xl font-medium ms-2">
        <!-- Number of starts -->
        <!-- Full stars -->
        <i class="mdi mdi-star text-yellow-200"
           *ngFor="let i of [].constructor(scaleService.getNumberOfStars(communityTrustScore?.rating!).numberOfStars)"></i>

        <!-- half stars -->
        <i class="mdi mdi-star-half-full text-yellow-200"
           *ngFor="let i of [].constructor(scaleService.getNumberOfStars(communityTrustScore?.rating!).numberOfHalfStars)"></i>

        <!-- Empty stars -->
        <i class="mdi mdi-star text-slate-300/20 "
           *ngFor="let i of [].constructor(scaleService.getNumberOfStars(communityTrustScore?.rating!).numberOfEmptyStars)"></i>

      </div>



      <div class="text-xl font-bold ">{{ scaleService.score.community_trust_score }}%</div>

    </div>

    <!-- Feedback informations -->
    <ul class="list-none mt-2 gap-4 grid grid-cols-1">

      <!-- Social Impact fidelity -->
      <li class=" ">
        <div class="text-slate-100 text-md mb-1">Social Impact Fidelity</div>
        <div class="w-full bg-slate-300/20 rounded-full h-3 ">
          <div class="bg-green-600 h-3 rounded-full"
               [style]="{width: scaleService.getProgressBarWidth(scaleService.score.impact_fidelity_score!)}">
          </div>
        </div>
      </li>

      <!-- Community Perception -->
      <li class=" ">
        <div class="text-slate-100 text-md mb-1">Community Reputation</div>
        <div class="w-full bg-slate-300/20 rounded-full h-3 ">
          <div class="bg-green-600 h-3 rounded-full"
               [style]="{width: scaleService.getProgressBarWidth(scaleService.score.community_perception_score!)}"></div>
        </div>
      </li>


      <!-- Facilitation Strategy -->
      <li class=" ">
        <div class="text-slate-100 text-md mb-1">Facilitation Strategy</div>
        <div class="w-full bg-slate-300/20 rounded-full h-3 ">
          <div class="bg-green-600 h-3 rounded-full"
               [style]="{width: scaleService.getProgressBarWidth(scaleService.score.facilitation_strategy_score!)}"></div>
        </div>
      </li>


      <!-- Profile status -->
      <li class="flex justify-between items-center ">
        <span class="text-slate-100 text-md">Profile status</span>

        <!-- Claimed badge -->
        <span class="bg-slate-50 px-5 rounded-full py-1 text-center text-primary"
              *ngIf="organizationService.singleData?.profile_status_organization_id === 2">
          Claimed
          <i class="mdi mdi-check-decagram   ms-2"></i>
        </span>

        <!-- Unclaimed badge -->
        <span class="bg-slate-50 px-5 rounded-full py-1 text-center text-primary"
              *ngIf="organizationService.singleData?.profile_status_organization_id === 1">
          Unclaimed

        </span>
      </li>

      <!-- Take a survey -->
      <li class="flex justify-between items-center mt-5 ">
        <a [routerLink]="['/community-voice']"
           class="py-3 rounded-full bg-secondary hover:bg-primary-lighter text-lg font-semibold  border-primary w-full text-center text-primary">
          Take a survey
        </a>
      </li>


      <li class="italic text-slate-300 text-xs" *ngIf="organization!.id === 24">
        *This is an aggregation of all the community trust scores of the porfolio organizations.
      </li>

    </ul>
  </div>
</div>