<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

    <!-- Logo -->
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="h-16 mr-2" src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/p68a33iz9vzhxtwmr9xz"
           alt="logo">
    </a>


    <!-- Form -->
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <div>
          <!-- Title -->
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Verify your account
          </h1>
          <div class="mt-2 text-gray-600  text-sm">A verification code has been sent to your email</div>
        </div>


        <form class="space-y-4 md:space-y-6" [formGroup]="form" (submit)="verify()">

          <!-- Email -->
          <div>
            <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Verification Code</label>
            <input type="number" name="code" id="code"
                   formControlName="otp"
                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="******" required="">
          </div>



          <!-- Submit -->
          <button type="submit"
                  [disabled]="form.invalid || loading"
                  class="w-full text-primary border-primary border bg-secondary hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Verify</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Did'nt find the code?

            <button type="button" (click)="resendOtp()" [disabled]="!allowCodeResend"
                    class="font-medium text-primary disabled:text-slate-600 disabled:cursor-not-allowed  dark:text-primary-500 ms-3">Resend
              verfication code

              <span *ngIf="!allowCodeResend">
                (
                <countdown
                           [config]="{ leftTime: 30, format: 'ss', demand: true }"
                           (event)="allowCodeResend = true" #cd />

                )
              </span>
            </button>

          </p>
        </form>
      </div>
    </div>
  </div>
</section>