<div class="flex flex-col items-center p-10">
    <h2 class="text-2xl font-bold py-5">
        Create Communities
    </h2>
    <div class="min-w-[600px]">
        <div>
            <label class="">
                Select Community location
            </label>
            <div class="py-4">
                <input ngx-gp-autocomplete [options]='options'
                       (onAddressChange)="handleAddressChange($event)"
                       class="border w-full p-1.5 outline-none focus:outline-none focus:border-blue-5 focus:ring-1" />

                <div class="p-6 mt-9 bg-[#E6E8ED] text-center">
                    {{formattedaddress}}
                </div>

            </div>
        </div>
    </div>
</div>