<div class="flex flex-col items-center p-10">
    <h2 class="text-2xl font-bold py-5">
        Setup Your Survey
    </h2>
    <form [formGroup]="form" class="min-w-[600px] w-[80%]">
        <label class="font-semibold">
            Select one or more type of insights
        </label>
        <div class="flex justify-between gap-5 my-2" *ngIf="dependancies['typeInsights'].length">

            <div class="w-[30%] border border-gray p-3 cursor-pointer bg-white"
                 [ngClass]="{ 'border-primary': isTypeInsightSelected(typeInsight.id) }" *ngFor="let typeInsight of dependancies['typeInsights']"
                 (click)="toggleTypeInsightSelection(typeInsight)">
                <div>
                    <input type="checkbox" class="ring-0" name="typeInsight" [checked]="isTypeInsightSelected(typeInsight.id)"> <label
                           class="inline-block px-3 font-bold"> <span><i class="mdi mdi-lightbulb-on-10"></i></span> {{ typeInsight.name }}</label>
                    <div>
                        <p class="pl-6 py-1 text-sm text-gray">
                            {{ typeInsight.description }}
                        </p>
                    </div>
                </div>
            </div>



        </div>

        <!-- Survey name and link -->
        <div class="mt-14 grid grid-cols-2 w-full gap-5" *ngIf="isTypeInsightSelected(ImpactVerificationTypeInsightsEnum.CUSTOM_INSIGHTS)">
            <div>
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What title would you give to your
                    survey?</label>
                <input type="text" name="initiative-name" id="initiative-name" formControlName="surveyName"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       placeholder="" required>
            </div>

            <div>
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Do you have a link to your survey?
                    (optional)</label>
                <input type="url" name="initiative-name" id="initiative-name" formControlName="surveyLink"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       placeholder="" required>
            </div>
        </div>

        <div class="mt-14">
            <label class="font-semibold">
                Select Community location
            </label>
            <div class="py-4">
                <input ngx-gp-autocomplete [options]='options'
                       formControlName="location_placeholder"
                       (onAddressChange)="handleAddressChange($event)"
                       class="border w-full p-1.5 outline-none focus:outline-none focus:border-blue-5 focus:ring-1" />

                <div class="p-6 mt-9 bg-[#E6E8ED] text-center">
                    {{ form.value.location }}
                </div>

            </div>
        </div>
    </form>
</div>