<div class="p-6 relative bg-slate-50 rounded-md shadow dark:shadow-gray-700  dark:bg-slate-900" [ngClass]="{'p-6': !surveyFormService.singleData}">

  <div class="flex justify-between" *ngIf="!surveyFormService.singleData">
    <h3 class="text-xl font-semibold text-primary  ">Surveys</h3>

    <button (click)="showSurveyFormCreateModal = true" type="button"
            class="focus:outline-none border border-primary text-primary bg-secondary hover:bg-secondary-dark focus:ring-4 focus:ring-purple-300  rounded-lg text-sm px-5 py-2.5 font-bold mb-2 ">
      <span><i class="mdi mdi-plus"></i></span> Add new survey
    </button>
  </div>

  <!-- component -->
  <router-outlet></router-outlet>


</div>



<p-dialog header="Create a survey form" [(visible)]="showSurveyFormCreateModal" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false"
          [resizable]="false">
  <app-organization-survey-create
                                  (created)="showSurveyFormCreateModal = false"></app-organization-survey-create>
</p-dialog>