<section class="relative md:py-24 py-16">
  <!-- Header -->
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 pb-8 items-end">
      <div class="lg:col-span-8 md:col-span-6 md:text-start text-center">
        <!-- Title -->
        <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Search by Categories</h3>
        <!-- Subtitles -->
        <p class="text-slate-400 max-w-xl">Search organizations by categories</p>
      </div>

      <!-- All categories -->
      <div class="lg:col-span-4 md:col-span-6 md:text-end hidden md:block">
        <a href=""
           class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-slate-400 hover:text-primary after:bg-indigo-600 duration-500 ease-in-out">All
          Categories <i class="uil uil-arrow-right align-middle"></i></a>
      </div>
    </div>
  </div>

  <!-- Category list -->
  <div class="container relative">
    <div class="grid grid-cols-1 relative">
      <div class="tns-outer" id="tns2-ow">

        <!-- Control buttons -->
        <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
          <!-- Previous button   -->
          <button type="button" data-controls="prev" tabindex="-1"
                  aria-controls="tns2">
            <i class="mdi mdi-chevron-left "></i>
          </button>

          <!-- Next button -->
          <button type="button" data-controls="next"
                  tabindex="-1" aria-controls="tns2">
            <i class="mdi mdi-chevron-right"></i>
          </button>
        </div>

        <!-- Hidden information -->
        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">2 to 6</span> of
          6
        </div>

        <!-- Slider -->
        <div id="tns2-mw" class="tns-ovh">
          <div class="tns-inner" id="tns2-iw">
            <div class="tiny-five-item  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns2"
                 style="transform: translate3d(-16.6667%, 0px, 0px);">

              <div class="tiny-slide tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-gitlab"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Business <br>
                      Development</a>
                    <p class="text-slate-400 mt-3">74 Jobs</p>
                  </div>
                </div>
              </div>

              <div class="tiny-slide tns-item tns-slide-active" id="tns2-item1">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-book-open"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Marketing &amp; <br>
                      Communication</a>
                    <p class="text-slate-400 mt-3">20 Jobs</p>
                  </div>
                </div>
              </div>

              <div class="tiny-slide tns-item tns-slide-active" id="tns2-item2">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-chart-pie-alt"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Project <br>
                      Management</a>
                    <p class="text-slate-400 mt-3">35 Jobs</p>
                  </div>
                </div>
              </div>

              <div class="tiny-slide tns-item tns-slide-active" id="tns2-item3">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-feedback"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Customer <br>
                      Service</a>
                    <p class="text-slate-400 mt-3">46 Jobs</p>
                  </div>
                </div>
              </div>

              <div class="tiny-slide tns-item tns-slide-active" id="tns2-item4">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-presentation-line"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Software <br>
                      Engineering</a>
                    <p class="text-slate-400 mt-3">60 Jobs</p>
                  </div>
                </div>
              </div>

              <div class="tiny-slide tns-item tns-slide-active" id="tns2-item5">
                <div
                     class="px-3 py-10 rounded-md shadow dark:shadow-gray-800 group text-center bg-white dark:bg-slate-900 hover:bg-indigo-600/5 dark:hover:bg-indigo-600/5 duration-500 m-2">
                  <div
                       class="w-[84px] h-[84px] bg-indigo-600/5 group-hover:bg-indigo-600 text-primary group-hover:text-white rounded-full text-3xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 duration-500 mx-auto">
                    <i class="uil uil-fire"></i>
                  </div>

                  <div class="content mt-6">
                    <a [routerLink]="['companies']" class="title h5 text-lg font-medium hover:text-primary">Human <br>
                      Resources</a>
                    <p class="text-slate-400 mt-3">05 Jobs</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>