<!-- Start Hero -->
<section class="relative table w-full md:py-44 py-36 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="md:col-span-7">
        <div class="md:me-6">
          <div
               class="bg-white dark:bg-slate-900 text-slate-400 py-2 px-4 inline-flex items-center font-medium rounded-full shadow dark:shadow-gray-800">
            <span class="bg-primary text-white text-[12px] font-bold px-2.5 py-0 rounded-full me-2">Mundaly</span> Headline risk
          </div>
          <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 mt-4">Navigate Headline <br> Risk Efficiently
          </h4>
          <p class="text-slate-400 text-lg max-w-xl">Embrace the future of risk assessment with our advanced solution. Gain real-time insights to make
            informed decisions confidently. Take control of
            headline risk today.</p>

          <div class="mt-6">
            <a href=""
               class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-primary hover:border-indigo-700 text-white rounded-md me-2 mt-2">Request
              a demo</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="md:col-span-5">
        <div class="relative">
          <img src="assets/images/for-business/headline-risk/headline-risk-hero.jpg" style="height: 515px; width: 442px; object-fit: cover;"
               class="rounded-lg shadow-md dark:shadow-gray-800" alt="">
          <!-- <div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
            <a href="#!" data-type="youtube" data-id="S_CGed6E610"
               class="lightbox h-20 w-20 rounded-full shadow-lg dark:shadow-gray-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-primary dark:text-white">
              <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
            </a>
          </div> -->
        </div>
      </div><!--end col-->
    </div><!--end grid-->
  </div><!--end container -->
</section><!--end section-->
<!-- End Hero -->

<section class="relative overflow-hidden md:pt-24 pt-16">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="lg:col-span-5 md:col-span-6">
        <div class="grid grid-cols-12 gap-6 items-center relative">
          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6">
              <img src="assets/images/for-business/headline-risk/headline-risk-desc-1.jpg" style="width: 210px; height: 272px; object-fit: cover;"
                   class="shadow rounded-md" alt="">
              <img src="assets/images/for-business/headline-risk/headline-risk-desc-2.jpg" style="width: 210px; height: 272px; object-fit: cover;"
                   class="shadow rounded-md" alt="">
            </div>
          </div>

          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6">
              <img src="assets/images/for-business/headline-risk/headline-risk-desc-3.jpg" style="width: 210px; height: 272px; object-fit: cover;"
                   class="shadow rounded-md" alt="">
            </div>
          </div>
          <div
               class="overflow-hidden after:content-[''] after:absolute after:h-[512px] after:w-[512px] after:bg-primary/5 after:top-0 after:-end-5 after:-z-1 after:rounded-full">
          </div>
        </div>
      </div>

      <div class="lg:col-span-7 md:col-span-6">
        <div class="lg:ms-5">
          <h3 class="mb-6 md:text-4xl md:leading-normal text-3xl leading-normal font-semibold">Invest in Your Peace<br> of Mind</h3>

          <p class="text-slate-400 max-w-xl">In today's fast-paced world, headline risk can have a profound impact on your decisions and investments.
            Mundaly is your essential tool for
            staying ahead of the curve. With real-time insights and powerful analytics, it empowers you to make informed choices and navigate the
            ever-changing
            landscape of news and media. Don't leave your success to chance – invest in Mundaly today and take control of your future..</p>

          <!-- <div class="mt-6">
            <a href=""
               class="relative inline-block tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 font-semibold text-primary after:bg-primary duration-500 ease-in-out">Learn
              more <i class="uil uil-arrow-right"></i></a>
          </div> -->
        </div>
      </div>
    </div><!--end grid-->
  </div><!--end container-->

  <div class="container relative md:mt-24 mt-16 mb-12">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
      <div class="relative order-1 md:order-2">
        <img src="assets/images/saas/classic03.png" class="rounded-lg shadow-md dark:shadow-gray-800" alt="">
      </div>

      <div class="lg:me-8 order-2 md:order-1">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Explore Mundaly in Action</h4>
        <p class="text-slate-400">Get an inside look at the power and simplicity of Mundaly with our interactive showcase. We've curated a
          selection of screenshots to give you a
          visual tour of the features and capabilities that make Mundaly the ultimate solution for headline risk assessment. See how our
          user-friendly
          interface provides real-time data and analytics at your fingertips, allowing you to stay informed and make informed decisions. Explore the
          intuitive
          design and functionality that have already helped countless users master headline risk</p>


        <!-- <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="container relative md:py-24 py-16 bg-slate-100">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Get Hands-On with Mundaly</h3>

      <p class="text-slate-400 max-w-xl mx-auto">Experience the power of Mundaly with a demo. Request yours now to make better decisions with
        confidence.</p>

      <div class="mt-6">
        <a href="contact-one.html"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-primary hover:border-indigo-700 text-white rounded-md">
          Request a demo</a>
      </div>
    </div><!--end grid-->
  </div>
</section>