<div class="grid grid-cols-1">
  <p class="text-slate-400 dark:text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima eos ipsam id
    soluta voluptas recusandae ullam modi, nobis error repellendus repudiandae dolores provident sequi aut ea dolorum
    temporibus quisquam expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio unde magnam omnis ducimus
    impedit iure incidunt excepturi sed eum, dolorum, culpa quia nam aliquam. Dolor totam quis placeat error omnis!
    temporibus quisquam expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio unde magnam omnis ducimus
    impedit iure incidunt excepturi sed eum, dolorum, culpa quia nam aliquam. Dolor totam quis placeat error omnis
  </p>
</div>