<!-- Start Hero -->
<section class="relative table w-full md:py-44 py-36 bg-gray-50 dark:bg-slate-800">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center mt-10 gap-[30px]">
      <div class="md:col-span-7">
        <div class="md:me-6">
          <div
               class="bg-white dark:bg-slate-900 text-slate-400 py-2 px-4 inline-flex items-center font-medium rounded-full shadow dark:shadow-gray-800">
            <span class="bg-community-perception text-white text-[12px] font-bold px-2.5 py-0 rounded-full me-2">Mundaly</span> Community Perception
          </div>
          <h4 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-5 mt-4">Understanding Community Perception
          </h4>
          <p class="text-slate-400 text-lg max-w-xl">Welcome to the next level of understanding community perception. Our innovative [Community
            Perception Tool] is designed to provide you with real-time
            insights and comprehensive analytics, enabling you to assess how the community perceives a organization like never before. Say goodbye to
            uncertainty and
            hello to data-driven decision-making. Discover the power of Mundaly and revolutionize the way you evaluate community
            sentiment.</p>

          <div class="mt-6">
            <a href=""
               class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-community-perception hover:bg-indigo-700 border-cobg-community-perception hover:border-indigo-700 text-white rounded-md me-2 mt-2">Request
              a demo</a>
          </div>
        </div>
      </div><!--end col-->

      <div class="md:col-span-5">
        <div class="relative">
          <img src="assets/images/for-business/community-perception/community-perception-desc-1.jpg" class="rounded-lg shadow-md dark:shadow-gray-800"
               style="object-fit: cover; width: 442px; height: 515px;" alt="">

        </div>
      </div><!--end col-->
    </div><!--end grid-->
  </div><!--end container -->
</section><!--end section-->
<!-- End Hero -->

<section class="relative overflow-hidden md:pt-24 pt-16">
  <div class="container relative">
    <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px]">
      <div class="lg:col-span-5 md:col-span-6">
        <div class="grid grid-cols-12 gap-6 items-center relative">
          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6">
              <img src="assets/images/for-business/community-perception/community-perception-hero.jpg"
                   style="object-fit: cover; width: 210px; height: 272px;" class="shadow rounded-md" alt="">
              <img src="assets/images/for-business/community-perception/community-perception-desc-2.jpg"
                   style="object-fit: cover; width: 210px; height: 272px;" class="shadow rounded-md" alt="">
            </div>
          </div>

          <div class="col-span-6">
            <div class="grid grid-cols-1 gap-6">
              <img src="assets/images/for-business/community-perception/community-perception-desc-3.jpg"
                   style="object-fit: cover; width: 210px; height: 272px;" class="shadow rounded-md" alt="">
            </div>
          </div>
          <div
               class="overflow-hidden after:content-[''] after:absolute after:h-[512px] after:w-[512px] after:bg-community-perception/20 after:top-0 after:-end-5 after:-z-1 after:rounded-full">
          </div>
        </div>
      </div>

      <div class="lg:col-span-7 md:col-span-6">
        <div class="lg:ms-5">
          <h3 class="mb-6 md:text-4xl md:leading-normal text-3xl leading-normal font-semibold">Why Assess Community Perception?</h3>

          <p class="text-slate-400 max-w-xl">In today's interconnected world, a organization's reputation and community perception are invaluable.
            Mundaly empowers you to gauge
            public sentiment, distinguish favorable perceptions from negative ones, and make informed decisions. By assessing community perception,
            you can
            safeguard your brand's reputation, adapt to changing perceptions, and ensure that you're aligned with community sentiment and values</p>

        </div>
      </div>
    </div><!--end grid-->
  </div><!--end container-->

  <div class="container relative md:mt-24 mt-16 mb-12">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-[30px]">
      <div class="relative order-1 md:order-2">
        <img src="assets/images/saas/classic03.png" class="rounded-lg shadow-md dark:shadow-gray-800" alt="">
      </div>

      <div class="lg:me-8 order-2 md:order-1">
        <h4 class="mb-4 text-2xl leading-normal font-medium">Explore Mundaly in Action</h4>
        <p class="text-slate-400">Take a visual tour of Mundaly with our interactive showcase. We've curated screenshots to
          provide a glimpse of the features and
          functionalities that make our tool the ultimate solution for assessing community perception. Witness how our user-friendly interface offers
          real-time
          data and in-depth analytics, allowing you to stay attuned to community sentiment. Explore the intuitive design and see how [Community
          Perception Tool]
          can enhance your perception assessment process.</p>


      </div>
    </div>
  </div>

  <div class="container relative md:py-24 py-16 bg-slate-100">
    <div class="grid grid-cols-1 text-center">
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Experience Mundaly for Yourself</h3>

      <p class="text-slate-400 max-w-xl mx-auto">Ready to experience the benefits of Mundaly? Request a demo now, and our team
        will guide you through the tool's capabilities.</p>

      <div class="mt-6">
        <a href="contact-one.html"
           class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-community-perception hover:bg-indigo-700 border-cobg-community-perception hover:border-indigo-700 text-white rounded-md">Request
          a demo</a>
      </div>
    </div><!--end grid-->
  </div>
</section>