<div class="container relative">
  <div class="grid grid-cols-1 justify-center">
    <div class="relative -mt-32">
      <div class="grid grid-cols-1">
        <div class="p-6 bg-white dark:bg-slate-900 rounded-md shadow-md dark:shadow-gray-800">
          <form action="#">
            <div class="registration-form relative text-dark text-start">
              <div
                   class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6  lg:divide-gray-200 lg:dark:divide-gray-700 ">

                <!-- By keywords -->
                <div class="filter-search-form relative border">
                  <i
                     class="uil uil-briefcase-alt absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary text-[20px]"></i>
                  <!-- <input name="name" type="text" id="job-keyword"
                                     class="form-input lg:rounded-t-sm lg:rounded-e-none lg:rounded-b-none lg:rounded-s-sm lg:outline-0 w-full filter-input-box bg-gray-50 dark:bg-slate-800 border-0 focus:ring-0"
                                     placeholder="Category or Company"> -->
                  <div
                       class="form-input lg:rounded-t-sm lg:rounded-e-none lg:rounded-b-none lg:rounded-s-sm lg:outline-0 w-full filter-input-box bg-gray-50 dark:bg-slate-800 border-0 focus:ring-0">
                    <ng-autocomplete
                                     [data]="data"
                                     [isLoading]="loading"
                                     name="name"
                                     [searchKeyword]="keyword"
                                     [(ngModel)]="name"
                                     (selected)="onSelected($event)"
                                     placeholder="Company"
                                     (inputChanged)="getCompanyNames($event)"
                                     historyIdentifier="company"
                                     [itemTemplate]="itemTemplate"
                                     [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>

                <!-- By Country -->
                <div class="filter-search-form relative border">
                  <i
                     class="uil uil-map-marker absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary text-[20px]"></i>
                  <select2 [data]="dataCountries" (update)="update($event)" [placeholder]="'Country'"
                           [displaySearchStatus]="'always'">
                  </select2>
                  <!-- <div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                <div class="choices__inner"><select class="form-select choices__input" data-trigger=""
                                          name="choices-location"
                                          id="choices-location" aria-label="Default select example" hidden="" tabindex="-1"
                                          data-choice="active">
                                    <option value="AF" data-custom-properties="[object Object]">Ghana</option>
                                  </select>
                                  <div class="choices__list choices__list--single">
                                    <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="AF"
                                         data-custom-properties="[object Object]" aria-selected="true">Ghana</div>
                                  </div>
                                </div>
                                <div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search"
                                         name="search_terms"
                                         class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off"
                                         spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null"
                                         placeholder="">
                                  <div class="choices__list" role="listbox">
                                    <div id="choices--choices-location-item-choice-1"
                                         class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted"
                                         role="option" data-choice="" data-id="1" data-value="AF"
                                         data-select-text="Press to select"
                                         data-choice-selectable="" aria-selected="true">Afghanistan</div>
                                    <div id="choices--choices-location-item-choice-2"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="2" data-value="AZ" data-select-text="Press to select" data-choice-selectable="">
                                      Nigeria
                                    </div>
                                    <div id="choices--choices-location-item-choice-3"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="3" data-value="BS" data-select-text="Press to select" data-choice-selectable="">
                                      Togo
                                    </div>
                                    <div id="choices--choices-location-item-choice-4"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="4" data-value="BH" data-select-text="Press to select" data-choice-selectable="">
                                      Bahrain
                                    </div>
                                    <div id="choices--choices-location-item-choice-5"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="5" data-value="CA" data-select-text="Press to select" data-choice-selectable="">
                                      Canada</div>
                                    <div id="choices--choices-location-item-choice-6"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="6" data-value="CV" data-select-text="Press to select" data-choice-selectable="">
                                      Cape
                                      Verde
                                    </div>
                                    <div id="choices--choices-location-item-choice-7"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="7" data-value="DK" data-select-text="Press to select" data-choice-selectable="">
                                      Denmark
                                    </div>
                                    <div id="choices--choices-location-item-choice-8"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="8" data-value="DJ" data-select-text="Press to select" data-choice-selectable="">
                                      Djibouti
                                    </div>
                                    <div id="choices--choices-location-item-choice-9"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="9" data-value="ER" data-select-text="Press to select" data-choice-selectable="">
                                      Eritrea
                                    </div>
                                    <div id="choices--choices-location-item-choice-10"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="10" data-value="EE" data-select-text="Press to select"
                                         data-choice-selectable="">
                                      Estonia
                                    </div>
                                    <div id="choices--choices-location-item-choice-11"
                                         class="choices__item choices__item--choice choices__item--selectable" role="option"
                                         data-choice=""
                                         data-id="11" data-value="GM" data-select-text="Press to select"
                                         data-choice-selectable="">
                                      Gambia
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                </div>
                <!-- Sort -->

                <div class="filter-search-form relative border">
                  <i
                     class="uil uil-filter absolute top-[48%] -translate-y-1/2 start-3 z-1 text-primary text-[20px]"></i>
                  <div class="choices" data-type="select-one" tabindex="0" role="combobox" aria-autocomplete="list"
                       aria-haspopup="true"
                       aria-expanded="false">
                    <div class="choices__inner">
                      <select class="form-select choices__input" data-trigger=""
                              name="choices-location"
                              id="choices-location" aria-label="Default select example" hidden="" tabindex="-1"
                              data-choice="active">
                        <option value="AF" data-custom-properties="[object Object]">Pertinence</option>
                      </select>
                      <div class="choices__list choices__list--single">
                        <div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="AF"
                             data-custom-properties="[object Object]" aria-selected="true">Sort</div>
                      </div>
                    </div>
                    <div class="choices__list choices__list--dropdown" aria-expanded="false"><input type="search"
                             name="search_terms"
                             class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off"
                             spellcheck="false" role="textbox" aria-autocomplete="list" aria-label="null"
                             placeholder="">
                      <div class="choices__list" role="listbox">
                        <div id="choices--choices-location-item-choice-1"
                             class="choices__item choices__item--choice is-selected choices__item--selectable is-highlighted"
                             role="option" data-choice="" data-id="1" data-value="AF"
                             data-select-text="Press to select"
                             data-choice-selectable="" aria-selected="true">Ghana</div>
                        <div id="choices--choices-location-item-choice-2"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="2" data-value="AZ" data-select-text="Press to select" data-choice-selectable="">
                          Azerbaijan
                        </div>
                        <div id="choices--choices-location-item-choice-3"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="3" data-value="BS" data-select-text="Press to select" data-choice-selectable="">
                          Bahamas
                        </div>
                        <div id="choices--choices-location-item-choice-4"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="4" data-value="BH" data-select-text="Press to select" data-choice-selectable="">
                          Bahrain
                        </div>
                        <div id="choices--choices-location-item-choice-5"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="5" data-value="CA" data-select-text="Press to select" data-choice-selectable="">
                          Canada</div>
                        <div id="choices--choices-location-item-choice-6"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="6" data-value="CV" data-select-text="Press to select" data-choice-selectable="">
                          Cape
                          Verde
                        </div>
                        <div id="choices--choices-location-item-choice-7"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="7" data-value="DK" data-select-text="Press to select" data-choice-selectable="">
                          Denmark
                        </div>
                        <div id="choices--choices-location-item-choice-8"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="8" data-value="DJ" data-select-text="Press to select" data-choice-selectable="">
                          Djibouti
                        </div>
                        <div id="choices--choices-location-item-choice-9"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="9" data-value="ER" data-select-text="Press to select" data-choice-selectable="">
                          Eritrea
                        </div>
                        <div id="choices--choices-location-item-choice-10"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="10" data-value="EE" data-select-text="Press to select"
                             data-choice-selectable="">
                          Estonia
                        </div>
                        <div id="choices--choices-location-item-choice-11"
                             class="choices__item choices__item--choice choices__item--selectable" role="option"
                             data-choice=""
                             data-id="11" data-value="GM" data-select-text="Press to select"
                             data-choice-selectable="">
                          Gambia
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div></div>


                <div class="lg:mt-6" style="margin: 8px;">
                  <a href=""
                     class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-transparent hover:bg-gray-400  border-gray-500 text-gray-500 hover:text-white rounded-md w-full !h-12">
                    <i class="uil uil-filter"></i> More
                    filter</a>
                </div>


                <div class="lg:mt-6">
                  <button type="submit" id="search" name="search" (click)="search()"
                          class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-indigo-700 border-primary hover:border-indigo-700 text-white searchbtn w-full !h-12 rounded">
                    <i class="uil uil-search"></i> Search
                  </button>
                </div>

              </div><!--end grid-->
            </div><!--end container-->
          </form>
        </div>
      </div><!--end grid-->
    </div>
  </div><!--end grid-->
</div>