<!-- Graph Titles -->
<h5 class="text-sm md:text-lg font-light text-left mb-3">
  <span *ngIf="currentLoggedInOrganization?.type_organization?.category_organization_id === CategoryOrganizationEnum.IMPACT">Community Satisfaction
    Score</span>
  <span *ngIf="currentLoggedInOrganization?.type_organization?.category_organization_id === CategoryOrganizationEnum.CORPORATION">Community Due
    Diligence Score</span>
</h5>
<ng-container *ngIf="nps && !loading">


  <p-chart type="bar" [data]="chartData" [options]="options" height="14rem"></p-chart>
</ng-container>


<div class="flex justify-center">
  <app-page-loading *ngIf="loading"></app-page-loading>

  <app-missing-data *ngIf="!loading && !nps"></app-missing-data>
</div>