<div class="p-10">

  <div class="w-full flex justify-between bg-white shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="text-lg font-bold">Verify Metrics</div>

  </div>

  <div class="relative overflow-x-auto shadow-md ">
    <table class="w-full text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-400 capitalize bg-slate-100  dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-6">
            #
          </th>
          <th scope="col" class="px-6 py-6 ">
            Category
          </th>
          <th scope="col" class="px-6 py-6">
            Key
          </th>
          <th scope="col" class="px-6 py-6">
            Score
          </th>
          <th scope="col" class="px-6 py-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Acceptability -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            1
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Acceptability
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(impactFidelityScoreBreakdown?.acceptability! / 5) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ impactFidelityScoreBreakdown?.acceptability}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Appropriateness -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            2
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Appropriateness
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(impactFidelityScoreBreakdown?.appropriateness! / 5) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ impactFidelityScoreBreakdown?.appropriateness}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>



        <!-- Feasibility -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            3
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Feasibility
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(impactFidelityScoreBreakdown?.feasibility! / 5) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ impactFidelityScoreBreakdown?.feasibility}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Comprehensiveness -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            4
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Comprehensiveness
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(impactFidelityScoreBreakdown?.comprehensiveness! / 5) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ impactFidelityScoreBreakdown?.comprehensiveness}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>


        <!-- Quality of delivery -->
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 pointer hover:bg-gray-50 dark:hover:bg-gray-600">

          <!-- Number -->
          <td class="p-6">
            5
          </td>

          <!-- Name and Photo -->
          <th scope="row p-6">
            Quality of delivery
          </th>

          <!-- Key -->
          <td class="p-6">
            {{ scaleService.getScoreKey(impactFidelityScoreBreakdown?.quality_of_delivery! / 5) }}
          </td>

          <!-- Score -->
          <td class="p-6">
            <div class="flex items-center font-semibold">
              {{ impactFidelityScoreBreakdown?.quality_of_delivery}}
            </div>
          </td>



          <td class="p-6">
            <a href="#" class="font-medium text-slate-400 text-xl dark:text-slate-500 hover:text-secondary-dark mr-3"><i
                 class="mdi mdi-information"></i></a>

          </td>
        </tr>



      </tbody>
    </table>

    <div class="text-primary md:text-lg text-sm  bg-primary/5 p-5">
      <span class="me-2">
        <i class="mdi mdi-lightbulb-on"></i>
        Insight:
      </span>

      <!-- If the community has more than 10 respondents -->
      <span class="font-bold">
        Community beneficiaries confirm high impact which aligns with what Cocoa360 reported
      </span>



    </div>
  </div>



  <!-- Impact stories -->
  <div class="mt-10">
    <h3
        class="inline-block text-primary border-primary font-semibold  p-4  rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 text-lg">

      Impact stories

      <i data-popover-target="forecast-info" data-popover-placement="top" type="button"
         class="text-primary ms-2 mdi mdi-information"></i>

      <div data-popover id="forecast-info" role="tooltip"
           class="absolute z-999 invisible inline-block w-64 text-sm text-slate-50 transition-opacity duration-300 bg-primary border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">

        <div class="px-3 py-2">
          <p>Go beyond the quantitative impact data to see real-life stories in text and video, directly from your community beneficiaries.</p>
        </div>
        <div data-popper-arrow></div>
      </div>
    </h3>
    <p-carousel [value]="stories" [numVisible]="2" [showNavigators]="false" [numScroll]="3" [circular]="true"
                [autoplayInterval]="3000">
      <ng-template let-story pTemplate="item">
        <figure class="md:flex max-w-lg mx-10 bg-white rounded-xl p-8  dark:bg-slate-800">
          <img class="w-14 h-14 md rounded-full mx-auto object-cover"
               src="https://media.istockphoto.com/id/942153448/de/vektor/avatar.jpg?s=612x612&w=0&k=20&c=dYzovkqwc-ADwIYjH7fd6MdgaJi0UslcMC3ycK9dmSg="
               alt="" width="384" height="512">
          <div class=" md:px-5 text-center md:text-left space-y-4">
            <blockquote>
              <p class="tfont-medium dark:text-slate-100">
                “{{ story.about }}”
              </p>
            </blockquote>
            <figcaption class="font-medium">
              <div class="text-primary text-sm dark:text-sky-400">
                Verified Community Member
              </div>
              <div class="text-slate-700 text-sm dark:text-slate-400">
                {{ story.location }}
              </div>
            </figcaption>
          </div>
        </figure>
      </ng-template>
    </p-carousel>


  </div>
</div>