<section class="relative md:py-24 py-16 overflow-hidden">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h6 class="text-primary text-sm font-bold uppercase mb-2">Mundaly</h6>
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Why communities trust us</h3>

      <p class="text-slate-400 max-w-xl mx-auto">We amplify the voice of the community your product serves and the value
         your impact creates on-the-ground!

      </p>
    </div><!--end grid-->

    <div class="grid md:grid-cols-3 grid-cols-1 mt-8 gap-[30px]">
      <div
           class="group p-6 md:px-4 rounded-lg shadow dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
        <div
             class="w-16 h-16 bg-primary/5 text-primary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <i class="uil uil-money-withdrawal "></i>
        </div>

        <div class="content mt-7">
          <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Purpose-Built</a>
          <p class="text-slate-400 mt-3">Mundaly translates community needs into corporate success.</p>

          <div class="mt-5">
            <a href=""
               class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read
              More <i class="uil uil-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!--end feature content-->

      <div
           class="group p-6 md:px-4 rounded-lg shadow dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
        <div
             class="w-16 h-16 bg-primary/5 text-primary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <i class="uil uil-bill"></i>
        </div>

        <div class="content mt-7">
          <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Long-term sustainability</a>
          <p class="text-slate-400 mt-3">Potentially increase shareholder value by incorporating genuine community reviews</p>

          <div class="mt-5">
            <a href=""
               class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read
              More <i class="uil uil-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!--end feature content-->

      <div
           class="group p-6 md:px-4 rounded-lg shadow dark:shadow-gray-800 hover:shadow-md dark:hover:shadow-gray-700 bg-white dark:bg-slate-900 text-center duration-500">
        <div
             class="w-16 h-16 bg-primary/5 text-primary rounded-lg text-2xl flex align-middle justify-center items-center shadow-sm dark:shadow-gray-800 mx-auto">
          <i class="uil uil-presentation-line"></i>
        </div>

        <div class="content mt-7">
          <a href="page-services.html" class="title h5 text-lg font-medium hover:text-primary">Evidence Based</a>
          <p class="text-slate-400 mt-3">Our impact and risk dashboard is built on surveys and
            tools developed in conjunction with leading global social science researchers.</p>

          <div class="mt-5">
            <a href=""
               class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Read
              More <i class="uil uil-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!--end feature content-->
    </div>
  </div>

  <div class="container relative md:mt-24 mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center mt-16 gap-[30px]">
      <div class="relative">
        <img src="assets/images/app/classic01.png" class="mx-auto" alt="">
        <div
             class="overflow-hidden absolute lg:h-[400px] h-[320px] lg:w-[400px] w-[320px] bg-primary/5 bottom-2/4 translate-y-2/4 start-0 rotate-45 -z-1 shadow-md shadow-primary/10 rounded-[100px]">
        </div>
      </div>

      <div class="lg:ms-8">
        <h4 class="mb-4 md:text-3xl text-2xl lg:leading-normal leading-normal font-medium">Simple user-friendly <br> application</h4>
        <p class="text-slate-400"><strong>Community stakeholders</strong> interact and provide real-time and on-demand sustainability insights.
        They rate the sustainability efforts of the companies and those operating in their communities.</p>
        <ul class="list-none text-slate-400 mt-4">
          <li class="mb-1 flex"><i class="uil uil-check-circle text-primary text-xl me-2"></i> Headline Risk Surveys
          </li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-primary text-xl me-2"></i> Impact Fidelity Quotient
          </li>
          <li class="mb-1 flex"><i class="uil uil-check-circle text-primary text-xl me-2"></i> Community Perception Index
          </li>
        </ul>

        <div class="mt-4">
          <a href="page-aboutus.html"
             class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:duration-500 text-primary hover:text-primary after:bg-primary duration-500 ease-in-out">Find
            Out More <i class="uil uil-angle-right-b align-middle"></i></a>
        </div>
      </div>
    </div><!--end grid-->
  </div>
</section>
