.custom-submenu {
  position: fixed !important;
  top: 9% !important;
  width: 100vw !important;
  padding-left: 200px !important;
  li {
    &:hover > *,
    &:active > * {
      @apply text-indigo-600 scale-105 transition duration-300 ease-in-out;
    }
  }
}

#topnav .navigation-menu > li > a {
  font-size: 16px !important;
  color: #2c2a80 !important;
  &:hover {
    color: #4dc0b5 !important;
  }
}
