<section class="relative h-screen flex justify-center items-center bg-slate-50 dark:bg-slate-800">
    <div class="container relative">
        <div class="md:flex flex-col  items-center ">
            <!-- Logo -->
            <a href="https://mundaly.com" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="h-16 mr-2" src="https://res.cloudinary.com/mundaly/image/upload/f_auto,q_auto/p68a33iz9vzhxtwmr9xz"
                     alt="logo">
            </a>

            <div class="lg:w-2/5">
                <div class="relative overflow-hidden border border-primary rounded-md bg-white dark:bg-slate-900 shadow-lg dark:shadow-gray-700">
                    <div class="px-6 py-12 bg-secondary text-center">
                        <i class="uil uil-check-circle text-primary text-8xl"></i>
                        <h5 class="text-primary text-xl tracking-wide uppercase font-semibold mt-2">Success</h5>
                    </div>

                    <div class="px-6 py-12 text-center">
                        <p class="text-black font-semibold text-xl dark:text-white">Check your email </p>
                        <p class="text-slate-700 mt-4">Click the confirmation link in the email sent to <strong>email</strong> to continue. <br> </p>

                        <br>
                        <p class="text-slate-700 mt-4"><Strong>Didn't get email?</Strong> <br> Check your spam folder</p>


                    </div>


                </div>
            </div>
        </div>
    </div><!--end container-->
</section>