<div class=" p-5 py-7 border-b grid grid-cols-2 items-center w-full ">
    <div class="flex">
        <h2 class="text-3xl text-primary me-14">Programs</h2>
    </div>

    <div class="flex justify-self-end">
        <!-- Language dropdown -->
        <div class="me-5">
            <div id="languageDropdown" data-dropdown-toggle="language"
                 class="text-primary text-lg  font-medium  ">
                Language<span><i class="mdi mdi-menu-down"></i></span>
            </div>

            <!-- Dropdown menu -->
            <div id="language" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Location dropdown -->
        <div class="me-5">
            <div id="languageDropdown" data-dropdown-toggle="language"
                 class="text-primary text-lg  font-medium  ">
                All locations<span><i class="mdi mdi-menu-down"></i></span>
            </div>

            <!-- Dropdown menu -->
            <div id="language" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Messages -->
        <div class="me-5 relative">
            <div id="messageDropdown" data-dropdown-toggle="message"
                 class="text-primary text-2xl  font-bold  ">
                <span><i class="mdi mdi-email"></i></span>
            </div>

            <span
                  class="absolute top-0 end-[-5px] flex items-center justify-center bg-secondary text-white text-[10px] font-bold rounded-full w-3 h-3 after:content-[''] after:absolute after:h-2 after:w-2 after:bg-secondary after:top-0 after:end-0 after:rounded-full after:animate-ping"></span>

            <!-- Dropdown menu -->
            <div id="message" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Notifications -->
        <div class="relative">
            <div id="notificationDropdown" data-dropdown-toggle="notification"
                 class="text-primary text-2xl  font-bold  ">
                <span><i class="mdi mdi-bell"></i></span>
            </div>

            <span
                  class="absolute top-0 end-[-5px] flex items-center justify-center bg-secondary text-white text-[10px] font-bold rounded-full w-3 h-3 after:content-[''] after:absolute after:h-2 after:w-2 after:bg-secondary after:top-0 after:end-0 after:rounded-full after:animate-ping"></span>

            <!-- Dropdown menu -->
            <div id="notification" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<app-page-loading *ngIf="loading"></app-page-loading>

<app-missing-data *ngIf="!loading && !single"></app-missing-data>


<ng-container *ngIf="!loading && single">
    <div class="grid grid-col-1 bg-white border  rounded-xl overflow-hidden ">

        <!-- Organization information -->
        <div class="flex flex-col md:flex-row md:gap-10 gap-2 px-8 items-center pt-4 pb-8 relative">
            <div class="relative flex justify-center items-center md:flex-none">
                <!-- <div
                     class=" w-36 h-36 md:w-56 shrink-0 md:h-56  z-99 bg-white rounded-full overflow-hidden border-2 border-black border-opacity-10 "> -->

                <div class="h-32 w-32 bg-secondary border border-primary flex items-center justify-center rounded-full">
                    <div>
                        <i class="mdi text-[48px] text-primary font-semibold mdi mdi-chart-box"></i>
                    </div>
                </div>

                <!-- </div> -->

            </div>


            <!--  -->
            <div class="flex-col gap-2  inline-flex ">
                <!-- Basic information -->
                <div class="justify-between items-center    flex flex-col md:flex-row  md:inline-flex">
                    <div class=" items-center md:gap-5 gap-2 flex">
                        <!-- Title -->
                        <div class="text-violet-950 md:text-4xl text-2xl font-bold ">{{ single.name }}</div>



                    </div>


                </div>

                <!-- Location and badges -->
                <div class="justify-center items-start   gap-4 flex flex-col   md:inline-flex">
                    <!-- Location -->
                    <div class="  text-slate-500 text-base font-normal">
                        <span class=""><i class="mdi mdi-map-marker"></i></span> {{ single.country + ', ' + single.city }}
                    </div>

                    <div class="flex gap-3 md">
                        <div>
                            <span
                                  class="">
                                <i
                                   class="mdi mdi-calendar-outline"></i></span> {{ single.start_date | date:'MMMM, yyyy' }}
                        </div>

                        -
                        <div>
                            <span
                                  class="">
                                <i
                                   class="mdi mdi-calendar-outline"></i></span> {{ single.end_date | date:'MMMM, yyyy' }}
                        </div>


                    </div>

                </div>

                <div class=" text-slate-600 text-base md:w-3/4 font-normal  " [innerHTML]="single.description"></div>
            </div>
        </div>
    </div>


    <div class="text-sm font-medium text-center mt-5 text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
        <router-outlet></router-outlet>

    </div>
</ng-container>