<!-- Check your business -->
<div class="flex flex-col container items-center">
  <h2 class="md:text-3xl text-2xl text-center text-primary font-bold">
    Check your business
  </h2>
  <h4 class="text-center md:text-xl text-lg text-primary md:mt-5 px-2 mt-3 font-medium">See what communities are saying about you</h4>
  <div class="subcribe-form flex justify-center w-full md:mt-10 mt-5 mb-3">
    <form class="relative md:w-[627px] w-full " [formGroup]="form" (submit)="submit()">
      <!-- Input url -->
      <input type="email"
             id="subcribe"
             formControlName="websiteUrl"
             name="text"
             placeholder="www.mundaly.com "
             class="p-5 text-base w-full border-0 outline-none text-black dark:text-white rounded-full bg-white dark:bg-slate-900 shadow-lg dark:shadow-gray-800">

      <!-- Submit button -->
      <button type="submit"
              class="py-2 px-5 w-1/3 inline-block font-semibold tracking-wide align-middle duration-500 md:text-lg text-base text-center absolute top-[0px] end-[0px] h-full bg-secondary hover:bg-secondary-dark border  hover:border-secondary-dark text-primary rounded-r-full">
        Check
      </button>
    </form>
  </div>

</div>
